<md-dialog aria-label="Add an expense" ng-cloak id="expenses-add-expense" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a payment</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			<div ng-if="currentStep == 1">
				<div class="toto-input-container">
					<label>Operation date</label>
					<md-datepicker ng-model="expense.date" ></md-datepicker>
				</div>
				<div class="toto-input-container">
					<label>Payment amount</label>
					<input type="text" ng-model="expense.amount"/>
				</div>
				<div class="toto-input-container">
					<label>Currency</label>
					<md-select ng-model="expense.currency">
						<md-option>EUR</md-option>
						<md-option>DKK</md-option>
					</md-select>
				</div>
				<div class="toto-input-container">
					<label>Payment description</label>
					<input type="text" ng-model="expense.description"/>
				</div>
				<button ng-click="nextStep()">Next</button>
			</div>
			<div ng-if="currentStep == 2">
				<div class="title">What kind of payment is it?</div>
				<div class="category-picker">
					<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
						<md-grid-tile ng-repeat="category in categories" md-colspan="1" ng-click="selectCategory(category)">
							<div class="category-container {{category.selected ? 'selected' : ''}}" layout="column">
								<div class="image"><img src="images/expenses/avatars/{{category.filename}}" /></div>
								<div class="title">{{category.description}}</div>
							</div>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</div>

		</md-dialog-content>
	</form>
	
</md-dialog>
