<md-dialog aria-label="Add an expense" ng-cloak id="expenses-add-expense" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Category change</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div>
				<div class="title">Pick the new category</div>
				<div class="category-picker">
					<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
						<md-grid-tile ng-repeat="category in categories" md-colspan="1" ng-click="answer(category)">
							<div class="category-container" layout="column">
								<div class="image"><img src="images/expenses/avatars/{{category.filename}}" /></div>
								<div class="title">{{category.description}}</div>
							</div>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</div>

		</md-dialog-content>
	</form>
	
</md-dialog>
