
<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="expenses-dashboard" flex>
	<div class="toto-card" layout="row">
		<expenses-month-total currency="EUR"></expenses-month-total>
		<div flex></div>
		<div layout="column">
			<div flex></div>
			<div class="quickexpense" layout="column" ng-click="addQuickExpense($event)" md-whiteframe="2">
				<div flex></div>
				<div layout="row">
					<div flex></div>
					<div class="icon"><md-icon md-svg-src="images/svg/flash.svg"/></div>
					<div flex></div>
				</div>
				<div flex></div>
			</div>
			<div flex></div>
		</div>
		<div flex></div>
		<expenses-month-total currency="DKK" decimals="0"></expenses-month-total>
	</div> 
	
	<div class="toto-card categories-widget" ng-click="toggleCategoriesWidgetDetail()">
		<div class="title">Top spending Categories</div>
		<div class="content">
			<div class="bar" layout="row">
				<div class="item" style="width: {{item.percentage}}%; background-color: {{item.color}};" layout="column" ng-repeat="item in averageByCategoryReport.rows">
					<div flex></div>
					<md-icon md-svg-src="images/expenses/avatars-nofill/{{item.categoryFilename}}"></md-icon>
					<div flex></div>
				</div>
				<div layout="column" flex>
					<div flex></div>
					<div class="percentage">{{averageByCategoryReport.totalPercentage}}%</div>
					<div flex></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="toto-card categories-report-detail" style="display: none;">
	<div class="item" id="categories-report-detail-{{item.categoryCode}}" layout="row" ng-repeat="item in completeTopSpendingReport.rows" ng-click="toggleDetailReportItem(item)">
		<div class="avatar" layout="column">
			<div flex></div>
			<md-icon md-svg-src="images/expenses/avatars-nofill/{{item.categoryFilename}}"></md-icon>
			<div flex></div>
		</div>
		<div flex layout="row">
			<div class="bar" style="width: {{item.percentage}}%;">&nbsp;</div>
		</div>
		<div layout="column">
			<div flex></div>
			<div class="amount">&euro; {{item.amount | number : 2}}</div>
			<div flex></div>
		</div>
	</div>
	
	<div id="expenses-of-category">
		<div class="timeline"></div>
		<div class="month" ng-repeat="month in monthes" layout="column">
			<div layout="row" class="month-container">
				<div class="icon" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/calendar.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="description" layout="column">
					<div flex></div>
					<div>{{month.month | date : 'MMMM'}}</div>
					<div flex></div>
				</div>
			</div>
			<div class="expenses-container" layout="column">
				<div class="expense" ng-repeat="expense in month.expenses" layout="row">
					<div class="icon" layout="column" style="border: 3px solid {{expense.category.color}};" ng-click="changeCategory(expense, $event)">
							<div flex></div>
							<md-icon md-svg-src="images/expenses/avatars/{{expense.category.filename}}"></md-icon>
							<div flex></div>
						</div>
						<div layout="column" flex>
							<div flex></div>
							<div class="description">{{expense.description}}</div>
							<div flex></div>
						</div>
						<div layout="column">
							<div flex></div>
							<div class="amount">&euro; {{expense.amount | number : 2}}</div>
							<div flex></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="toto-card" id="expenses" class="{{categoriesWidgetDetailVisible ? 'hidden' : ''}}" flex>
		<div id="expenses-container" layout="column" flex>
			<div class="timeline"></div>
			<md-list>
				<md-list-item class="md-2-line" ng-repeat="expense in expenses">
					<div layout="row" style="width: 100%;" class="{{expense.consolidated ? '' : 'prospect'}}">
					<div class="avatar" style="background-image: url('images/expenses/avatars/{{expense.category.filename}}'); border-color: {{expense.category.color}};"></div>
						<div class="date" layout="column">
							<div flex></div>
							<div class="day">{{expense.date | date : 'd'}}</div>
							<div class="month">{{expense.date | date : 'MMM'}}</div>
							<div flex></div>
						</div>
						<div class="description" flex layout="column">
							<div flex></div>
							<div>{{expense.description}}</div>
							<div flex></div>
						</div>
						<div class="amount" layout="column">
							<div flex></div>
							<div>&euro; {{expense.amount | number : 2}}</div>
							<div flex></div>
						</div>
					</div>
	   			</md-list-item>
			</md-list>
		</div>
	</div>
</div>

<div class="toto-right-area" ng-show="gtMd"></div>