<toto-app-menu menus="expensesMenus"></toto-app-menu>

<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="expenses-dashboard" flex>
	<div class="toto-card" layout="row">
		<expenses-month-total currency="EUR" ng-click="go('/expenses/payments/EUR')"></expenses-month-total>
		<div flex></div>
		<div layout="column">
			<div flex></div>
			<div class="quickexpense" layout="column" ng-click="addQuickExpense($event)" md-whiteframe="2">
				<div flex></div>
				<div layout="row">
					<div flex></div>
					<div class="icon"><md-icon md-svg-src="images/svg/flash.svg"/></div>
					<div flex></div>
				</div>
				<div flex></div>
			</div>
			<div flex></div>
		</div>
		<div flex></div>
		<expenses-month-total currency="DKK" decimals="0" ng-click="go('/expenses/payments/DKK')"></expenses-month-total>
	</div> 

	<expenses-top-spending-categories currency="EUR"></expenses-top-spending-categories>	

	<expenses-list max-results="3"></expenses-list>	
</div>

<div class="toto-right-area" ng-show="gtMd"></div>