
form md-input-container {margin-bottom: 18px !important;}
form md-input-container.icon {}

form md-input-container .md-errors-spacer {min-height: 0;}

form label {font-size: 12px; color: rgba(0,0,0,0.5); margin: 8px 0 8px 0; padding: 0 !important; display: block;}
form md-input-container label {font-size: 12px; color: rgba(0,0,0,0.5); margin: 8px 0 4px 0;}
form md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {transform: translate3d(3px,6px,0) !important; -webkit-transform: translate3d(3px,6px,0) !important;}
form md-input-container.icon label {margin-left: 32px;}
form md-input-container.icon.md-input-focused label:not(.md-no-float), md-input-container.icon.md-input-has-placeholder label:not(.md-no-float), md-input-container.icon.md-input-has-value label:not(.md-no-float) {transform: translate3d(-29px,6px,0) !important; -webkit-transform: translate3d(-29px,6px,0) !important;}
form md-input-container.list label {font-size: 12px; color: rgba(0,0,0,0.5); margin: 8px 0 8px 0; padding: 0 !important; position: relative !important; display: block !important; transform: none !important;}

form h3 {font-size: 16px; color: rgba(0,0,0,0.87); margin: 0 0 3px 3px; font-weight: normal;} 
form md-input-container h3 {font-size: 16px; color: rgba(0,0,0,0.87); margin: 0; font-weight: normal;} 

form p {font-size: 14px; color: rgba(0,0,0,0.87); margin: 0 0 8px 3px;} 
form p.small {font-size: 12px;} 
form md-input-container p {font-size: 14px; color: rgba(0,0,0,0.87); margin: 0 0 8px 0;} 
form md-input-container p.small {font-size: 12px;} 

form md-input-container ul {list-style: none; margin: 0; padding: 0 0 0 3px;}
form md-input-container ul li {margin: 12px 0 12px 0; background-image: url("../../images/svg/checkbox.svg"); background-size: 24px; background-position: 0% 50%; background-repeat: no-repeat; padding-left: 36px;}
form md-input-container ul li h3 {margin: 0 0 3px 0;}
form md-input-container ul li p {}

form md-input-container.icon input {padding-left: 32px;}
form md-input-container.icon input.position {background-image: url("../../images/svg/location-pointer.svg"); background-repeat: no-repeat; background-size: 16px; background-position: 0% 50%;}
form md-input-container.icon input.euro {background-image: url("../../images/svg/euro.svg"); background-repeat: no-repeat; background-size: 16px; background-position: 0% 50%;}
