/******************************************************************************************************************
 * LIST - STANDARD GOOGLE
 *****************************************************************************************************************/
md-list.toto-list {position: relative;}
md-list.toto-list button.md-fab {display: none;}
md-list.toto-list md-list-item {overflow: hidden;}
md-list.toto-list md-list-item md-divider {left: auto !important;}
md-list.toto-list md-list-item button.trash {position: absolute; right: 0; top: 12px;}
md-list.toto-list md-list-item .md-list-item-text.note {margin-left: 12px;}
md-list.toto-list md-list-item .md-list-item-text.note p.short {width: 80%;}
md-list.toto-list button.md-fab {position: absolute; right: 12px; margin-top: -3px; display: block;}

@media only screen and (max-width: 960px) {
	
	md-list.toto-list {padding-top: 0;}
	md-list.toto-list .md-subheader {background: rgb(251, 251, 251); font-size: 16px;}
	
}

@media only screen and (min-width: 960px) {

	md-list.toto-list md-list-item:hover {background-color: #F9F9F9;}
	md-list.toto-list md-list-item button.trash {display: none; }
	md-list.toto-list md-list-item:hover button.trash {display: block;}
	md-list.toto-list md-list-item .md-list-item-text.note p.short {width: auto;}
	md-list.toto-list button.md-fab {position: absolute; right: 12px; margin-top: 18px; display: block;}
	
}

/******************************************************************************************************************
 * NOTES LIST
 *****************************************************************************************************************/
md-list.toto-list md-list-item .md-list-item-text.note {background-image: url('../../images/pen-bluegrey.png'); background-size: 32px; background-position: 0% 50%; background-repeat: no-repeat; padding-left: 48px;}