
<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="cards" flex>
		
	<div class="toto-card">
		<div class="title">Your credit cards</div>
		<div class="content">
			<md-grid-list md-cols="1" md-row-height="4:1" md-gutter="6px">
				<md-grid-tile ng-repeat="card in cards" >
					<div id="card-{{card.id}}" class="card" layout="row" ng-click="go('/card/' + card.id)">
						<div layout="column">
							<div flex></div>
							<div class="logo"><md-icon md-svg-src="images/svg/mastercard.svg"></md-icon></div>
							<div flex></div>
						</div>
						<div layout="column" flex>
							<div flex></div>
							<div class="name">{{card.name}} Card</div>
							<div class="pan">XXXX XXXX XXXX {{card.digits}}</div>
							<div flex></div>
						</div>
						<div layout="column">
							<div flex></div>
							<div class="expiry">{{card.expiry | date : 'MM/yy'}}</div>
							<div class="expiry-text">Expiry date</div>
							<div flex></div>
						</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
	
	<md-button class="md-fab floating" aria-label="Add a card" ng-click="addCard($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
</div>

<div class="toto-right-area" ng-show="gtMd"></div>