
<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="cards" flex>

	<div class="toto-card">
		<div class="content">
			<div layout="row" id="card-detail">
				<div class="card-icon"><md-icon md-svg-src="images/svg/mastercard.svg"></md-icon></div>
				<div layout="column" flex>
					<div flex></div>
					<div class="name">{{card.name}} Card</div>
					<div class="pan">XXXX XXXX XXXX {{card.digits}}</div>
					<div flex></div>
				</div>
				<div layout="column" class="billing">
					<div flex></div>
					<div class="day">{{card.billingDay}}</div>
					<div class="text">Bills on</div>
					<div flex></div>
				</div>
			</div>
			
			<div layout="row" id="expenses-detail">
				<div layout="column" class="card-total">
					<div flex></div>
					<div class="text"><span>&euro;</span> {{monthTotal | number : 2}}</div>
					<div flex></div>
				</div>
				<div flex></div>
				<div class="navigator" layout="column">
					<div flex></div>
					<div class="icon" ng-click="previousMonth()"><md-icon md-svg-src="images/svg/arrow-left.svg"></md-icon></div>
					<div flex></div>
				</div>
				<div class="card-month" layout="column">
					<div flex></div>
					<div class="text">{{currentMonth | date : 'MMM'}}</div>
					<div flex></div>
				</div>
				<div class="navigator" layout="column">
					<div flex></div>
					<div class="icon" ng-click="nextMonth()"><md-icon md-svg-src="images/svg/arrow-right.svg"></md-icon></div>
					<div flex></div>
				</div>
			</div>
		
			<div id="expenses" style="margin-left: 8px;">
				<div id="expenses-container" layout="column" flex>
					<div class="timeline"></div>
					<div class="list" layout="column">
						<div class="list-item" class="md-2-line" ng-repeat="expense in expenses">
							<div layout="row" style="width: 100%;" class="{{expense.consolidated ? '' : 'prospect'}}">
								<div class="avatar" style="background-image: url('images/expenses/avatars/{{expense.category.filename}}'); border-color: {{expense.category.color}};"></div>
								<div class="date" layout="column">
									<div flex></div>
									<div class="day">{{expense.date | date : 'd'}}</div>
									<div class="month">{{expense.date | date : 'MMM'}}</div>
									<div flex></div>
								</div>
								<div class="description" flex layout="column">
									<div flex></div>
									<div>{{expense.description}}</div>
									<div flex></div>
								</div>
								<div class="amount" layout="column">
									<div flex></div>
									<div>&euro; {{expense.amount | number : 2}}</div>
									<div flex></div>
								</div>
							</div>
			   			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<md-button class="md-fab floating" aria-label="Add an expense" ng-click="addPayment($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
</div>

<div class="toto-right-area" ng-show="gtMd"></div>
