<md-dialog aria-label="Add a card" ng-cloak id="cards" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a card</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			<div ng-if="currentStep == 1">
				<div class="toto-input-container">
					<label>Name</label>
					<input type="text" ng-model="card.name"/>
				</div>
				<div class="toto-input-container">
					<label>Last 4 digits</label>
					<input type="text" ng-model="card.digits"/>
				</div>
				<div class="toto-input-container">
					<label>Expiry date</label>
					<md-datepicker ng-model="card.expiry" ></md-datepicker>
				</div>
				<button ng-click="nextStep()">Next</button>
			</div>
			<div ng-if="currentStep == 2">
				<div class="toto-input-container">
					<label>Billing day</label>
					<input type="text" ng-model="card.billingDay"/>
				</div>
				<button ng-click="answer(card)">Done</button>
			</div>

		</md-dialog-content>
	</form>
	
</md-dialog>
