
<div class="toto-left-area" ng-show="gtMd"></div>

<div id="gym" class="toto-central-area" flex>

	<div class="toto-card">
		<md-list>
			<md-list-item class="md-2-line" ng-click="go('/recipe/' + recipe.id)" ng-repeat="recipe in recipes">
        		<div class="md-list-item-text" layout="column">
    	       		<h3>{{recipe.name}}</h3>
        	   		<p>Ingredients: {{recipe.ingredients}}</p>
	            	<md-divider/>
         		</div>
   			</md-list-item>
		</md-list>
	</div>
	
	<md-button class="md-fab md-fab-bottom-right" aria-label="Add recipe" ng-click="newRecipe()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

<div class="toto-right-area" ng-show="gtMd"></div>
