<div class="toto-left-area" ng-show="gtMd"></div>

<div id="gym" class="toto-central-area" flex>

	<div class="toto-card">
		<md-content style="padding: 16px;">
			<div class="section-header" layout="row">
				<h3>Ingredients</h3>
				<md-button class="md-icon-button" ng-click="showIngredients = !showIngredients">
					<md-icon md-svg-src="{{showIngredients ? 'images/svg/arrow-up.svg' : 'images/svg/arrow-down.svg'}}"></md-icon>
				</md-button>
			</div>
			<div class="ingredients-container" ng-show="showIngredients">
				<div class="ingredient" ng-repeat="ingredient in ingredients" md-swipe-right="toggleDeleteIcon(ingredient, true)" md-swipe-left="toggleDeleteIcon(ingredient, false)" layout="row">
					<span class="delete {{ingredient.showDelete ? 'show' : ''}}" ng-click="deleteIngredient(ingredient)">DELETE</span>
					<img ng-src="images/svg/ingredients.svg"/>
					<span ng-click="updateIngredientName(ingredient)">{{ingredient.name}}</span>
					<span ng-click="updateIngredientAmount(ingredient)" flex>({{ingredient.amount}})</span>
				</div>
			</div>
		</md-content>
		<md-divider style="border-top-width: 1px;"></md-divider>
		<md-content style="padding: 16px;" flex>
			<div class="section-header" layout="row">
				<h3>Procedure</h3>
				<md-button class="md-icon-button" ng-click="showProcedure = !showProcedure">
					<md-icon md-svg-src="{{showProcedure ? 'images/svg/arrow-up.svg' : 'images/svg/arrow-down.svg'}}" ng-click=""></md-icon>
				</md-button>
			</div>
			<div class="procedure-container" ng-show="showProcedure">
				<div class="step" layout="row" ng-repeat="step in steps">
					<div class="icon"></div>
					<div class="text" flex ng-click="updateStepDescription(step)">{{step.description}}</div>
				</div>
			</div>
		</md-content>
	</div>
	
	<md-fab-speed-dial class="floating md-scale" md-direction="up" md-open="false" >
		<md-fab-trigger>
			<md-button class="md-fab" aria-label="Menu" ng-click="">
				<md-icon md-svg-src="images/svg/bars.svg"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>	
			<md-button class="md-fab md-raised md-mini" aria-label="Add an ingredient" ng-click="addIngredient()">
				<md-icon md-svg-src="images/svg/ingredients.svg"></md-icon>
			</md-button>
			<md-button class="md-fab md-raised md-mini" aria-label="Add a procedure step" ng-click="addProcedureStep()">
				<md-icon md-svg-src="images/svg/recipe-procedure.svg" ></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>

<div class="toto-right-area" ng-show="gtMd"></div>
	