
#dashboard {}
#dashboard .dashboard-container {}
#dashboard .dashboard-container .app-bar {margin: 6px; height: 60px; box-sizing: border-box; padding: 0 8px; background-color: #80CBC4; border-radius: 3px; overflow-x: scroll;}
#dashboard .dashboard-container .app-bar .app-logo {width: 32px; height: 32px; min-width: 32px; background-repeat: no-repeat; background-size: 24px; background-position: 50%; margin: 0 6px;}
#dashboard .dashboard-container .app-bar .app-logo.trip {background-image: url("../images/map-indigo.png");}
#dashboard .dashboard-container .app-bar .app-logo.housekeeping {background-image: url("../images/tile-housekeeping.png");}
#dashboard .dashboard-container .app-bar .app-logo.health {background-image: url("../images/heart-blue.png");}
#dashboard .dashboard-container .app-bar .app-logo.gym {background-image: url("../images/bicycle-green.png");}
#dashboard .dashboard-container .app-bar .app-logo.recipe {background-image: url("../images/svg/cupcake.svg");}
#dashboard .dashboard-container .app-bar .app-logo.expenses {background-image: url("../images/loss.png");}
#dashboard .dashboard-container .app-bar .app-logo.tasks {background-image: url("../images/tasks-thumb.png");}
#dashboard .dashboard-container .app-bar .app-logo.monreale {background-image: url("../images/rented-house.png");}
#dashboard .dashboard-container .app-bar .app-logo.justice {background-image: url("../images/police.png");}
#dashboard .dashboard-container .app-bar .app-logo.card {background-image: url("../images/tile-credit-card.png");}
#dashboard .dashboard-container .app-bar .app-logo.weekend {background-image: url("../images/palm-tree.png");}
#dashboard .dashboard-container .app-bar .app-logo.piggy {background-image: url("../images/piggy.png");}
#dashboard .dashboard-container .app-bar .app-logo.sangiorgio {background-image: url("../images/home.png");}
#dashboard .dashboard-container .app-bar .app-logo.car {background-image: url("../images/steering-wheel.png");}
#dashboard .dashboard-container .app-bar .app-logo.flight {background-image: url("../images/airplane-pink.png");}
#dashboard .dashboard-container .app-bar .app-logo.hotel {background-image: url("../images/bed.png");}
#dashboard .dashboard-container .app-bar .app-logo.subscriptions {background-image: url("../images/subscriptions.png");}

#dashboard .top-apps-container {margin-top: 24px;}
#dashboard .top-apps-container .timeline {width: 100%; background-image: url('../images/dot-grey.png'); background-size: 6px; background-repeat: repeat-x; background-position: 50%; height: 46px; position: absolute;}
#dashboard .top-apps-container .top-app {height: 46px; width: 46px; background-color: white; z-index: 2; border: 3px solid #E8F5E9; border-radius: 50%; margin: 0 6px; outline: none;}
#dashboard .top-apps-container .top-app md-icon {opacity: 0.5; outline: none;}
#dashboard .top-apps-container .top-app.selected {border-color: #009688;}
#dashboard .top-apps-container .top-app.selected md-icon {opacity: 1;}

#dashboard .top-app-content {margin-top: 24px;}
#dashboard .top-app-content #top-app-expenses {}
#dashboard .top-app-content #top-app-expenses .amount-container {color: rgba(0,0,0,0.7); outline: none;}
#dashboard .top-app-content #top-app-expenses .amount-container .euro {font-size: 0.8em; margin-right: 6px;}
#dashboard .top-app-content #top-app-expenses .amount-container .amount {font-size: 1.4em;}
#dashboard .top-app-content #top-app-expenses .graph-container {margin: 12px 12px 0 12px; outline: none;}
#dashboard .top-app-content #top-app-expenses .graph-container .item {min-width: 32px;}
#dashboard .top-app-content #top-app-expenses .graph-container .item .amount {font-size: 0.7em;}
#dashboard .top-app-content #top-app-expenses .graph-container .item .bar-container {min-height: 38px; padding: 0 1px; margin: 6px 0;}
#dashboard .top-app-content #top-app-expenses .graph-container .item .bar {background-color: #B71C1C; border-top-left-radius: 50%; border-top-right-radius: 50%;}
#dashboard .top-app-content #top-app-expenses .graph-container .item .bar.current {opacity: 0.5;}
#dashboard .top-app-content #top-app-expenses .graph-container .item .label {font-size: 0.7em; text-align: center;}

#dashboard .top-app-content #top-app-expenses .relevant-expenses-container {margin: 24px;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container {width: 100%;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .extra-info {font-size: 0.6em;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .icon {width: 36px; height: 36px; box-sizing: border-box; border: 2px solid #B71C1C; border-radius: 50%; padding: 6px; margin-right: 12px;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .icon md-icon {width: 18px; height: 18px;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .amount-container {}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .amount-container .euro {font-size: 0.8em;}
#dashboard .top-app-content #top-app-expenses .relevant-expenses-container .relevant-expense-container .amount-container .amount {font-size: 1em;}

#dashboard .top-app-content #top-app-body {margin: 0 24px;}
#dashboard .top-app-content #top-app-body #current-body-weight-container {text-align: center;}
#dashboard .top-app-content #top-app-body #current-body-weight-container .label {font-size: 0.7em; opacity: 0.6; margin-bottom: 3px;}
#dashboard .top-app-content #top-app-body #current-body-weight-container .value {}
#dashboard .top-app-content #top-app-body #current-body-weight-container .value .weight {font-size: 1.34em;}
#dashboard .top-app-content #top-app-body #current-body-weight-container .value .kilo {font-size: 0.8em; margin-left: 3px; margin-top: 4px;}
#dashboard .top-app-content #top-app-body #gym #dashboard .muscle-selections-container {margin: -23px 0 0 -24px; width: calc(100% + 48px);}

#dashboard .top-app-content #top-app-weekends {}
#dashboard .top-app-content #top-app-weekends .next-destination {text-align: center; color: rgba(0,0,0,0.8);}
#dashboard .top-app-content #top-app-weekends .next-destination .next {font-size: 1.4em;}
#dashboard .top-app-content #top-app-weekends .next-destination .next .in {font-size: 0.6em;}
#dashboard .top-app-content #top-app-weekends .calendar {margin: 40px;}
#dashboard .top-app-content #top-app-weekends .calendar .we {border: 1px solid #e8e8e8; border-radius: 50%;}
#dashboard .top-app-content #top-app-weekends .calendar .we.booked {background-color: #A5D6A7;}
#dashboard .top-app-content #top-app-weekends .calendar .we figure {flex-direction: column; padding: 2px;}
#dashboard .top-app-content #top-app-weekends .calendar .we .date {opacity: 0.5; text-align: center; margin-top: 6px;}
#dashboard .top-app-content #top-app-weekends .calendar .we.booked .date {opacity: 0.8;}
#dashboard .top-app-content #top-app-weekends .calendar .we .date .day {font-size: 0.7em;}
#dashboard .top-app-content #top-app-weekends .calendar .we .date .month {font-size: 0.4em; text-transform: uppercase;}
#dashboard .top-app-content #top-app-weekends .calendar .we .icon md-icon {width: 32px; height: 32px; fill: currentColor; margin-top: 2px;}
