
.water-info-container {margin: 12px 0;}
.water-info-container toto-progress#water-consumption {width: 110px; height: 110px;}

.connection-line {border: 1px solid #00BCD4;}

diet-foods {padding-top: 12px; overflow: scroll; -webkit-overflow-scrolling: touch; margin: 12px; margin-top: 32px;}
.diet-food {margin-bottom: 18px; position: relative; outline: none; color: white;}
.diet-food .avatar {padding: 12px; border-radius: 50%; border: 3px solid #B2EBF2; margin-right: 12px;}
.diet-food .avatar md-icon {fill: white;}
.diet-food .name {font-size: 1.2em; }
.diet-food .details {font-size: 0.8em; opacity: 0.8; margin-top: 3px;}
.diet-food .options {position: absolute; right: 12px; height: 100%;}
.diet-food .options .option {padding: 12px; border-radius: 50%;}
.diet-food .options .option md-icon {fill: white;}
.toto-form .diet-food {color: rgba(0,0,0,0.8);}
.toto-form .diet-food .avatar md-icon {fill: currentColor;}

.toto-form .add-aliment {padding: 12px;border-radius: 50%;}
.toto-form .add-aliment md-icon {fill: white; }

diet-week-macronutrients {}
diet-week-macronutrients .line {margin: 12px 0; outline: none;}
diet-week-macronutrients .line .nutrient-container .circle {height: 66px; width: 66px; border: 4px solid #B2EBF2; border-radius: 50%; margin: 0 12px; box-sizing: border-box; position: relative;}
diet-week-macronutrients .line .nutrient-container .circle .text {text-align: center; font-size: 16px; color: white; font-weight: 500;}
diet-week-macronutrients .line .nutrient-container .circle .unit {text-align: center; font-size: 10px; color: white;}
diet-week-macronutrients .line .nutrient-container .circle.big {height: 98px; width: 98px; border-width: 6px;}
diet-week-macronutrients .line .nutrient-container .circle.big .text {font-size: 20px;}
diet-week-macronutrients .line .nutrient-container .circle.big .unit {font-size: 12px;}
diet-week-macronutrients .line .nutrient-container md-icon {fill: white; width: 18px; height: 18px; margin-top: 12px;}
diet-week-macronutrients .line .nutrient-container img {filter: invert(1); width: 18px; height: 18px; margin-top: 12px;}

.meals-container {margin: 12px; margin-top: 32px; overflow: scroll;}
.meals-container .meal-container {margin: 6px 0;}
.meals-container .meal-container .calories-container {border: 3px solid #B2EBF2; border-radius: 50%; width: 48px; height: 48px; color: white; text-align: center; outline:none;}
.meals-container .meal-container .calories-container .amount {font-size: 14px;}
.meals-container .meal-container .calories-container .unit {font-size: 8px;}
.meals-container .meal-container .time-container {margin-left: 12px; }
.meals-container .meal-container .time-container .hour {color: white;}
.meals-container .meal-container .aliments-container {margin-left: 12px;}
.meals-container .meal-container .aliments-container .aliments {}
.meals-container .meal-container .aliments-container .aliments .aliment {color: white; margin-right: 12px;}
.meals-container .meal-container .aliments-container .aliments .aliment .name {font-size: 16px;}
.meals-container .meal-container .aliments-container .aliments .aliment .amount {font-size: 12px; opacity: 0.8;}

diet-water {}
diet-water .line {margin: 12px 0; outline: none;}
diet-water .line .nutrient-container .circle {height: 66px; width: 66px; border-radius: 50%; margin: 0 12px; box-sizing: border-box; position: relative;}
diet-water .line .nutrient-container .circle .text {text-align: center; font-size: 16px; color: white; font-weight: 500;}
diet-water .line .nutrient-container .circle .unit {text-align: center; font-size: 10px; color: white;}
diet-water .line .nutrient-container md-icon {fill: white; width: 18px; height: 18px; margin-top: 12px;}
diet-water .line .nutrient-container img {filter: invert(1); width: 18px; height: 18px; margin-top: 12px;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/
@media only screen and (min-width: 960px) {
	
}

