/* #expenses-container md-list-item h3 {font-size: 18px;} */
/* #expenses-container md-list-item .description {line-height: 1em; font-weight: normal;} */
/* #expenses-container md-list-item .md-avatar {margin-top: 16px;} */

.expenses-header {background-color: #FFCDD2; height: 48px; padding: 14px 24px 0 24px; font-size: 18px; color: #B71C1C; min-height: 49px;}
.expenses-header .month {text-transform: uppercase;}
.expenses-header .money {}

#expenses .header {margin: 12px 0;}
#expenses .navigator {}
#expenses .navigator .calendar {margin-left: 23px; z-index: 2;}
#expenses .navigator .calendar md-icon {width: 32px; height: 32px; fill: #c5c5c5;}
#expenses .month-nav .arrow {background-color: #8BC34A;margin: 0 24px;border-radius: 50%;width: 28px;height: 28px;}
#expenses .month-nav .arrow md-icon {fill: white; margin-top: 2px; outline: none;}
#expenses .month-nav {text-align: center; font-size: 1.3em; }

#expenses #expenses-container {position: relative;}
#expenses #expenses-container .timeline {background-image: url('../images/dot-grey.png'); position: absolute; height: 90%; width: 32px; margin-left: 23px; background-size: 5px; background-repeat: repeat-y; background-position: 50%; }
#expenses #expenses-container md-list {margin-top: 12px;}
#expenses #expenses-container md-list md-list-item {color: rgba(0,0,0,0.8); min-height: 56px;}
#expenses #expenses-container md-list md-list-item .prospect {color: rgba(0,0,0,0.3);}
#expenses #expenses-container md-list md-list-item .avatar {background-color: white;border-radius: 50%;border: 3px solid #E0E0E0;width: 40px;height: 40px;background-size: 24px;background-position: 50%;background-repeat: no-repeat;outline: none;min-width: 40px;min-height: 40px;}
#expenses #expenses-container md-list md-list-item .date {margin-left: 12px; text-align: center; outline: none;}
#expenses #expenses-container md-list md-list-item .date .day {font-size: 1.2em;}
#expenses #expenses-container md-list md-list-item .date .month {font-size: 0.6em; text-transform: uppercase;}
#expenses #expenses-container md-list md-list-item .description {font-size: 0.8em; margin-left: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 12px; outline: none;}
#expenses #expenses-container md-list md-list-item .amount {font-size: 1em; outline: none;}
#expenses #expenses-container md-list md-list-item .weekend-icon md-icon {margin: 0 12px; width: 18px; height: 18px; fill: #4CAF50;}
#expenses #expenses-container md-list md-list-item .menu {}
#expenses #expenses-container md-list md-list-item .menu .icon {background-color: #8BC34A;border-radius: 50%;height: 40px;width: 40px;margin: 0 6px;background-position: 50%;background-size: 40%;background-repeat: no-repeat;}

toto-chimp #expenses #expenses-container .timeline {display: none;}
toto-chimp #expenses #expenses-container md-list md-list-item {color: rgba(255, 255, 255, 0.87);}
toto-chimp #expenses #expenses-container md-list md-list-item .avatar {background: transparent; width: 48px; height: 48px;}
toto-chimp #expenses #expenses-container md-list md-list-item .avatar md-icon {fill: rgba(255, 255, 255, 0.6);} 

#expenses-add-expense .type-container {margin-top: 24px; color: rgba(0,0,0,0.8);}
#expenses-add-expense .type-container .type {margin: 0 24px;}
#expenses-add-expense .type-container .type md-icon {width: 48px; height: 48px;}
#expenses-add-expense .type-container .type .name {margin-top: 24px; font-size: 1.2em;}
#expenses-add-expense .category-picker {margin: 0 -24px; }
#expenses-add-expense .category-picker-title {height: 40px; box-sizing: border-box; text-align: center; font-size: 16px; padding-top: 16px; color: #6F6E6E; background-color: #FFCDD2; margin: 0 -24px;}
#expenses-add-expense .category-picker md-grid-list {margin: 12px 32px 0 32px;}
#expenses-add-expense .category-container {opacity: 0.4;}
#expenses-add-expense .category-container.selected {opacity: 1;}
#expenses-add-expense .category-container .title {font-size: 12px; text-align: center; margin-top: 4px; color: #656464; padding-top: 0;}
#expenses-add-expense .category-container .image {text-align: center;}
#expenses-add-expense .category-container .image img {width: 56px;}
#expenses-add-expense md-switch.expense-form {margin-bottom: 16px !important;}

#expenses md-dialog-content {margin-top: 56px !important; padding: 0;}
#expenses md-dialog-content .expense-picker-header {background-color: #BBDEFB; position: relative; z-index: 2;}
#expenses md-dialog-content .expense-picker-header .year {text-align: center; padding-top: 14px;}
#expenses md-dialog-content .expense-picker-header .next {min-width: 24px; min-height: 24px;}
#expenses md-dialog-content .expense-picker-header .previous {min-width: 24px; min-height: 24px;}
#expenses md-dialog-content #expenses-container md-list md-list-item {max-height: 56px;}
#expenses md-dialog-content #expenses-container md-list md-list-item .md-button {line-height: inherit; min-height: 0;}

.stats-title {font-size: 14px; opacity: 0.7; margin-top: 12px; text-align: center;}
.stats-grid {margin-top: 12px;}
.stats-grid .stat-container {text-align: center;}
.stats-grid .stat-container .amount {margin-top: 6px; font-size: 18px; font-weight: 500;}
.stats-grid .stat-container .image {}
.stats-grid .stat-container .image img {width: 52px;}
.stats-grid .stat-container .title {font-size: 12px; opacity: 0.5; margin-top: 4px;}

expenses-month-total {outline: none;}
expenses-month-total .total {border: 5px solid #00BCD4;border-radius: 50%;box-sizing: border-box;height: 120px;width: 120px;text-align: center;margin: 15px 0;}
expenses-month-total .total .amount {font-size: 1.3em; color: rgba(0,0,0,0.8); text-align: center;}
expenses-month-total .total .amount span {font-size: 0.7em;}
expenses-month-total .total .month {font-size: 0.8em; margin-bottom: 6px; text-transform: uppercase;}
expenses-month-total .total md-icon {width: 18px; height: 18px; margin-top: 6px;}
expenses-month-total .total.small {height: 100px;width: 100px;}
expenses-month-total .total.small .amount {font-size: 1em;}
expenses-month-total .total.small .month {font-size: 0.7em; margin-bottom: 6px; text-transform: uppercase;}
expenses-month-total .total.small md-icon {width: 14px; height: 14px; margin-top: 6px;}

/************************************************************************
 * DASHBOARD
 ***********************************************************************/

#expenses-dashboard md-content {position: relative;}
#expenses-dashboard md-sidenav md-content {padding: 0};

#expenses-dashboard #expenses {opacity: 1; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}
#expenses-dashboard #expenses.hidden {opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}

#expenses-dashboard #totals-row {opacity: 1; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}
#expenses-dashboard #totals-row.hidden {opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}
#expenses-dashboard .quickexpense {background-color: #8BC34A;height: 62px;width: 62px;border-radius: 50%;box-sizing: border-box;margin: 15px 24px;}
#expenses-dashboard .quickexpense md-icon {fill: white;}

#expenses-dashboard .categories-widget {outline: none; z-index: 2;}
#expenses-dashboard .categories-widget .bar {height: 62px; border: 1px solid #FFCDD2; padding: 3px; border-radius: 5px;}
#expenses-dashboard .categories-widget .bar .item md-icon {fill: white; width: 20px; height: 20px;}
#expenses-dashboard .categories-widget .bar .percentage {text-align: right; font-size: 1.3em; margin-right: 12px; color: rgba(0,0,0,0.8);}

#expenses-dashboard .categories-report-detail {}
#expenses-dashboard .categories-report-detail .item {margin: 4px; opacity: 0; transition: opacity 0.5s; -webkit-transition: opacity 0.5s; outline: none;}
#expenses-dashboard .categories-report-detail .item.visible {opacity: 1; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}
#expenses-dashboard .categories-report-detail .item .bar {background-color: #0097A7;height: 32px;margin-left: -2px;}
#expenses-dashboard .categories-report-detail .item .avatar {padding: 0 6px;background-color: #0097A7;}
#expenses-dashboard .categories-report-detail .item .avatar md-icon {fill: white; width: 18px; height: 18px;}
#expenses-dashboard .categories-report-detail .item .amount {color: rgba(0,0,0,0.8);}

#expenses-dashboard #expenses-of-category {display: none; opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s; position: relative;}
#expenses-dashboard #expenses-of-category.visible {opacity: 1; transition: opacity 0.5s; -webkit-transition: opacity 0.5s;}
#expenses-dashboard #expenses-of-category .timeline {position: absolute; width: 36px; height: 100%; background-image: url(../images/dot-grey.png); background-size: 6px; background-repeat: repeat-y; background-position: 50%;}
#expenses-dashboard #expenses-of-category .month {}
#expenses-dashboard #expenses-of-category .month .month-container {margin: 12px 0;}
#expenses-dashboard #expenses-of-category .month .icon {border: 3px solid #e0e0e0; background-color: #ababab; border-radius: 50%; z-index: 2; box-sizing: border-box; padding: 6px; outline: none;}
#expenses-dashboard #expenses-of-category .month .icon md-icon {width: 18px; height: 18px; fill: white;}
#expenses-dashboard #expenses-of-category .month .description {text-transform: uppercase; margin-left: 6px; font-size: 0.9em;}
#expenses-dashboard #expenses-of-category .month .expenses-container {}
#expenses-dashboard #expenses-of-category .month .expenses-container .expense {margin: 3px 0;}
#expenses-dashboard #expenses-of-category .month .expenses-container .expense .icon {background-color: white; outline: none;}
#expenses-dashboard #expenses-of-category .month .expenses-container .expense .description {text-transform: none; overflow: hidden; white-space: nowrap; margin-right: 24px;}
#expenses-dashboard #expenses-of-category .month .expenses-container .expense .amount {font-size: 0.9em;}
 
/************************************************************************
 * RESPONSIVE
 ***********************************************************************/
@media only screen and (min-width: 960px) {
	#expenses md-sidenav {max-width: 400px;}
	
	.F-header {margin-top: 64px;}
}

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
	#expenses md-sidenav {max-width: 250px;}
}