
#ticket .toto-inapp-dashboard md-grid-tile .text .headline {font-size: 1.1em;}
#ticket .toto-inapp-dashboard md-grid-tile .text .subhead {font-size: 0.8em; margin-top: 3px;}

#ticket md-grid-tile.ticket {background-color: #B2EBF2;outline: none;color: #4c4c4c;}
#ticket md-grid-tile.ticket .floating-info {position: absolute; right: 12px; font-size: 1.2em; bottom: 12px;}
#ticket md-grid-tile.ticket md-icon.floating-info {border: none; width: 32px; height: 32px; padding: 0; fill: currentColor;}
#ticket md-grid-tile.ticket .planes {text-align: left; padding-top: 8px;}
#ticket md-grid-tile.ticket .planes md-icon {width: 24px; border: none; height: 24px; margin: 0; padding: 0; fill: currentColor;}
#ticket md-grid-tile.ticket .planes p {display: block; margin: 0; padding-top: 4px; margin-left: 6px;}

#ticket-details .toto-detail-dialog {}
#ticket-details .toto-detail-dialog .trip {font-size: 1.3em; text-align: center; margin-top: 12px;}
#ticket-details .toto-detail-dialog .dates {font-size: 0.8em; margin-top: 3px; text-align: center;}
#ticket-details .toto-detail-dialog .transport-title {margin: 12px 0 6px 0; font-size: 1.1em;}
#ticket-details .toto-detail-dialog md-grid-list.transport {margin-left: 3px; width: 100%;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile {background-color: #F8BBD0; color: #880E4F;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile md-icon {margin: auto 24px;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule {height: 100%; text-align: center;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .title {font-size: 0.8em; margin-top: 6px; margin-bottom: 3px;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .date {font-size: 0.8em; margin-bottom: 6px;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .airport {margin: 6px; font-size: 1.1em;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .time {margin: 6px; font-size: 1.1em;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .time-train {margin-top: 5px; font-size: 1.1em;}
#ticket-details .toto-detail-dialog md-grid-list.transport md-grid-tile .schedule .station {margin-top: -3px; font-size: 0.8em;}
#ticket-details .toto-detail-dialog md-grid-list.hotel {margin-top: 4px;}
#ticket-details .toto-detail-dialog md-grid-list.hotel md-grid-tile {background-color: #A5D6A7; color: #1B5E20;}
#ticket-details .toto-detail-dialog md-grid-list.hotel md-grid-tile md-icon {margin: auto 24px;}
#ticket-details .toto-detail-dialog md-grid-list.hotel md-grid-tile .name {font-size: 0.9em;}
#ticket-details .toto-detail-dialog md-grid-list.hotel md-grid-tile .address {font-size: 0.7em; margin-top: 6px;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/

@media only screen and (min-width: 960px) {
	#ticket md-content.toto-inapp-dashboard md-grid-tile md-icon {width: 30%; padding: 12px;}
	#ticket md-content.toto-inapp-dashboard md-grid-tile .text .headline {font-size: 1.3em; }
	#ticket md-content.toto-inapp-dashboard md-grid-tile .text .subhead {font-size: 0.9em; margin-top: 3px;}
}

