
#housekeeping .container {
	padding: 16px;
}
#housekeeping .container .housekeeper {
	background-image: url("../images/svg/cleaning-lady.svg");
	background-repeat: no-repeat;
	background-size: 87%;
	background-position: 50%;
	width: 50px;
	opacity: 0.75;
}
#housekeeping .container #owed-amount {
	padding: 5px 20px;
}
#housekeeping .container #owed-amount .title {
	font-size: 0.8em;
	opacity: 0.54;
}
#housekeeping .container #owed-amount .value {
    font-size: 32px;
}

#housekeeping #days {
	padding: 16px;
	background-color: white;
}
#housekeeping #days .title {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.54;
}
#housekeeping #days .month {
    text-align: center;
    margin: 24px 0 21px 0;
    font-weight: bold;
    text-transform: uppercase;
}
#housekeeping #days .calendar {}
#housekeeping #days .calendar md-grid-tile.day-label {
    font-size: 0.8em;
    opacity: 0.54;
}
#housekeeping #days .calendar md-grid-tile.pinned {background-color: #00BCD4;border-radius: 50%;color: white;}
#housekeeping #days .calendar md-grid-tile.pinning {background-color: #673AB7;border-radius: 50%; color: white;}