
#monreale #dashboard {padding: 6px;}

#monreale #dashboard md-grid-tile {background-color: #B2EBF2; }
#monreale #dashboard md-grid-tile md-icon {fill: white; width: 30%; padding: 12px; border-right: 1px solid rgba(0, 188, 212, 0.23);}
#monreale #dashboard md-grid-tile .text {padding: 0 12px; width: 100%;}
#monreale #dashboard md-grid-tile .text .headline {font-size: 1em; font-weight: 400; text-transform: uppercase;}
#monreale #dashboard md-grid-tile .text .subhead {font-size: 0.7em; text-transform: uppercase; margin-top: 6px;}
#monreale #dashboard md-grid-tile .text p {display: none;}

#monreale-incomes #content {padding: 12px;}
#monreale-incomes #content .year {margin-bottom: 24px;}
#monreale-incomes #content .year .headline {margin: 0 12px 12px 12px; font-size: 1.5em; opacity: 0.7;}
#monreale-incomes #content .year md-grid-tile {background-color: #C5E1A5; opacity: 0.4; text-transform: uppercase;}
#monreale-incomes #content .year md-grid-tile.highlight {opacity: 1; color: #545454;}


#monreale-taxes #content, #monreale-elec #content, #monreale-gas #content {padding: 6px;}
#monreale-taxes md-grid-tile, #monreale-elec md-grid-tile, #monreale-gas md-grid-tile {background-color: #C5E1A5; background-image: url("../images/svg/checked-white.svg"); background-repeat: no-repeat; background-size: 80%; background-position: 50%;}
#monreale-taxes md-grid-tile.unpaied, #monreale-elec md-grid-tile.unpaied, #monreale-gas md-grid-tile.unpaied {background-color: #EF9A9A; background-image: none;}
#monreale-taxes md-grid-tile.unpaied .text, #monreale-elec md-grid-tile.unpaied .text, #monreale-gas md-grid-tile.unpaied .text {opacity: 0.8;}
#monreale-taxes md-grid-tile .text, #monreale-elec md-grid-tile .text, #monreale-gas md-grid-tile .text {opacity: 0.5; height: 100%; padding: 24px 12px; width: 100%; text-align: center;}
#monreale-taxes md-grid-tile .text .headline, #monreale-elec md-grid-tile .text .headline, #monreale-gas md-grid-tile .text .headline {font-size: 1.2em; font-weight: 400;}
#monreale-taxes md-grid-tile .text .subhead, #monreale-elec md-grid-tile .text .subhead, #monreale-gas md-grid-tile .text .subhead {font-size: 0.7em; text-transform: uppercase; margin-top: 6px;}
#monreale-taxes md-grid-tile .text .info, #monreale-elec md-grid-tile .text .info, #monreale-gas md-grid-tile .text .info {display: none; margin-top: 12px; font-size: 1.1em;}
#monreale-taxes md-grid-tile .text p, #monreale-elec md-grid-tile .text p, #monreale-gas md-grid-tile .text p {display: none;}
#monreale-taxes md-grid-tile md-icon, #monreale-elec md-grid-tile md-icon, #monreale-gas md-grid-tile md-icon {fill: white; padding: 12px; position: absolute; bottom: 0; right: 0;}

#monreale-elec md-grid-tile div.background, #monreale-gas md-grid-tile div.background {position: absolute; width: 100%; height: 100%;}
#monreale-elec md-grid-tile div.background md-icon, #monreale-gas md-grid-tile div.background md-icon {position: relative; width: 60%; height: 60%; padding: 20%; margin: auto; opacity: 0.4;}

#monreale-charges #content {padding: 6px;}
#monreale-charges md-grid-tile {background-color: #C5E1A5;}
#monreale-charges md-grid-tile.critical {background-color: #EF9A9A;}
#monreale-charges md-grid-tile .text {height: 100%; padding: 24px 12px; width: 100%; text-align: center; z-index: 2; opacity: 0.8;}
#monreale-charges md-grid-tile .text .headline {font-size: 1.2em; font-weight: 400;}
#monreale-charges md-grid-tile .text .subhead {font-size: 0.7em; text-transform: uppercase; margin-top: 2px;}
#monreale-charges md-grid-tile div.background {position: absolute; width: 100%; height: 100%;}
#monreale-charges md-grid-tile div.background md-icon {position: relative; width: 60%; height: 60%; padding: 14% 0%; margin: auto; opacity: 0.8; fill: white;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/
#monreale md-card md-card-title {padding: 13px 16px;}
#monreale md-card md-card-title .md-headline {font-size: 20px;}

@media only screen and (min-width: 960px) {
	#monreale #dashboard {padding: 12px;}

	#monreale #dashboard md-grid-tile md-icon {width: 30%; padding: 24px; height: 50%;}
	#monreale #dashboard md-grid-tile .text {width: 100%;}
	#monreale #dashboard md-grid-tile .text .headline {font-size: 1.6em;}
	#monreale #dashboard md-grid-tile .text .subhead {font-size: 1em; margin-top: 3px;}
	#monreale #dashboard md-grid-tile .text p {display: block; font-size: 0.9em;}
	
	#monreale-incomes #content {padding: 24px;}
	#monreale-incomes #content .year .headline {margin: 0 12px 24px 12px; font-size: 1.8em;}
	
	#monreale-taxes #content, #monreale-elec #content, #monreale-gas #content {padding: 12px;}
	#monreale-taxes #content md-grid-tile .text, #monreale-elec #content md-grid-tile .text, #monreale-gas #content md-grid-tile .text {width: 100%;}
	#monreale-taxes #content md-grid-tile .text .headline, #monreale-elec #content md-grid-tile .text .headline, #monreale-gas #content md-grid-tile .text .headline {font-size: 1.5em;}
	#monreale-taxes #content md-grid-tile .text .subhead, #monreale-elec #content md-grid-tile .text .subhead, #monreale-gas #content md-grid-tile .text .subhead {font-size: 0.8em; margin-top: 3px;}
	#monreale-taxes #content md-grid-tile .text p, #monreale-elec #content md-grid-tile .text p, #monreale-gas #content md-grid-tile .text p {display: block; font-size: 0.8em;}
	#monreale-taxes md-grid-tile .text .info, #monreale-elec md-grid-tile .text .info, #monreale-gas md-grid-tile .text .info {display: block;}
	
	#monreale-charges md-grid-tile .text .subhead {font-size: 0.8em;}
	
	#monreale-add-charge form {margin-bottom: 24px;}
	
}

