
.partner-deed-container {color: rgba(0,0,0,0.8); margin: 6px 0;}
.partner-deed-container .points-container {width: 52px; height: 52px; border: 2px solid #00BCD4; border-radius: 50%; text-align: center;}
.partner-deed-container .points-container .points {font-size: 1em; height: 28px;}
.partner-deed-container .points-container .pts {font-size: 0.6em; }
.partner-deed-container .text-container {margin-left: 12px;}
.partner-deed-container .text-container .text {font-size: 1em;}

.partner-today-score-container {color: white; margin-bottom: 6px;}
.partner-today-score-container .score-container {border: 5px solid white; border-radius: 50%; width: 90px; height: 90px; text-align: center;}
.partner-today-score-container .score-container .score {font-size: 1.4em; height: 47px;}
.partner-today-score-container .score-container .points {font-size: 0.7em;}

.partner-my-deeds-container {}
.partner-my-deeds-container .score-container {width: 60px; height: 60px; border: 2px solid #00BCD4; border-radius: 50%; text-align: center;}
.partner-my-deeds-container .score-container .score {height: 32px; font-size: 1.2em;}
.partner-my-deeds-container .score-container .points {font-size: 0.6em;}
.partner-my-deeds-container .name {font-size: 0.8em; text-align: center; opacity: 0.5; margin-top: 6px; }
.partner-my-deeds-container .score-container.pending {opacity: 0.2;}

.partner-approve-deed-container {color: rgba(0,0,0,0.8); padding: 12px; text-align: center;}
.partner-approve-deed-container .title {opacity: 0.5; font-size: 1.1em; margin-bottom: 24px; }
.partner-approve-deed-container .deed {font-size: 1.2em; margin-bottom: 24px;}
.partner-approve-deed-container .actions-container {margin-bottom: 12px;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/
@media only screen and (min-width: 1280px) {
	
}

