
#project .projects-container {min-width: 20%;}
#project .projects-container .project-container {padding: 12px 9px; margin: 6px 0; outline: none;}
#project .projects-container .project-container .name-container {}
#project .projects-container .project-container .name-container .name {font-size: 1.2em;color: rgba(0,0,0,0.8);}
#project .projects-container .project-container .icon-container {margin-right: 12px;}
#project .projects-container .project-container .icon-container md-icon {width: 32px; height: 32px;}

#project .events-container {position: relative;}
#project .events-container .timeline {background-image: url('../images/dot-grey.png'); position: absolute; height: 100%; width: 32px; margin-left: 23px; background-size: 5px; background-repeat: repeat-y; background-position: 50%;}
#project .events-container .header {}
#project .events-container .header .icon {margin: 0 12px; padding: 12px 0; z-index: 2; background-color: white; outline: none;}
#project .events-container .header .icon md-icon {width: 52px; height: 52px; outline: none;}
#project .events-container .header .icon.sm md-icon {width: 30px; height: 30px; outline: none;}
#project .events-container .header .link {width: 24px; border-bottom: 1px solid #00BCD4;}
#project .events-container .header .filter-container {padding: 6px 12px; border-radius: 18px;}
#project .events-container .header .filter-container .filter {color: white; font-size: 0.9em;}
#project .events-container .header .filter-container .cancel {margin-left: 12px;}
#project .events-container .header .filter-container .cancel md-icon {width: 10px; height: 10px; fill: white;}

#project .events-container .events {}
#project .events-container .events .event-container {margin: 12px 0; outline: none;}
#project .events-container .events .event-container .icon-container {margin-left: 19px;z-index: 2;border-radius: 50%;border: 2px solid #00BCD4;background: white;color: black;height: 42px;width: 42px;}
#project .events-container .events .event-container .icon-container md-icon {height: 20px; width: 20px; fill: #007a87;}
#project .events-container .events .event-container .icon-container.relevant {background: #0097A7;border-color: #0097A7;height: 52px;width: 52px;margin-left: 13px;}
#project .events-container .events .event-container .icon-container.relevant md-icon {fill: white;width: 24px;height: 24px;}
#project .events-container .events .event-container .info-container {margin-left: 12px;}
#project .events-container .events .event-container .info-container .header {font-size: 0.7em;}
#project .events-container .events .event-container .info-container .header .date {opacity: 0.6;}
#project .events-container .events .event-container .info-container .title {margin: 2px 0; color: rgba(0,0,0,0.8)}
#project .events-container .events .event-container .info-container .footer {margin-top: 3px;}
#project .events-container .events .event-container .info-container .footer .block {font-size: 0.8em; opacity: 0.7;}
#project .events-container .events .event-container .info-icons {margin-left: 12px;}
#project .events-container .events .event-container .info-icons .icon {margin-right: 6px;}
#project .events-container .events .event-container .info-icons .icon md-icon {width: 16px; height: 16px; fill: #8a8a8a;}
#project .events-container .events .event-container .info-container.relevant .title {font-weight: 500;}
#project .events-container.event-detail .events .event-container .icon-container {margin-left: 0;}

#project .docs-container {margin: 6px 0;}
#project .docs-container .title {opacity: 0.5; font-size: 0.8em; margin: 12px 0 6px 0;}
#project .docs-container .doc-container {margin: 6px 0;}
#project .docs-container .doc-container .icon {margin: 0 12px 0 12px;}
#project .docs-container .doc-container .icon md-icon {}
#project .docs-container .doc-container .title {font-size: 1em; opacity: 0.87; margin:0;}
#project .docs-container .doc-container .additional-info {margin-left: 48px;}
#project .docs-container .doc-container .additional-info .versions-container {margin-top: 3px; outline: none;}
#project .docs-container .doc-container .additional-info .versions-container .versions {font-size: 0.8em; border-radius: 50%; color: rgba(0,0,0,0.7);}
#project .docs-container .doc-container .additional-info .versions-container .text {font-size: 0.8em; margin-left: 3px;}
#project .docs-container .doc-container .additional-info .versions-list {margin-top: 9px;}
#project .docs-container .doc-container .additional-info .versions-list .list-item {margin: 3px 0;}
#project .docs-container .doc-container .additional-info .versions-list .list-item .icon {margin-left: 0;}
#project .docs-container .doc-container .additional-info .versions-list .list-item .time {font-size: 0.6em; color: rgba(0,0,0,0.6);}
#project .docs-container .doc-container .additional-info .versions-list .list-item .filename {font-size: 0.9em;}
#project .docs-container .doc-container .additional-info .versions-list .toto-button-sm {margin-left: -7px; margin-top: 6px;}

#project .note-container {}
#project .note-container.ql-container {height: auto;}


/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/

@media only screen and (min-width: 960px) {
	
	#project #project-detail .projects-container {border-right: 1px solid #efefef;margin: -12px 0 -12px -12px; padding: 0;}
	#project .projects-container .project-container {margin: 0;}

	#project .events-container {margin: 0 12px;}
	
	#project .left-area {min-width: 25%;}
	#project .left-area .panel {padding: 16px 12px 16px 6px; border-radius: 3px;} 
	#project .left-area .panel .title {text-align: center; margin-bottom: 16px; font-size: 1.2em;}	
	
	#project #project-event .note-container {max-width: 60%; min-width: 60%; margin-right: 32px;}
	#project #project-event .docsTasksMail-container {padding: 12px; margin-right: 12px;}
}

