#subscriptions .subscriptions-container {padding-top: 12px; color: rgba(0,0,0,0.8);}
#subscriptions .subscriptions-container .subscription-container {margin: 6px 12px;}
#subscriptions .subscriptions-container .subscription-container .avatar {margin-right: 18px; margin-left: 6px; margin-top: 3px;}
#subscriptions .subscriptions-container .subscription-container .avatar md-icon {}
#subscriptions .subscriptions-container .subscription-container .info-container {border-bottom: 1px solid #eae5e5; padding-bottom: 12px;}
#subscriptions .subscriptions-container .subscription-container .info-container .info {margin-right: 12px;}
#subscriptions .subscriptions-container .subscription-container .info-container .info .name {font-weight: 500;}
#subscriptions .subscriptions-container .subscription-container .info-container .info .payment {color: rgba(0,0,0,0.5); font-size: 0.8em;}
#subscriptions .subscriptions-container .subscription-container .info-container .info .billing {color: rgba(0,0,0,0.5); font-size: 0.8em; text-transform: capitalize;}
#subscriptions .subscriptions-container .subscription-container .info-container .cost {}
#subscriptions .subscriptions-container .subscription-container .info-container .cost .box {text-align: center; background-color: #BF360C; color: white; padding: 6px; border-radius: 5px;}
#subscriptions .subscriptions-container .subscription-container .info-container .cost .box .expected {font-size: 0.6em;}
#subscriptions .subscriptions-container .subscription-container .info-container .cost .box .actual {margin-top: 3px; font-weight: 500;}
#subscriptions .subscriptions-container .subscription-container .info-container .cost .amount {}

#subscriptions .payment-type-container {margin: 12px;}
#subscriptions .payment-type-container .payment-type {background-color: #FF5722; padding: 12px; border-radius: 3px; color: rgba(0,0,0,0.6); opacity: 0.3; margin: 6px; text-align: center; outline: none;}
#subscriptions .payment-type-container .payment-type.selected {opacity: 1;}
#subscriptions .periods-container {margin: 12px;}
#subscriptions .periods-container .period {background-color: #FF5722; padding: 12px; border-radius: 3px; color: rgba(0,0,0,0.6); opacity: 0.3; margin: 6px; text-align: center; outline: none;}
#subscriptions .periods-container .period.selected {opacity: 1;}
#subscriptions .types-container {margin: 12px;}
#subscriptions .types-container .type-container {background-color: #FF5722; padding: 12px; border-radius: 50%; color: rgba(0,0,0,0.6); opacity: 0.3; margin: 6px; text-align: center; outline: none;}
#subscriptions .types-container .type-container md-icon {}
#subscriptions .types-container .type-container.selected {opacity: 1;}
#subscriptions .types-container .type-container.selected md-icon {fill: white;}

#subscriptions .actions-container {margin: 24px 0;}
#subscriptions .actions-container .action {margin: 0 12px;background-color: #8BC34A;padding: 12px;border-radius: 50%;outline: none;}
#subscriptions .actions-container .action md-icon {fill: white;}
#subscriptions .actions-container .action.save {background-color: #9C27B0;}

#subscriptions #expenses md-list {padding: 0;}
#subscriptions #expenses .timeline {margin-top: 0;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/
@media only screen and (min-width: 960px) {
	
}

