
#supermarket {}

#supermarket .header {margin: 12px 0; z-index: 2;}
#supermarket .header .icon {margin-right: 12px;}
#supermarket .header .icon md-icon {width: 32px; height: 32px;}
#supermarket .header .text {font-size: 1.2em; opacity: 0.87;}

#supermarket .goods-container {position: relative;}
#supermarket .goods-container .timeline {background-image: url('../images/dot-grey.png'); position: absolute; height: 100%; width: 32px; background-size: 5px; background-repeat: repeat-y; background-position: 50%; margin-top: -20px;}
#supermarket .goods-container .good {margin: 6px 0; z-index: 2;}
#supermarket .goods-container .good .checkbox-container {background-color: white;outline: none;}
#supermarket .goods-container .good .checkbox-container .checkbox {width: 28px;height: 28px;box-sizing: border-box;border: 2px solid #00BCD4;border-radius: 50%;margin-right: 12px; margin-left: 2px;}
#supermarket .goods-container .good .checkbox-container .checkbox md-icon {opacity: 0; height: 18px; width: 18px;}
#supermarket .goods-container .good .text-container {font-size: 1em; color: rgba(0,0,0,0.8); margin-right: 12px;}
#supermarket .goods-container .good .text-container .name {}
#supermarket .goods-container .good .text-container .amount {font-size: 1.1em;}
#supermarket .goods-container .good .text-container .project {}
#supermarket .goods-container .good .icon-container {margin: 0 12px 0 0;}
#supermarket .goods-container .good .icon-container md-icon {}
#supermarket .goods-container .good.bought .checkbox-container .checkbox {border: 2px solid #B2EBF2; background: #B2EBF2;}
#supermarket .goods-container .good.bought .checkbox-container .checkbox md-icon {opacity: 1;}


#supermarket .divider {position: relative; margin: 24px 0; border: 1px solid #B2EBF2;}
#supermarket .divider #supermarket-clear-bought {position: absolute; right: 12px; bottom: -19px; outline: none;}

/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/

@media only screen and (min-width: 960px) {
	
}

