
#tasks .md-fab {}

#tasks .categories-container {padding-bottom: 12px;}
#tasks .categories-container .category {margin: 0 18px;position: relative;outline: none;margin-top: 3px;}
#tasks .categories-container .category .icon {}
#tasks .categories-container .category .icon md-icon {fill: #B2DFDB;}
#tasks .categories-container .category .counter {position: absolute; background-color: #B2DFDB; bottom: -12px; right: -12px; padding: 6px; border-radius: 50%; box-sizing: border-box; width: 24px; height: 24px;}
#tasks .categories-container .category .counter .count {font-size: 0.6em; text-align: center; color: white; font-weight: 500;}
#tasks .categories-container .category.selected  .icon md-icon {fill: currentColor;}
#tasks .categories-container .category.selected .counter {background-color: #0097A7;color: white;}

#tasks .categories-container .inbox {position: relative; margin-right: 16px;}
#tasks .categories-container .inbox .counter {position: absolute;bottom: -12px;right: -12px;background-color: #00BCD4;padding: 6px;border-radius: 50%;box-sizing: border-box;width: 24px;height: 24px;}
#tasks .categories-container .inbox .counter .count {font-size: 0.6em; text-align: center; color: white; font-weight: 500;}

#tasks .tasks-container {}
#tasks .tasks-container .task-container .task {z-index: 2;}
#tasks .tasks-container .task-container .task .checkbox-container {outline: none;}
toto-chimp #tasks .tasks-container .task .checkbox-container {background-color: transparent;}
#tasks .tasks-container .task-container .task .checkbox-container .checkbox {width: 28px;height: 28px;box-sizing: border-box;border: 2px solid #00BCD4;border-radius: 50%;margin: 0 12px;}
#tasks .tasks-container .task-container .task .checkbox-container .checkbox md-icon {opacity: 0; height: 18px; width: 18px;}
#tasks .tasks-container .task-container .task .text-container {font-size: 0.9em;color: rgba(0,0,0,0.8);margin-right: 12px;outline: none;padding-top: 6px;}
toto-chimp #tasks .tasks-container .task .text-container {color: rgba(255, 255, 255, 0.87); font-size: 1em;}
#tasks .tasks-container .task-container .task .text-container .name {}
#tasks .tasks-container .task-container .task .text-container .project {}
#tasks .tasks-container .task-container .task .icon-container {margin: 0 12px 0 0;}
#tasks .tasks-container .task-container .task .icon-container md-icon {}
#tasks .tasks-container .task-container {margin: 6px 0;}
#tasks .tasks-container .task-container .task .task-details {margin-left: 52px; margin-top: 6px;}
#tasks .tasks-container .task-container .task .task-details .schedule {font-size: 0.8em; color: rgba(0,0,0,0.5);}
#tasks .tasks-container .task-container .task .task-details .project {font-.task-container .task  0.8em; color: rgba(0,0,0,0.5);}
#tasks .tasks-container .task-container .context-info {font-size: 0.8em;color: rgba(0,0,0,0.6);margin-top: 2px;}

#tasks .tasks-container .task.completed .checkbox-container .checkbox {opacity: 0.5;background-color: #B2EBF2;border-color: #B2EBF2;outline: none;}
#tasks .tasks-container .task.completed .checkbox-container .checkbox md-icon {opacity: 1;}
#tasks .tasks-container .task.completed .text-container .name {opacity: 0.3;}
#tasks .tasks-container .task.completed .icon-container {display: none;}
#tasks .tasks-container .task.completed .task-details .schedule {color: rgba(0,0,0,0.3);}
#tasks .tasks-container .task.completed .task-details .project {color: rgba(0,0,0,0.3);}
#tasks .tasks-container .task-container .context-info.completed {color: rgba(0,0,0,0.2);}

#tasks .tasks-container .timeline {background-image: url('../images/dot-grey.png'); position: absolute; height: 100%; width: 32px; margin-top: 12px; margin-left: 10px; background-size: 5px; background-repeat: repeat-y; background-position: 50%;}

#tasks .actions-container {margin: 6px 0;}
#tasks .actions-container .action {margin: 0 12px;background-color: #8BC34A;padding: 12px;border-radius: 50%;outline: none;}
#tasks .actions-container .action md-icon {fill: white;}
#tasks .actions-container .action.save {background-color: #0097A7;}

#tasks .notes-container {margin-top: 42px; position: relative;}
#tasks .notes-container .timeline .header {padding: 6px; border: 2px solid #80CBC4; border-radius: 50%; width: 32px; height: 32px; box-sizing: border-box; background-color: white; margin-top: -35px; margin-left: 1px;}
#tasks .notes-container .timeline .header md-icon {width: 16px; height: 16px;}
#tasks .notes-container .note-container {margin-left: 15px; z-index: 2; margin-bottom: 12px;}
#tasks .notes-container .note-container .timestamp {}
#tasks .notes-container .note-container .pin {
    z-index: 2;
}
#tasks .notes-container .note-container .pin md-icon {color: #B2EBF2;}
#tasks .notes-container .note-container .date {margin-left: 42px; font-size: 0.7em;}
#tasks .notes-container .note-container .note {margin: 0 12px;background-color: #B2EBF2;width: 100%;padding: 12px;box-sizing: border-box;border-radius: 5px;font-size: 0.8em;}
#tasks .notes-container .note-container .note textarea {background-color: transparent; border: none; resize: none; width: 100%; outline: none;}
#tasks .notes-container.completed {opacity: 0.4;}
#tasks .notes-container.completed .note-container .pin md-icon {opacity: 1 !important; z-index: 2;}

#postpone-dialog {margin: 12px;}
#postpone-dialog .schedule-icon {background-color: #efefef; padding: 12px; border-radius: 50%;}
#postpone-dialog .schedule-icon md-icon {}

#new-task {padding: 12px; color: rgba(0,0,0,0.8);}
#new-task textarea {width: 100%; font-size: 0.8em; padding: 6px; box-sizing: border-box; outline: none; resize: none; border-radius: 3px;}
#new-task button {background-color: #8BC34A;border: none;padding: 6px;border-radius: 3px;width: 100%;margin-top: 12px;color: white;font-size: 1.2em;}


/************************************************************************
 * RESPONSIVE
 ***********************************************************************/
@media only screen and (min-width: 960px) {
	#tasks md-sidenav {max-width: 400px;}
	
}

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
	#tasks md-sidenav {max-width: 250px;}
}