/************************************************************************
 * HTML TAGS
 ***********************************************************************/
md-toolbar {font-size: 0.9em; color: rgba(0, 0, 0, 0.7) !important; position: fixed !important; right: 0; top: 0; overflow: hidden; z-index: 3 !important;}
md-toolbar .image {
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 10% 50%;
	width: 24px;
	height: 100%;
	margin-right: 1em;
	opacity: 0.7;
}

md-toolbar md-icon {margin: 0;}
md-toolbar .md-toolbar-tools {z-index: 2;}
md-toolbar .md-toolbar-tools .md-icon-button {margin: 0; padding: 0;}
md-toolbar .md-toolbar-tools .md-icon-button.bottom-right {position: absolute; bottom: 24px; right: 24px;}
md-toolbar .md-toolbar-tools .md-icon-button.semi-transparent {opacity: 0.4;}

md-toolbar img.background {position: absolute; top: 0; width: 100%;}
md-toolbar h1.title {position: absolute;bottom: 24px;left: 24px;}
md-toolbar span.title {margin-left: 16px;}

md-card {font-size: 0.9em; color: rgba(0, 0, 0, 0.7) !important;}
md-card-footer {margin-top: 0 !important;padding-top: 0 !important;margin-bottom: 0 !important;padding-bottom: 0 !important;}
md-card-header.expandable #icon {background-size: 15px; width: 18px;height: 15px;display: inline-block;float: right;background-position: 50%;}

md-input-container {margin: 0 !important;}
md-switch {margin: 0 !important;}
md-datepicker {margin-bottom: 16px;}
md-datepicker button {margin: 0 !important; padding: 0 !important; width: 22px !important;}

md-list-item .md-list-item-text p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

md-sidenav md-content {margin-top: 56px;}
md-sidenav md-content md-list md-icon {margin-bottom: 16px !important;}
md-sidenav md-content md-list md-list-item.selected {background-color: #C5E1A5;}
.theme-red md-sidenav md-content md-list md-list-item.selected {background-color: #EF9A9A;}
.theme-blue md-sidenav md-content md-list md-list-item.selected {background-color: #90CAF9;}
.theme-brown md-sidenav md-content md-list md-list-item.selected {background-color: #BCAAA4;}
.theme-teal md-sidenav md-content md-list md-list-item.selected {background-color: #80CBC4;}
.theme-green md-sidenav md-content md-list md-list-item.selected {background-color: #C8E6C9;}
.theme-pink md-sidenav md-content md-list md-list-item.selected {background-color: #F8BBD0;}
.theme-amber md-sidenav md-content md-list md-list-item.selected {background-color: #FFECB3;}
.theme-deep-purple md-sidenav md-content md-list md-list-item.selected {background-color: #D1C4E9;}
.theme-cyan md-sidenav md-content md-list md-list-item.selected {background-color: #80DEEA;}
.theme-blue-grey md-sidenav md-content md-list md-list-item.selected {background-color: #B0BEC5;}
.theme-dark-orange md-sidenav md-content md-list md-list-item.selected {background-color: #FFAB91;}

button.md-icon-button input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

h2 {margin: 4px 0 0 0;}

.md-fab.floating, md-fab-speed-dial.floating {right: 0; bottom: 0; position: fixed; margin: 0 20px 20px 0;}
.md-fab.floating-toolbar, md-fab-speed-dial.floating-toolbar {top: 34px;right: 24px;position: fixed; margin: 0 20px 20px 0;}

/************************************************************************
 * COMMON TOTO THEMES
 ***********************************************************************/
#notes {overflow: hidden;} 
#notes button.show-hide-button {position: absolute; right: 0; margin-top: 6px; z-index: 2; opacity: 0.47;}

.toto-info-box, .toto-action-box {margin: 3px; width: 100%; padding: 6px; position: relative;}
.toto-info-box .label {padding: 4px; text-align: right; font-size: 0.8em !important; margin: 4px 12px 4px 4px !important; min-width: 120px; }
.toto-info-box .value {margin: 4px 12px 4px 4px !important; font-size: 0.8em; padding: 4px;}
.toto-info-box md-icon.background {position: absolute; opacity: 0.8; margin: 6px;}
.toto-info-box md-grid-list {font-size: 0.9em; width: 100%; margin: 2px 12px 4px 4px !important; padding: 4px;}
.theme-red .toto-info-box {background-color: #FFCDD2;}
.theme-green .toto-info-box {background-color: #C8E6C9;}
.theme-blue .toto-info-box {background-color: #90CAF9;}
.theme-brown .toto-info-box {background-color: #BCAAA4;}
.theme-teal .toto-info-box {background-color: #B2DFDB;}
.theme-pink .toto-info-box {background-color: #F8BBD0;}
.theme-amber .toto-info-box {background-color: #FFECB3;}
.theme-deep-purple .toto-info-box {background-color: #D1C4E9;}
.theme-red .toto-action-box {background-color: #FFEBEE;}
.theme-green .toto-action-box {background-color: #C8E6C9;}
.theme-blue .toto-action-box {background-color: #E3F2FD;}
.theme-brown .toto-action-box {background-color: #BCAAA4;}
.theme-teal .toto-action-box {background-color: #E0F2F1;}
.theme-pink .toto-action-box {background-color: #FCE4EC;}
.theme-amber .toto-action-box {background-color: #FFF8E1;}
.theme-deep-purple .toto-action-box {background-color: #EDE7F6;}
.theme-teal .toto-info-box md-grid-list md-grid-tile {background-color: #009688;}
@media only screen and (min-width: 960px) {
	.toto-info-box .label {font-size: 0.9em !important; }
	.toto-info-box .value {font-size: 1em; }
	.toto-info-box md-grid-list {font-size: 1em;}
}

md-grid-tile.toto-payment-tile {background-image: url("../images/svg/checked-white.svg"); background-repeat: no-repeat; background-size: 80%; background-position: 50%;}
md-grid-tile.toto-payment-tile.unpaied {background-color: #EF9A9A !important; background-image: none;}
md-grid-tile.toto-payment-tile.unpaied .text {opacity: 0.8;}
md-grid-tile.toto-payment-tile .text {opacity: 0.5; height: 100%; padding: 24px 12px; width: 100%; text-align: center;}
md-grid-tile.toto-payment-tile .text .headline {font-size: 1.2em; font-weight: 400;}
md-grid-tile.toto-payment-tile .text .subhead {font-size: 0.6em; text-transform: uppercase; margin-top: 6px;}
md-grid-tile.toto-payment-tile .text .info {display: none; margin-top: 12px; font-size: 1.1em; margin-bottom: 3px;}
md-grid-tile.toto-payment-tile .text .detail {margin-top: 3px; font-size: 0.7em;}
md-grid-tile.toto-payment-tile .text .detail.gt-sm {display: none;}
md-grid-tile.toto-payment-tile .text p {display: none;}
md-grid-tile.toto-payment-tile md-icon {fill: white; padding: 12px; position: absolute; bottom: 0; right: 0;}
md-grid-tile.toto-payment-tile div.background {position: absolute; width: 100%; height: 100%;}
md-grid-tile.toto-payment-tile div.background md-icon {position: relative; width: 60%; height: 60%; padding: 20%; margin: auto; opacity: 0.4;}
.theme-red md-grid-tile.toto-payment-tile {background-color: #C5E1A5;}
.theme-blue md-grid-tile.toto-payment-tile {background-color: #BBDEFB;}
.theme-brown md-grid-tile.toto-payment-tile {background-color: #D7CCC8;}
@media only screen and (min-width: 960px) {
	md-grid-tile.toto-payment-tile .text {width: 100%;}
	md-grid-tile.toto-payment-tile .text .headline {font-size: 1.5em;}
	md-grid-tile.toto-payment-tile .text .subhead {font-size: 0.8em; margin-top: 3px;}
	md-grid-tile.toto-payment-tile .text p {display: block; font-size: 0.8em;}
	md-grid-tile.toto-payment-tile .text .info, #justice-boh md-grid-tile .text .info, #justice-boh2 md-grid-tile .text .info {display: block;}
	md-grid-tile.toto-payment-tile .text .detail {margin-top: 3px; font-size: 0.8em;}
	md-grid-tile.toto-payment-tile .text .detail.gt-sm {display: block;}
}

.toto-inapp-dashboard {padding: 6px;}
.toto-inapp-dashboard md-grid-tile {background-color: #B2EBF2; }
.toto-inapp-dashboard md-grid-tile md-icon {width: 50%; height: 50%; fill: white; width: 30%; padding: 12px; border-right: 1px solid rgba(0, 188, 212, 0.23);}
.toto-inapp-dashboard md-grid-tile .text {padding: 0 12px; width: 100%;}
.toto-inapp-dashboard md-grid-tile .text .headline {font-size: 1em; font-weight: 400; text-transform: uppercase;}
.toto-inapp-dashboard md-grid-tile .text .subhead {font-size: 0.7em; text-transform: uppercase; margin-top: 6px;}
.toto-inapp-dashboard md-grid-tile .text p {display: none;}
@media only screen and (min-width: 960px) {
	.toto-inapp-dashboard {padding: 12px;}
	.toto-inapp-dashboard md-grid-tile md-icon {width: 30%; padding: 24px;}
	.toto-inapp-dashboard md-grid-tile .text {width: 100%;}
	.toto-inapp-dashboard md-grid-tile .text .headline {font-size: 1.6em;}
	.toto-inapp-dashboard md-grid-tile .text .subhead {font-size: 1em; margin-top: 3px;}
	.toto-inapp-dashboard md-grid-tile .text p {display: block; font-size: 0.9em;}
}

md-dialog-content.toto-detail-dialog {padding: 6px 11px 6px 6px !important;}
md-dialog-content {margin-top: 54px;}
@media only screen and (min-width: 960px) {
	md-dialog-content {margin-top: 67px;}
	md-dialog-content.toto-detail-dialog {padding: 24px !important;}
}

/************************************************************************
 * IMAGES
 ***********************************************************************/

.img-back {background-image: url("../images/back-black.png");}
.img-owe {background-image: url("../images/google-pay.png"); background-repeat: no-repeat;}
.img-alarm {background-image: url("../images/alarm-clock.png"); background-repeat: no-repeat;}
.img-confirm {background-image: url("../images/check-mark-lime.png"); background-repeat: no-repeat;}

.img-expand {background-image: url("../images/arrow-down.png");background-repeat: no-repeat;}
.img-collapse {background-image: url("../images/arrow-up.png");background-repeat: no-repeat;}


/************************************************************************
 * RESPONSIVE
 ***********************************************************************/
@media only screen and (min-width: 960px) {
	md-dialog {width: 60%;}
	
	md-toolbar img.background {width: 78px;right: 96px;top: 24px;border-radius: 50%;height: 78px; opacity: 1 !important;}
	.md-toolbar-tools {font-size: 18px !important; line-height: 18px !important;}
	
	md-content {padding-top: 64px !important;}
	
	md-list.toto-gt-sm-list-reduced {margin: 0 23%; background-color: #F9F9F9;box-shadow: 0px 0px 7px #B1ABAB;}
	
	md-sidenav {margin-top: 64px;}
	md-sidenav md-toolbar {display: none;}
	md-sidenav md-content {margin-top: 0;}
	
}

