
/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * MONEY GOALS (MOGOALS)
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/
.tile.card {
	background-image: url("../images/tile-credit-card.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 32%;
}
.tile.card .total {font-size: 0.8em; margin-bottom: 6px;}
.tile.card .total span {font-size: 0.8em;}

/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * MONEY GOALS (MOGOALS)
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/
.tile.mogoals {
	background-image: url("../images/svg/businessman.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}


/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * HOTEL
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/
.tile.hotel {
	background-image: url("../images/tile-bed.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}

/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * FLIGHT
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/
.tile.flight {
	background-image: url("../images/airplane-pink.png");
	background-repeat: no-repeat;
	background-size: 58%;
	background-position: 50%;
}


/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * WEEKEND
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/
#tile-weekend{}

#tile-weekend .weekend-icon {text-align: center;}
#tile-weekend .weekend-icon md-icon {fill: #1B5E20; }

#tile-weekend .next-we {color: #1B5E20;}
#tile-weekend .next-we div.timeline {font-size: 1em; font-weight: 500;}
#tile-weekend .next-we div.title {font-size: 0.7em; margin-top: 1px;}
#tile-weekend .next-we div.icon {display: none;}

#tile-weekend md-icon.warning {fill: #1B5E20; width: 25%; height: 25%; position: absolute; right: 47%; bottom: 12%; transition: right 0.1s; -webkit-transition: right 0.1s;}
#tile-weekend md-icon.warning.move-left {right: 49%; transition: right 0.1s; -webkit-transition: right 0.1s;}
#tile-weekend md-icon.warning.move-right {right: 45%; transition: right 0.1s; -webkit-transition: right 0.1s;}

@media only screen and (min-width: 960px) {
	#tile-weekend .next-we {margin-left: -5px;}
	#tile-weekend .next-we div.timeline {font-size: 1.1em;}
	#tile-weekend .next-we div.title {font-size: 0.8em; margin-top: 1px;}
	#tile-weekend .next-we div.icon {display: block; width: 32px; margin-top: 6px;}
	#tile-weekend .next-we div.icon md-icon {width: 32px; height: 32px;}
}


/*******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************
 * PIGGY
 *******************************************************************************************************************************************************************************
 *******************************************************************************************************************************************************************************/

.tile.piggy {}
.tile.piggy md-icon {
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
	width: 50% !important;
	height: 50% !important;
}
.tile.piggy md-icon.transition {
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
	width: 75% !important;
	height: 75% !important;
}

.tile.sangiorgio {
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 17% 50%;
}
.tile.sangiorgio div.info-container {height: 100%; position: absolute; width: 50%; right: 0; padding: 4px;}
.tile.sangiorgio div.info {font-size: 0.8em; margin-left: 6px;}
.tile.sangiorgio div.info md-icon {width: 14px !important; height: auto !important; margin: auto 6px;}
.tile.sangiorgio div.info span {margin: auto 6px;}
@media only screen and (min-width: 960px) {
	.tile.sangiorgio div.info-container {padding: 12px;}
	.tile.sangiorgio div.info md-icon {width: 20px !important;}
	.tile.sangiorgio div.info span {font-size: 1.3em; margin-left: 20px;}
}

.tile.car {
	background-image: url("../images/steering-wheel.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}

.tile.justice {
	background-image: url("../images/police.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}

.tile.monreale {
	background-image: url("../images/rented-house.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 17% 50%;
}
.tile.monreale div.info-container {height: 100%; position: absolute; width: 50%; right: 0; padding: 4px;}
.tile.monreale div.info {font-size: 0.8em; margin-left: 6px;}
.tile.monreale div.info md-icon {width: 14px !important; height: auto !important; margin: auto 6px;}
.tile.monreale div.info span {margin: auto 6px;}
@media only screen and (min-width: 960px) {
	.tile.monreale div.info-container {padding: 12px;}
	.tile.monreale div.info md-icon {width: 20px !important;}
	.tile.monreale div.info span {font-size: 1.3em; margin-left: 20px;}
}

.tile.tasks {
	background-image: url("../images/tasks-thumb.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.tasks .tasks-count {
	position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 0.8em;
    background-color: #00695C;
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #B2DFDB;
    line-height: 24px;
}
@media only screen and (min-width: 960px) {
	.tile.tasks .tasks-count {
	    bottom: 12px;
	    right: 12px;
	    font-size: 1.5em;
	    padding: 9px;
	    width: 28px;
	    height: 28px;
    line-height: 28px;
	}
}
.tile.expenses {
	background-image: url("../images/loss.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 17% 50%;
}
.tile.expenses .detail {width: 100%; text-align: right; padding-right: 12px; font-size: 18px; color: #B71C1C; font-weight: 500;}
@media only screen and (min-width: 960px) {
	.tile.expenses .detail {font-size: 20px;}
}
.tile.trip {
	background-image: url("../images/map-indigo.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.housekeeping {
	background-image: url("../images/tile-housekeeping.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.health {
	background-image: url("../images/heart-blue.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.gym {
	background-image: url("../images/bicycle-green.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
	animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.tile.gym .detail {
	opacity: 0;
}

.tile.travel {
	background-image: url("../images/camera-cyan.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.recipe {
	background-image: url("../images/svg/cupcake.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.tile.recipe div.cake-thumbnail {
    overflow: hidden;
    position: absolute;
    right: 0;
} 
.tile.recipe div.cake-thumbnail img {
	position: absolute;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	opacity: 0;
}
.tile.recipe div.cake-thumbnail img.visible {
	-webkit-transition: opacity 1.5s;
	transition: opacity 1.5s;
	opacity: 0.8;
}