
/****************************************************
 * FONT 
 ***************************************************/
@font-face {
	font-family: 'toto';
	src: url('fonts/BebasNeue Book.otf');
}

/****************************************************
 * COLORS  
 ***************************************************/
.theme-color {background: #00BCD4;} 
.theme-color-dark {background: #006064;}
.theme-accent-color {background: #FFEB3B;}
.theme-accent-color md-icon {fill: rgba(0,0,0,0.5);}

.theme-color-border {border-color: #00BCD4;}
.theme-color-dark-border {border-color: #006064;}

.text-accent {color: #FFEB3B;}

/****************************************************
 * FONTS  
 ***************************************************/
.toto-xxl {font-size: 52px;}
.toto-xl {font-size: 46px;}
.toto-l {font-size: 38px;}
.toto-m {font-size: 30px;}
.toto-s {font-size: 22px;}
.toto-xs {font-size: 14px;}

/****************************************************
 * TEXT  
 ***************************************************/
.center {text-align: center;}
.bold {font-weight: bold;}

/****************************************************
 * STANDARD DOM ELEMENTS 
 ***************************************************/
body {font-family: 'toto'; color: rgba(0,0,0,0.7) !important; -webkit-overflow-scrolling: touch;}

md-dialog.md-default-theme, md-dialog {background: #00BCD4 !important;}
md-toolbar {background: transparent !important; color: currentColor !important;}
md-toolbar md-icon {fill: currentColor !important; color: currentColor !important;}
area {fill: rgba(0,0,0,0.3);}

/****************************************************
 * DIRECTIVE - TOTO VALUE  
 ***************************************************/
toto-value {margin: 12px 0;}

toto-value .toto-label {margin-bottom: 3px;}
toto-value .toto-label-heading {margin-bottom: 6px;}

/****************************************************
 * DIRECTIVE - TOTO BUTTON  
 ***************************************************/
toto-button .icon-container {border: 2px solid #FFEB3B; border-radius: 50%; padding: 12px;}
toto-button.sm .icon-container {padding: 6px;}
toto-button .icon-container md-icon {fill: #FFEB3B;}
toto-button .toto-label {margin: 6px 0 0 0;}

/****************************************************
 * DIRECTIVE - TOTO HEADER  
 ***************************************************/
toto-header .toto-head {margin: 32px; text-align: center; text-transform: uppercase;}

/****************************************************
 * DIRECTIVE - TOTO DATE PICKER
 ***************************************************/
toto-datepicker {margin: 12px 0;}
toto-datepicker .toto-label {margin-bottom: 3px;}
toto-datepicker md-datepicker {margin: 0 !important; padding: 0 !important;}
toto-datepicker md-datepicker md-icon {margin-bottom: 10px;}
toto-datepicker .md-datepicker-input {font-size: inherit !important; max-width: 126px !important; font-family: toto;}
toto-datepicker .md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {border-bottom: transparent !important;}
toto-datepicker .md-datepicker-expand-triangle  {display: none !important;}

/****************************************************
 * DIRECTIVE - TOTO TIME PICKER
 ***************************************************/
toto-timepicker {marign: 12px 0;}
toto-timepicker md-icon {margin: 0 12px; outline: none;}
toto-timepicker .time {min-width: 24px;}

/****************************************************
 * DIRECTIVE - TOTO-LIST
 ***************************************************/
toto-list {overflow-y: scroll;}
toto-list .item {margin: 9px 24px;}
toto-list .item.no-item {opacity: 0.5;}
toto-list .item .avatar {border-width: 2px; border-style: solid; border-radius: 50%; padding: 6px; margin-right: 12px;}
toto-list .item .avatar md-icon {}
toto-list .item .title {}
 
/****************************************************
 * DIRECTIVE - FORM - TOTO NEXT STEP
 ***************************************************/
toto-next-step {margin: 24px 0;}



/************************************************************************
 * TOTO CLOCK 
 ***********************************************************************/
.toto-clock #selectedTimeDisplay {font-size: 32px; color: white; margin-top: 12px;}

/************************************************************************
 * TOTO NUMPAD 
 ***********************************************************************/
toto-numpad {}
toto-numpad md-icon.reset {width: 18px; height: 18px; outline: none; opacity: 0.7;}
toto-numpad .result {text-align: center; opacity: 0.7;}
toto-numpad .button {color: rgba(0,0,0,0.8); width: 80%; height: 80%; border-radius: 50%; outline: none;}
toto-numpad .button .md-ripple-container {border-radius: 50%;}
toto-numpad .button .text {text-align: center;}


