
#weekend md-grid-tile {background-color: #B2EBF2; color: #1B5E20; outline: none;}
#weekend md-grid-tile.not-scheduled {opacity: 0.5;}

#weekend md-grid-tile .tile-skin {width: 100%; height: 100%;}

#weekend md-grid-tile div.date {font-size: 1.2em; text-align: left; padding: 6px; text-transform: uppercase;}
#weekend md-grid-tile div.date span {font-size: 0.7em;}
#weekend md-grid-tile .info md-icon {position: absolute; top: 0; right: 0; width: 42px; height: 42px; margin: 12px;}
#weekend md-grid-tile .info .details {}
#weekend md-grid-tile .info .details .dates {display: none; font-size: 0.8em; padding: 12px 12px 8px 12px;}
#weekend md-grid-tile .info .details .transport {}	
#weekend md-grid-tile .info .details .transport md-icon {width: 20px; height: 20px; margin: 0 12px;}
#weekend md-grid-tile .location {font-size: 0.9em; height: 100%; margin: 32px 6px 0 6px; text-align: center;}
#weekend md-grid-tile .info .details .planes {display: none; text-align: left; margin-left: 12px;}
#weekend md-grid-tile .info .details .planes md-icon {width: 20px; border: none; height: 24px; margin: 0 !important; padding: 0 !important; fill: currentColor;}

#weekend-add md-grid-tile {background-color: #C8E6C9; color: #1B5E20; text-transform: uppercase;}
#weekend-add .location-container {width: 100%; padding-top: 12px;}
#weekend-add .location-container md-icon.location {width: 94px; height: 94px; margin: 0 41px;}

#weekend-details .trip {font-size: 1.3em; text-align: center; margin-top: 12px;}
#weekend-details .dates {font-size: 0.8em; margin-top: 3px; text-align: center;}
#weekend-details .action-box {border: 1px solid #D8D8D8; margin-top: 12px; border-radius: 5px;}
#weekend-details .weekend-section {margin-top: 24px; padding: 12px; border: 1px solid #D8D8D8; border-radius: 5px;}
#weekend-details .weekend-section .header .title {font-size: 1.2em; opacity: 0.8; margin-bottom: 12px;}
#weekend-details .weekend-section .header .icon {margin-right: 12px;}
#weekend-details .weekend-section .header .icon md-icon {}
#weekend-details .weekend-section .content {}
#weekend-details .weekend-section .content .message {color: #1B5E20; text-align: center; margin: 24px; font-size: 1.3em;}
#weekend-details .weekend-section .content .not-mobile {display: none;}
#weekend-details .weekend-section .content .flight-info {background-color: #C8E6C9; margin: 4px 0; padding: 8px;}
#weekend-details .weekend-section .content .flight-info .icon {margin: 0 24px 0 0;}
#weekend-details .weekend-section .content .flight-info .icon md-icon {width: 18px; height: 18px;}
#weekend-details .weekend-section .content .flight-info .date {font-size: 1.1m; margin: 0 12px 0 0;}
#weekend-details .weekend-section .content .flight-info .date span {font-size: 0.6em; padding-left: 4px; text-transform: uppercase; }
#weekend-details .weekend-section .content .flight-info .time {font-size: 1.1em; width: 180px;}
#weekend-details .weekend-section .content .flight-info .airport {width: 100%; margin: 0 12px 0 0; text-align: right;}
#weekend-details .weekend-section .content .flight-info .airport span {font-size: 1em;}
#weekend-details .weekend-section .content .timeline {position: relative; margin: 22px 36px;}
#weekend-details .weekend-section .content .timeline .background {position: absolute; width: 100%; height: 100%; background-image: url("../images/dot-grey.png"); background-repeat: repeat-x; background-size: 12px; background-position: 50%;}
#weekend-details .weekend-section .content .timeline .moment {z-index: 2;}
#weekend-details .weekend-section .content .timeline .moment .date {text-transform: uppercase; text-align: center; margin-bottom: 6px;}
#weekend-details .weekend-section .content .timeline .moment .icon {background-color: #4CAF50; border-radius: 50%; height: 52px; width: 52px; box-sizing: border-box; padding: 13px 0 0 13px;}
#weekend-details .weekend-section .content .timeline .moment .icon md-icon {fill: white;}
#weekend-details .weekend-section .content .timeline .moment .time {text-align: center; margin-top: 6px;}

#weekend-details .weekend-section.hotels .content .navigator {background-color: #F3F3F3; margin: 0 3px; min-width: 24px; border-radius: 3px;}
#weekend-details .weekend-section.hotels .content .navigator.disabled {opacity: 0.4;}
#weekend-details .weekend-section.hotels .content .navigator md-icon {}
#weekend-details .weekend-section.hotels .content .hotel {color: rgba(0,0,0,0.8); margin-top: 24px; width: 100%;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info {text-align: center;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info .timeline {background-image: url("../images/dot-grey.png"); background-repeat: repeat-x; background-size: 12px; margin: 0; background-position: 50%;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info .date {padding: 6px 12px; background-color: #43A047; color: white; border-radius: 3px;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info .date .dayOfWeek {font-size: 0.8em;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info .date .day {font-size: 1.4em;}
#weekend-details .weekend-section.hotels .content .hotel .dates-info .date .month {text-transform: uppercase; font-size: 0.9em;}
#weekend-details .weekend-section.hotels .content .hotel .name {font-size: 1.4em; text-align: center; margin-top: 20px;}
#weekend-details .weekend-section.hotels .content .hotel .address {text-align: center; font-size: 0.8em; margin-top: 6px;}
#weekend-details .weekend-section.hotels .content .hotel .pin {margin-top: 24px; margin-bottom: 12px;} 
#weekend-details .weekend-section.hotels .content .hotel .pin md-icon {width: 48px; height: 48px; outline: none;}
#weekend-details .weekend-section.hotels .content .hotel .action {height: 100%;}
#weekend-details .weekend-section.hotels .content .hotel .action .button {background-color: #CFD8DC; border-radius: 50%; height: 40px; width: 40px; background-position: 50%; background-size: 40%; background-repeat: no-repeat;}

#weekend-details .weekend-section.economics .content .total {background-color: #43A047; color: white; font-size: 1.3em; padding: 12px; border-radius: 3px; margin: 12px 0 20px 0;}
#weekend-details .weekend-section.economics .content .total.temporary {background-color: #ADA9A9;}
#weekend-details .weekend-section.economics .content .payments {max-height: 168px; overflow-y: scroll;}
#weekend-details .weekend-section.economics .content .payments .payment {position: relative; font-size: 1.1em; margin: 3px 0; line-height: 25px; min-height: 25px; color: rgba(0,0,0,0.8);}
#weekend-details .weekend-section.economics .content .payments .payment .icon {margin-right: 12px; outline: none;}
#weekend-details .weekend-section.economics .content .payments .payment .icon md-icon {}
#weekend-details .weekend-section.economics .content .payments .payment .description {font-size: 0.8em; overflow-x: hidden; white-space: nowrap; margin-right: 12px; text-overflow: ellipsis; outline: none;}
#weekend-details .weekend-section.economics .content .payments .payment .euro {margin-right: 6px; font-size: 0.8em; outline: none;}
#weekend-details .weekend-section.economics .content .payments .payment .euro.temporary {opacity: 0.5;}
#weekend-details .weekend-section.economics .content .payments .payment .amount {font-size: 0.8em; outline: none;}
#weekend-details .weekend-section.economics .content .payments .payment .amount.temporary {opacity: 0.5;}
#weekend-details .weekend-section.economics .content .payments .payment .menu {position: absolute; right: 0;}
#weekend-details .weekend-section.economics .content .payments .payment .menu .icon {background-color: #CFD8DC; border-radius: 50%; height: 24px; width: 24px; margin: 0 3px; background-position: 50%; background-size: 50%; background-repeat: no-repeat;}

#weekend-details .navigator {margin-top: 12px;}
#weekend-details .navigator .item {margin: 0 6px; outline: none;}
#weekend-details .navigator .item md-icon {fill: #C8E6C9; outline: none;}
#weekend-details .navigator .item.selected md-icon {fill: #4CAF50;}

/******************************************************************************************************************
 * ARCHIVE
 ******************************************************************************************************************/
#weekend md-grid-tile.archived-weekend {background-color: #C8E6C9; color: #1B5E20; outline: none; border-radius: 3px;}

#weekend md-grid-tile.archived-weekend .tile-skin {width: 100%; height: 100%;}

#weekend md-grid-tile.archived-weekend div.date {padding: 12px; text-align: center;}
#weekend md-grid-tile.archived-weekend div.date .day {font-size: 1.2em; text-transform: uppercase;}
#weekend md-grid-tile.archived-weekend div.date .month {font-size: 0.6em;}
#weekend md-grid-tile.archived-weekend .info md-icon {position: initial; width: 32px; height: 32px; margin-left: 6px;}
#weekend md-grid-tile.archived-weekend .location {font-size: 1em; height: auto; margin: 0; text-align: left; padding-left: 0;}
#weekend md-grid-tile.archived-weekend .cost {font-size: 1.2em; text-align: right; margin-right: 12px;}
#weekend md-grid-tile.archived-weekend .cost span {font-size: 0.6em;}
#weekend md-grid-tile.archived-weekend .cost.temporary {opacity: 0.5;}


/******************************************************************************************************************
 * RESPONSIVE
 ******************************************************************************************************************/
@media only screen and (min-width: 960px) {
	
	#weekend md-grid-tile .location {margin-top: 42px;}
	
	#weekend-details .weekend-section .title {font-size: 1.3em;}
	#weekend-details .weekend-section .content .timeline {margin: 22px 0;}
	#weekend-details .weekend-section .content .flight-info {padding: 12px;}
	#weekend-details .weekend-section .content .flight-info .icon md-icon {width: 24px; height: 24px;}
	#weekend-details .weekend-section .content .flight-info .date {font-size: 1.3em;}
	#weekend-details .weekend-section .content .flight-info .time {width: 100px; font-size: 1.3em;}
	#weekend-details .weekend-section .content .flight-info .airport {text-align: left;}
	#weekend-details .weekend-section .content .flight-info .airport span {font-size: 1.2em;}
	#weekend-details .weekend-section .content .not-mobile {display: block;}
	
	#weekend-details .weekend-section.hotels .content .hotel {width: auto; min-width: 400px;}
	
	/*****************
	 * PLANE TICKETS *
	 ****************/
	#weekend-details md-grid-tile.ticket .text .headline {font-size: 1.3em;}
	#weekend-details md-grid-tile.ticket .text .subhead {font-size: 0.9em;}
	
	md-dialog#weekend-add  {height: 50%;}	
}

