
<div ng-class="['toto-xs', 'center', 'toto-label']" >{{label}}</div>
<div layout="row">
	<div flex></div>
	<div layout="column">
		<md-icon md-svg-src="images/svg/arrow-up-full.svg" ng-click="addHour()"></md-icon>
		<md-icon md-svg-src="images/svg/arrow-down-full.svg" ng-click="subtractHour()"></md-icon>
	</div>
	<div layout="column">
		<div flex></div>
		<div ng-class="['toto-m', 'center', 'time']">{{hours < 10 ? '0' + hours : hours}}</div>
		<div flex></div>
	</div>
	<div layout="column">
		<div flex></div>
		<div ng-class="['toto-m', 'center']">:</div>
		<div flex></div>
	</div>
	<div layout="column">
		<div flex></div>
		<div ng-class="['toto-m', 'center', 'time']">{{minutes < 10 ? '0' + minutes : minutes}}</div>
		<div flex></div>
	</div>
	<div layout="column">
		<md-icon md-svg-src="images/svg/arrow-up-full.svg" ng-click="addMinute()"></md-icon>
		<md-icon md-svg-src="images/svg/arrow-down-full.svg" ng-click="subtractMinute()"></md-icon>
	</div>
	<div flex></div>
</div>