<md-dialog aria-label="Add a missing good" ng-cloak id="supermarket-add-missing" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a missing good</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			
			<div class="toto-input-container">
				<label>Name</label>
				<input type="text" ng-model="good.name"/>
			</div>
<!-- 			<div class="toto-input-container"> -->
<!-- 				<label>Amount</label> -->
<!-- 				<input type="text" class="small" ng-model="good.amount" value="1"/> -->
<!-- 			</div> -->
			<button ng-click="answer(good)">Done</button>
			
		</md-dialog-content>
	</form>
	
</md-dialog>
