
<div class="theme-cyan" id="supermarket" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('exp-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Supermarket</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="exp-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-class="[menu.selected ? 'selected' : '']" ng-repeat="menu in supermarketMenus" ng-click="goAndSelect(menu, supermarketMenus)"><md-icon md-svg-src="{{menu.imageUrl}}"></md-icon><p>{{menu.name}}</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
		
		<md-content style="padding: 12px;" layout="column" flex>
		
			<div class="header" layout="row">
				<div class="icon" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/shopping-basket.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="text" layout="column">
					<div flex></div>
					<div>Stuff to buy</div>
					<div flex></div>
				</div>
			</div>

			<div class="goods-container" layout="column">
				<div class="timeline"></div>
				<div class="good missing" layout="row" ng-repeat="good in goods" ng-if="!good.bought">
					<div class="checkbox-container" layout="column">
						<div flex></div>
						<div class="checkbox" layout="column" ng-click="buyGood(good)">
							<div flex></div>
							<md-icon ng-if="good.bought" md-svg-src="images/svg/checked.svg"></md-icon>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
<!-- 					<div class="text-container" layout="column"> -->
<!-- 						<div flex></div> -->
<!-- 						<div class="amount">{{good.amount}}</div> -->
<!-- 						<div flex></div> -->
<!-- 					</div> -->
					<div class="text-container" layout="column" flex>
						<div flex></div>
						<div class="name">{{good.name}}</div>
						<div flex></div>
					</div>
				</div>
			</div>
			
			<div class="divider" ng-if="anyBoughtGood">
				<div id="supermarket-clear-bought" class="toto-button-sm accent-color" ng-click="clearBoughtGoods()" layout="column" md-whiteframe="3">
					<div flex></div>
					<md-icon md-svg-src="images/svg/trash.svg"></md-icon>
					<div flex></div>
				</div>
			</div>
						
			<div class="goods-container" layout="column">
				<div class="good bought" layout="row" ng-repeat="good in goods" ng-if="good.bought">
					<div class="checkbox-container" layout="column">
						<div flex></div>
						<div class="checkbox" layout="column" ng-click="unbuyGood(good)">
							<div flex></div>
							<md-icon md-svg-src="images/svg/checked.svg"></md-icon>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
<!-- 					<div class="text-container" layout="column"> -->
<!-- 						<div flex></div> -->
<!-- 						<div class="amount">{{good.amount}}</div> -->
<!-- 						<div flex></div> -->
<!-- 					</div> -->
					<div class="text-container" layout="column" flex>
						<div flex></div>
						<div class="name">{{good.name}}</div>
						<div flex></div>
					</div>
				</div>
			</div>
			
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Add a plan" ng-click="addMissingGood()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

