
<div id="tasks">
	<div class="toto-card tasks-container">
		<div layout="row">
			<div layout="column" flex>
				<div class="title">{{title}}</div>
				<div class="subtitle">You have {{uncompletedTasks}} tasks to complete</div>
			</div>
			<div class="header-icon" layout="column" ng-click="go('/tasks')"><div flex></div><md-icon md-svg-src="images/svg/tasks-check.svg"></md-icon><div flex></div></div>
		</div>
		<div class="content" layout="column">
			<div class="task-container" ng-repeat="task in tasks" layout="column">
				<div class="task {{task.completed ? 'completed' : ''}}"  layout="row">
					<div class="checkbox-container" layout="column" ng-click="toggleCompleteTask(task)">
						<div class="checkbox" layout="column">
							<div flex></div>
							<md-icon md-svg-src="images/svg/checked.svg"></md-icon>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
					<div class="text-container" layout="column" flex ng-click="go('/tasks/' + selectedSchedule + '/' + task.id)">
						<div class="name">{{task.title}}</div>
						<div layout="row" flex>
							<div class="context-info {{task.completed ? 'completed' : ''}}" ng-if="task.contextInfo != null">{{task.contextInfo}}</div>
						</div>
					</div>
					<div class="icon-container" layout="column" ng-click="postponeTask($event, task)">
						<md-icon md-svg-src="images/svg/forward.svg"></md-icon>
						<div flex></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>