<md-dialog aria-label="Add a tax" ng-cloak id="car-add-tax" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add an ingiunzione to a tax</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content">
			<div layout="column">
				<div layout="row" style="margin-bottom: 24px;">
					<md-input-container>
						<label>Amount</label>
						<input ng-model="ingiunzione.amount"/>
					</md-input-container>
					<md-input-container>
						<label>Reference</label>
						<input ng-model="ingiunzione.reference"/>
					</md-input-container>
					<md-datepicker ng-model="ingiunzione.dueDate" style="margin-left: 12px;" ></md-datepicker>
				</div>
			</div>
		</md-dialog-content>
	</form>
	
	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(ingiunzione)">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
</md-dialog>
