<md-dialog aria-label="Show the details of a tax" ng-cloak id="car-bollo-details" class="theme-cyan">
	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
			</md-button>
			<span class="title" flex>Bollo {{tax.year}}</span>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content toto-detail-dialog">
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Year</div><div class="value">{{tax.year}}</div></div>
				<div layout="row" class="row"><div class="label">Due Date</div><div class="value">{{tax.dueDate | date: 'dd.MM.yy'}}</div></div>
			</div>
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Amount</div><div class="value">&euro; {{tax.amount | number : 2}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" ng-if="tax.ingiunzione != null">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Ingiunzione N.</div><div class="value">{{tax.ingiunzione.reference}}</div></div>
				<div layout="row" class="row"><div class="label">Amount</div><div class="value">&euro; {{tax.ingiunzione.amount | number : 2}}</div></div>
				<div layout="row" class="row"><div class="label">Due Date</div><div class="value">{{tax.ingiunzione.dueDate | date : 'dd.MM.yy'}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" ng-if="tax.linkedPaymentId == null" >
			<div class="toto-action-box" layout="row" flex>
				<md-button  aria-label="link to payment" ng-click="linkToExpense(tax, $event)" ng-if="tax.linkedPaymentId == null" flex>
					<md-icon class="right" md-svg-src="images/svg/share.svg" style="fill: #0D47A1;"></md-icon>
				</md-button>
				<md-button  aria-label="add ingiunzione" ng-click="addIngiunzione(tax, $event)" ng-if="tax.ingiunzione == null && tax.linkedPaymentId == null" flex>
					<md-icon class="right" md-svg-src="images/svg/police-hat.svg" style="fill: #0D47A1;"></md-icon>
				</md-button>
			</div>
		</div>
	</md-dialog-content>
	
</md-dialog>
