
<div class="theme-cyan" id="tasks" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('tasks-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Tasks</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="tasks-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item ng-click="go('/tasks/inbox')"><md-icon md-svg-src="images/svg/incoming.svg"></md-icon><p>Inbox</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/tasks')"><md-icon md-svg-src="images/svg/dashboard.svg"></md-icon><p>Today</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
		
		<md-content flex class="toto-inapp-dashboard tasks-dashboard">
			<md-grid-list md-cols-xs="2" md-cols-gt-sm="4" md-row-height-gt-sm="4:1" md-row-height="2:1" md-gutter="4px"> 
				<md-grid-tile class="{{selectedCategory == category.name ? 'selected' : ''}}" md-ink-ripple="true" ng-click="getTasks(category)" layout="row" md-rowspan="1" ng-repeat="category in categories" >
					<md-icon md-svg-src="images/tasks/{{category.name}}.svg" ></md-icon>
					<div class="text" layout="row">
						<div class="subhead" flex>{{category.description}}</div>
						<div class="headline">3</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
			<div class="task-container">
				<md-card ng-repeat="task in tasks" class="task {{task.completed ? 'completed' : (task.scheduledForToday ? 'scheduledToday' : ''	)}}" layout="row">
					<md-checkbox flex ng-click="toggleCompleteTask(task)" ng-model="task.completed">{{task.title}}</md-checkbox>
					<div class="due" ng-if="task.due">{{task.due | date : 'dd.MM'}}</div>
					<div class="flag {{task.scheduledForToday ? 'selected' : ''}}" ng-click="scheduleTaskForToday(task)"></div>
<!-- 					<div class="priority">{{task.priority}}</div> -->
					<div class="context">{{task.context}}</div>
				</md-card>
			</div>
		</md-content>
	</section>
	
</div>

