
<toto-app-menu menus="tasksMenus"></toto-app-menu>

<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="tasks" flex>

	<div class="toto-card dark-primary-color">
		<div class="categories-container" layout="row">
			<div flex></div>
			<div class="inbox" ng-click="selectSchedule('inbox')">
				<div class="icon" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/incoming.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="counter" layout="column">
					<div flex></div>
					<div class="count">{{inbox.counter}}</div>
					<div flex></div>
				</div>
			</div>
			<div class="category {{selectedSchedule == cat.name ? 'selected' : ''}}" ng-repeat="cat in categories" ng-click="selectSchedule(cat.name)">
				<div class="icon">
					<div flex></div>
					<md-icon md-svg-src="images/tasks/{{cat.svg}}"></md-icon>
					<div flex></div>
				</div>
				<div class="counter" layout="column" ng-if="cat.counter > 0">
					<div flex></div>
					<div class="count">{{cat.counter}}</div>
					<div flex></div>
				</div>
			</div>
			<div flex></div>
		</div>
	</div>
	
	<div class="toto-card tasks-container">
		<div class="title">{{selectedScheduleDescription}}</div>
		<div class="content" layout="column">
			<div class="task-container" ng-repeat="task in tasks" layout="column">
				<div class="task {{task.completed ? 'completed' : ''}}"  layout="row">
					<div class="checkbox-container" layout="column" ng-click="toggleCompleteTask(task)">
						<div class="checkbox" layout="column">
							<div flex></div>
							<md-icon md-svg-src="images/svg/checked.svg"></md-icon>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
					<div class="text-container" layout="column" flex ng-click="go('/tasks/' + selectedSchedule + '/' + task.id)">
						<div class="name">{{task.title}}</div>
						<div layout="row" flex>
							<div class="context-info {{task.completed ? 'completed' : ''}}" ng-if="task.contextInfo != null">{{task.contextInfo}}</div>
						</div>
					</div>
					<div class="icon-container" layout="column" ng-click="postponeTask($event, task)">
						<md-icon md-svg-src="images/svg/forward.svg"></md-icon>
						<div flex></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<md-button class="md-fab floating" aria-label="Add a task" ng-click="addTask($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

<div class="toto-left-area" ng-show="gtXs"></div>