<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/themes.css" />
<link rel="stylesheet" href="css/forms.css" />
<link rel="stylesheet" href="css/dashboard.css" />
<link rel="stylesheet" href="css/colors.css" />
<link rel="stylesheet" href="css/housekeeping.css" />
<link rel="stylesheet" href="css/health.css" />
<link rel="stylesheet" href="css/gym.css" />
<link rel="stylesheet" href="css/travel.css" />
<link rel="stylesheet" href="css/recipe.css" />
<link rel="stylesheet" href="css/trip.css" />
<link rel="stylesheet" href="css/expenses.css" />
<link rel="stylesheet" href="css/tasks.css" />
<link rel="stylesheet" href="css/monreale.css" />
<link rel="stylesheet" href="css/justice.css" />
<link rel="stylesheet" href="css/car.css" />
<link rel="stylesheet" href="css/sangiorgio.css" />
<link rel="stylesheet" href="css/piggy.css" />
<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/weekend.css" />
<link rel="stylesheet" href="css/hotel.css" />
<link rel="stylesheet" href="css/flight.css" />
<link rel="stylesheet" href="css/mogoals.css" />
<link rel="stylesheet" href="css/card.css" />
<link rel="stylesheet" href="css/toto.css" />
<link rel="stylesheet" href="css/subscriptions.css" />
<link rel="stylesheet" href="css/diet.css" />
<link rel="stylesheet" href="css/supermarket.css" />
<link rel="stylesheet" href="css/project.css" />
<link rel="stylesheet" href="css/jobsearch.css" />
<link rel="stylesheet" href="css/util/calendar.css" />
<link rel="stylesheet" href="css/util/list.css" />
<link rel="stylesheet" href="css/util/form.css" />
<link rel="stylesheet" href="css/util/googleMapSearchDlg.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.2/quill.snow.css">

<link rel="manifest" href="manifest.json">

<meta name="viewport" content="initial-scale=1">
<meta name="google-signin-client_id" content="209706877536-4h516ud369nuaakag4gbtlvq4d735ag9.apps.googleusercontent.com">
<meta name="theme-color" content="#0097A7" />

<script src="js/util/google-maps-init.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.js"></script>
<script src="js/lib/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4KA2WAZ2BKf4qrAWPWvfYKen0A0p9gx4&callback=initGoogleMap" async defer></script>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="https://cdn.quilljs.com/1.3.2/quill.js"></script>
<script src="js/lib/clickoutside.directive.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/lib/ExifRestorer.js"></script>
<script src="js/lib/progressbar.min.js"></script>
<script src="js/util/google-signin-init.js"></script>
<script src="js/config.js"></script>
<script src="js/toto.js"></script>
<script src="js/housekeeping.js"></script>
<script src="js/health.js"></script>
<script src="js/gym.js"></script>
<script src="js/gymDirectives.js"></script>
<script src="js/travel.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/recipe.js"></script>
<script src="js/trip.js"></script>
<script src="js/expenses.js"></script>
<script src="js/tasks.js"></script>
<script src="js/monreale.js"></script>
<script src="js/justice.js"></script>
<script src="js/car.js"></script>
<script src="js/sangiorgio.js"></script>
<script src="js/piggy.js"></script>
<script src="js/login.js"></script>
<script src="js/weekend.js"></script>
<script src="js/flight.js"></script>
<script src="js/hotel.js"></script>
<script src="js/mogoals.js"></script>
<script src="js/card.js"></script>
<script src="js/subscriptions.js"></script>
<script src="js/diet.js"></script>
<script src="js/supermarket.js"></script>
<script src="js/project.js"></script>
<script src="js/jobsearch.js"></script>
<script src="js/util/cookie.js"></script>
<script src="js/services/file.js"></script>
<script src="js/services/calendar.js"></script>
<script src="js/services/expensesService.js"></script>
<script src="js/services/taskService.js"></script>
<script src="js/services/AuthenticationService.js"></script>
<script src="js/services/GoogleService.js"></script>
<script src="js/services/TransportService.js"></script>
<script src="js/services/HotelService.js"></script>
<script src="js/services/GymService.js"></script>
<script src="js/services/BodyWeightService.js"></script>
<script src="js/services/ChimpService.js"></script>
<script src="js/services/ApiAiService.js"></script>
<script src="js/services/DietService.js"></script>
<script src="js/services/SupermarketService.js"></script>
<script src="js/services/ProjectService.js"></script>
<script src="js/services/NoteService.js"></script>
<script src="js/services/JobSearchService.js"></script>
<script src="js/directives/totoDirectives.js"></script>
<script src="js/directives/totoChimpDirective.js"></script>
<script src="js/directives/totoChimpInfoDirectives.js"></script>
<script src="js/directives/totoHealthFitnessDirective.js"></script>

</head>
<body class="app-theme-cyan" ng-app="toto" ng-controller="totoController" layout="column">

	<md-toolbar ng-class="['dark-primary-color', gtMd ? 'md-whiteframe-3dp' : '']">
		<div class="md-toolbar-tools teal">
			<md-button class="md-icon-button" aria-label="Show menu" >
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('app-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>{{currentMenu}}</span>
			<md-button class="md-icon-button" aria-label="Show apps" >
				<md-icon md-svg-src="images/svg/apps.svg" ng-click="toggleShowApps()"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Home">
				<md-icon md-svg-src="images/svg/home.svg" ng-click="go('/')"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<toto-apps-sidemenu layout="column" md-whiteframe="10"></toto-apps-sidemenu>	

	<section layout="row" flex>
		<md-content layout="row" flex>
			
			<div class="toto-left-area" ng-show="gtMd">
<!-- 				<div class="title">Available apps</div> -->
<!-- 				<toto-apps-sidemenu layout="column"></toto-apps-sidemenu> -->
			</div>
			
			<div id="ng-view" ng-view layout-gt-sm="row" flex></div>
			
		</md-content>
	</section>
	

</body>
</html>