<md-dialog aria-label="Add a hotel" ng-cloak id="hotel" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Pick a hotel</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form" style="padding: 6px;" >
			<md-grid-list md-cols="1" md-cols-gt-sm="3" md-row-height-gt-sm="5:2" md-row-height="7:2" md-gutter="4px">
				<md-grid-tile class="hotel" ng-repeat="hotel in hotels" ng-click="answer(hotel)">
					<div layout="row" class="container" flex>
						<div layout="column" class="dates">
							<div flex></div>
							<div class="date" flex>{{hotel.from | date : 'd'}}<span> {{hotel.from | date : 'MMM'}}</span></div>
							<div layout="row">
								<div flex></div>
								<div class="timeline"><md-icon md-svg-src="images/svg/arrow-down.svg"></md-icon></div>
								<div flex></div>
							</div>
							<div class="date" flex>{{hotel.to | date : 'd'}}<span> {{hotel.to | date : 'MMM'}}</span></div>
							<div flex></div>
						</div>
						<div layout="column" class="info" flex>
							<div class="name">{{hotel.name}}</div>
							<div class="address">{{hotel.address}}</div>
							<div flex></div>
							<div class="price">
								&euro; {{hotel.price | number : 2}}
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'immediate'" md-svg-src="images/svg/pay-cash.svg"></md-icon>
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'creditCard'" md-svg-src="images/svg/pay-credit-card.svg"></md-icon>
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'pagaDopo'" md-svg-src="images/svg/pay-paga-dopo.svg"></md-icon>
							</div>
						</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-dialog-content>
	</form>
	
</md-dialog>
