
<div class="theme-cyan" id="hotel" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('car-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Hotels</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="car-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/hotel')"><md-icon md-svg-src="images/svg/bed.svg"></md-icon><p>Hotel bookings</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content id="hotel-content" flex>
			<md-grid-list md-cols="1" md-cols-gt-sm="3" md-row-height-gt-sm="7:2" md-row-height="7:2" md-gutter="4px">
				<md-grid-tile class="hotel" ng-repeat="hotel in hotels">
					<div layout="row" class="container" flex>
						<div layout="column" class="dates {{hotel.showMenu ? 'blur' : ''}}" ng-click="hotel.showMenu == null ? hotel.showMenu = true : hotel.showMenu = !hotel.showMenu ">
							<div flex></div>
							<div class="date" flex>{{hotel.from | date : 'd'}}<span> {{hotel.from | date : 'MMM'}}</span></div>
							<div layout="row">
								<div flex></div>
								<div class="timeline"><md-icon md-svg-src="images/svg/arrow-down.svg"></md-icon></div>
								<div flex></div>
							</div>
							<div class="date" flex>{{hotel.to | date : 'd'}}<span> {{hotel.to | date : 'MMM'}}</span></div>
							<div flex></div>
						</div>
						<div layout="column" class="info {{hotel.showMenu ? 'blur' : ''}}" flex ng-click="hotel.showMenu == null ? hotel.showMenu = true : hotel.showMenu = !hotel.showMenu ">
							<div class="name">{{hotel.name}}</div>
							<div class="address">{{hotel.address}}</div>
							<div flex></div>
							<div class="price">
								<md-icon ng-if="hotel.linkedPaymentId == null" md-svg-src="images/svg/broken-link.svg" ng-click="linkToExpense(hotel, $event)"></md-icon>
								<span class="{{hotel.linkedPaymentId == null ? 'prospect' : ''}}">&euro; {{hotel.price | number : 2}}</span>
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'immediate'" md-svg-src="images/svg/pay-cash.svg"></md-icon>
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'creditCard'" md-svg-src="images/svg/pay-credit-card.svg"></md-icon>
								<md-icon style="margin-left: 6px;" ng-if="hotel.mop == 'pagaDopo'" md-svg-src="images/svg/pay-paga-dopo.svg"></md-icon>
							</div>
						</div>
						<div layout="column" class="actions" ng-if="hotel.showMenu">
							<div flex></div>
							<div layout="row">
								<div class="action" md-whiteframe="2" ng-click="openMaps(hotel)"><md-icon md-svg-src="images/svg/pin.svg"></md-icon></div>
								<div class="action" md-whiteframe="2" ng-click="deleteHotel(hotel)"><md-icon md-svg-src="images/svg/trash.svg"></md-icon></div>
							</div>
							<div flex></div>
						</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
	</section>

	<md-button class="md-fab floating" aria-label="Add a hotel" ng-click="addHotel($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

