
<div class="theme-cyan" id="monreale-charges" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('monreale-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Monreale - Safe charges</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="monreale-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item ng-click="go('/monreale')"><md-icon md-svg-src="images/svg/rented-house.svg"></md-icon><p>Dashboard</p></md-list-item>
					<md-list-item ng-click="go('/monreale/incomes')"><md-icon md-svg-src="images/svg/bubble-money.svg"></md-icon><p>Incomes</p></md-list-item>
					<md-list-item ng-click="go('/monreale/taxes')"><md-icon md-svg-src="images/svg/buildings.svg"></md-icon><p>Building Taxes</p></md-list-item>
					<md-list-item ng-click="go('/monreale/electricity')"><md-icon md-svg-src="images/svg/power-cord.svg"></md-icon><p>Electricity Bills</p></md-list-item>
					<md-list-item ng-click="go('/monreale/gas')"><md-icon md-svg-src="images/svg/gas.svg"></md-icon><p>Gas Bills</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/monreale/charges')"><md-icon md-svg-src="images/svg/safe-lock.svg"></md-icon><p>Charges</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content id="content" flex>
			<md-grid-list md-cols-xs="3" md-cols-gt-sm="10" md-row-height-gt-sm="3:2" md-row-height="3:2" md-gutter="4px">
				<md-grid-tile ng-click="" layout="column" ng-repeat="charge in charges" class="{{charge.type == 'loan' ? 'critical' : ''}}" >
					<div class="background">
						<md-icon md-svg-src="images/monreale/charges/{{charge.type}}.svg"></md-icon>
					</div>
					<div class="text" layout="column" >
						<div class="headline">&euro; {{charge.amount | number : 2}}</div>
						<div class="subhead">{{charge.date | date : 'dd.MM.yy'}}</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Add a charge" ng-click="addCharge($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
	
</div>

