<md-dialog aria-label="Add an income" ng-cloak id="monreale-add-income" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add an income</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content" style="padding-bottom: 0;">
			<div layout="column">
				<p>An income is going to be added with payment date set as the date of the insertion, amount equal to &euro; 600.00, and a period going from the 23rd of the month before the specified month to the 23rd of the specified month.</p> 
<!-- 				<div> -->
<!-- 					<label>Payment date</label> -->
<!-- 					<md-datepicker ng-model="income.date" ></md-datepicker> -->
<!-- 				</div> -->
<!-- 				<md-input-container style="margin-top: 24px !important;"> -->
<!-- 					<label>Amount</label> -->
<!-- 					<input ng-model="income.amount"/> -->
<!-- 				</md-input-container> -->
<!-- 				<div style="margin-bottom: 24px;"> -->
<!-- 					<label>Period</label> -->
<!-- 					<md-datepicker ng-model="income.periodFrom" style="margin-right: 24px;" ></md-datepicker> -->
<!-- 					<md-datepicker ng-model="income.periodTo" ></md-datepicker> -->
<!-- 				</div> -->
				<md-input-container style="margin-top: 24px !important;">
					<label>Year</label>
					<input ng-model="income.year"/>
				</md-input-container>
				<md-input-container>
					<label>Month</label>
					<md-select ng-model="income.month">
						<md-option>January</md-option>
						<md-option>February</md-option>
						<md-option>March</md-option>
						<md-option>April</md-option>
						<md-option>May</md-option>
						<md-option>June</md-option>
						<md-option>July</md-option>
						<md-option>August</md-option>
						<md-option>September</md-option>
						<md-option>October</md-option>
						<md-option>November</md-option>
						<md-option>December</md-option>
					</md-select>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	
	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(income)">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
</md-dialog>
