
<div class="swiper-container swiper-container-h" layout="column" flex>
	<div class="swiper-wrapper" >
		
		<div class="swiper-slide" layout="column">
			
			<md-grid-list md-cols="3" md-row-height="1:1">
				<md-grid-tile ng-repeat="category in categories">
					<div class="category-container" layout="column" ng-click="filterByCategory(category.id)">
						<div class="avatar" layout="column">
							<div flex></div>
							<md-icon md-svg-src="images/diet/cat/{{category.id}}.svg"></md-icon>
							<div flex></div>
						</div>
						<div class="text">{{category.name}}</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
			
		</div>
		
		<div class="swiper-slide" layout="column">
		
			<toto-list on-click="onClick" dataset="foods" extractor="foodDataExtractor"></toto-list>
		
		</div>
	</div>
</div>

<md-button class="md-fab floating" aria-label="Add a food" ng-click="addFood()" id="addFoodButton" ng-if="!hideAdd">
	<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
</md-button>
