
<div ng-repeat="day in days" layout="row" flex class="day-container">

	<div flex layout="row">
		<div flex></div>
		<div layout="column">
			<div flex></div>
			<div class="day">{{day.date | date : 'EEE'}}</div>
			<div flex></div>
		</div>
	</div>
	
	<div layout="column" flex>
		<div flex></div>
		<div layout="row">
			<div ng-class="['circle-container']" layout="column" ng-click="startOrResumeSession(day.session, day.date)" ng-if="day.session == null"></div>
			<div ng-class="['circle-container', 'trained']" layout="column" ng-click="startOrResumeSession(day.session, day.date)" ng-if="day.session != null && day.session.impactedMuscles == null"></div>
			<div ng-class="['circle-container', 'trained']" layout="column" ng-repeat="muscle in day.session.impactedMuscles" ng-click="startOrResumeSession(day.session)" ng-if="day.session.impactedMuscles != null">
				<div flex></div>
				<md-icon md-svg-src="images/gym/muscle-avatars/{{muscle.muscle.id}}.svg"></md-icon>
				<div flex></div>
			</div>
		</div>
		<div flex></div>
	</div>
	
	
</div>