<div flex></div>
<div class="post-workout-icon accent-color-border" layout="column" ng-click="setFatigueLevel()">
	<div flex></div>
	<md-icon md-svg-src="{{session.postWorkoutFatigueImageUrl}}"></md-icon>
	<div flex></div>
</div>
<div layout="column"><div flex></div><div class="connector accent-color-border"></div><div flex></div></div>
<div class="post-workout-icon accent-color-border" layout="column" ng-click="setPainLevel()">
	<div flex></div>
	<md-icon md-svg-src="{{session.postWorkoutPainImageUrl}}"></md-icon>
	<div flex></div>
</div>
<div flex></div>
