
<div ng-class="['toto-m', 'center', 'toto-label']">{{workout.name}}</div>

<div id="gym" class="session" layout="column" flex>
	<div class="exercices-container" >
		<div class="exercice-container{{ex.completed ? ' completed' : ''}}" layout="row" ng-repeat="ex in exercises">
			<div ng-class="['icon', ex.completed ? '' : 'theme-color-dark-border']" layout="column" ng-click="toggleCompletion(ex)">
				<div flex></div>
				<md-icon md-svg-src="images/gym/type/{{ex.type}}.svg" ng-if="!ex.completed"></md-icon>
				<md-icon md-svg-src="images/svg/checked.svg" ng-if="ex.completed"></md-icon>
				<div flex></div>
			</div>
			<div layout="column" flex>
				<div class="exercise" flex layout="column">
					<div flex></div>
					<div layout="row" class="text-container" ng-repeat="exo in ex.exercises track by $index" ng-click="ex.showMenu = true">
						<div layout="column" flex ng-click="changeSettings(exo, ex)">
							<div class="ex-name" flex>{{exo.name}}</div>
							<div layout="row" ng-if="ex.type == 'single' || ex.type == 'superset'">
								<div class="value">{{exo.sets}} x {{exo.reps1}}</div>
								<div class="value">{{exo.weight1}} kg</div>
							</div>
							<div layout="column" ng-if="ex.type == 'dropset'">
								<div class="value">{{exo.sets}} x ({{exo.reps1}} + {{exo.reps2}})</div>
								<div class="value">{{exo.weight1}} kg, {{exo.weight2}} kg</div>
							</div>
							<div layout="column" ng-if="ex.type == 'striping'">
								<div class="value">{{exo.sets}} x ({{exo.reps1}} + {{exo.reps2}} + {{exo.reps3}})</div>
								<div class="value">{{exo.weight1}} kg, {{exo.weight2}} kg, {{exo.weight3}} kg</div>
							</div>
							<div layout="column" ng-if="ex.type == 'hourglass'">
								<div class="value">{{exo.sets}}</div>
								<div class="value">{{exo.weight1}} kg, {{exo.weight2}} kg, {{exo.weight3}} kg</div>
							</div>
						</div>
					</div>
					<div class="score">
						{{ex.score | number : 1}} <span>pts</span>
					</div>
					<div flex></div>
				</div>
			</div>
			<div layout="column">
				<div class="mood" layout="column" ng-click="changeMood(ex)">
					<div flex></div>
					<md-icon md-svg-src="images/gym/moods/{{ex.mood}}.svg"></md-icon>
					<div flex></div>
				</div>
				<div flex></div>
			</div>
		</div>
		<div layout="row">
			<div ng-class="['final-icon', session.completed ? 'completed' : 'accent-color-border']" layout="column" ng-click="completeSession()">
				<div flex></div>
				<md-icon class="accent" md-svg-src="images/svg/checked.svg"></md-icon>
				<div flex></div>
			</div>
			<div class="final-text" layout="column" flex>
				<div flex></div>
				<div ng-if="session.completed">Session completed!</div>
				<div flex></div>
			</div>
		</div>
	</div>

</div>
