<div id="muscle-graph-container" layout="column">
	<div class="graph-container" flex>
		<div class="plots-container" layout="row">
			<div class="plot-container" layout="column" ng-repeat="plot in muscleScoreWeeks">
				<div flex></div>
				<div ng-class="['plot', 'default-primary-color', plot.efficacy >= benchmarkEfficacy ? 'efficace' : '']" id="plot-{{plot.year}}-{{plot.weekOfYear}}" ></div>
			</div>
		</div>
		<canvas id="efficacy-plot-canvas"></canvas>
		<div class="muscle-icon"><md-icon md-svg-src="images/gym/muscle-avatars/{{muscle}}.svg"></md-icon></div>
	</div>
	<div class="x-axis-container" layout="row">
		<div ng-class="['day']" ng-repeat="plot in muscleScoreWeeks">{{plot.date | date : 'd'}}</div>
	</div>
<!-- 	<div class="title">{{muscle}} scores</div> -->
</div>
