<md-dialog aria-label="Show the details of a deposit" ng-cloak id="piggy-deposit-details" class="theme-cyan">
	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
			</md-button>
			<span class="title" flex>Deposit <i>{{deposit.name}}</i></span>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content toto-detail-dialog">
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Name</div><div class="value">{{deposit.name}}</div></div>
				<div layout="row" class="row"><div class="label">Started on</div><div class="value">{{deposit.startDate | date : 'dd.MM.yy'}}</div></div>
				<div layout="row" class="row"><div class="label">Ends on</div><div class="value">{{deposit.endDate | date : 'dd.MM.yy'}}</div></div>
			</div>
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Goal</div><div class="value">&euro; {{deposit.goalAmount | number : 2}}</div></div>
				<div layout="row" class="row"><div class="label">Current</div><div class="value">&euro; {{deposit.depositedAmount | number : 2}}</div></div>
				<div layout="row" class="row"><div class="label">Periodicity</div><div class="value" style="text-transform: uppercase;">{{deposit.periodicity}}</div></div>
				<div layout="row" class="row"><div class="label">Amount</div><div class="value">&euro; {{deposit.depositAmount | number : 2}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Deposits calendar</div>
					<div style="width: 100%; padding-right: 4px;">
						<md-grid-list md-cols="2" md-cols-gt-sm="10" md-row-height-gt-sm="2:1" md-row-height="3:1" md-gutter="3px">
							<md-grid-tile class="card {{dep.linkedPaymentId != null ? '' : 'non-deposited'}}" ng-repeat="dep in deposit.deposits">
								{{dep.date | date : 'dd.MM'}}
							</md-grid-tile>
						</md-grid-list>
					</div>
				</div>
				<div layout="row" class="row"><div class="label">Next deposit</div><div class="value">{{deposit.nextDeposit | date : 'dd.MM.yy'}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column"  >
			<div class="toto-action-box" layout="row">
				<md-button  aria-label="make a deposit" ng-click="linkToExpense(deposit, $event)" flex>
					<md-icon class="right" md-svg-src="images/svg/share.svg"></md-icon>
				</md-button>
				<md-button  aria-label="make a deposit" ng-click="delete(deposit, $event)" flex>
					<md-icon class="right" md-svg-src="images/svg/trash.svg"></md-icon>
				</md-button>
			</div>
		</div>
	</md-dialog-content>
	
</md-dialog>
