
<div class="theme-cyan" id="piggy" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('piggy-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Piggy Deposit</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="piggy-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/piggy')"><md-icon md-svg-src="images/svg/piggy-bank.svg"></md-icon><p>Deposits</p></md-list-item>
<!-- 					<md-list-item ng-click="go('/car/taxes')"><md-icon md-svg-src="images/svg/bank-building.svg"></md-icon><p>Bollo auto</p></md-list-item> -->
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content flex style="padding: 6px;">
			<md-grid-list md-cols="2" md-cols-gt-sm="6" md-row-height-gt-sm="1:1" md-row-height="1:1" md-gutter="4px"> 
				<md-grid-tile id="dep{{deposit.id}}" class="piggy-deposit {{deposit.status}}" md-ink-ripple="true" ng-repeat="deposit in deposits" ng-click="showDetails(deposit, $event)">
					<div layout="column" style="height: 100%;">
						<div class="icon-container" >
							<md-icon ng-if="deposit.status == 'ok'" md-svg-src="images/svg/happy.svg"></md-icon>
							<md-icon class="deposit" ng-show="deposit.status == 'deposit'" md-svg-src="images/svg/piggy-deposit.svg"></md-icon>
							<md-icon ng-if="deposit.status == 'completed'" md-svg-src="images/svg/checked.svg"></md-icon>
						</div>
						<div class="info" layout="column" flex>
							<div class="headline" ng-if="deposit.status == 'ok'">&euro; {{deposit.depositedAmount | number : 2}}</div>
							<div class="detail" ng-if="deposit.status == 'ok'">/&euro; {{deposit.goalAmount | number : 2}}</div>
							<div class="warn" ng-if="deposit.status == 'deposit'">Please deposit<br/> &euro; {{deposit.depositAmount | number : 2}}</div>
							<div class="headline" ng-if="deposit.status == 'completed'">DONE</div>
							<div class="detail" ng-if="deposit.status == 'completed'">&euro; {{deposit.goalAmount | number : 2}}</div>
							<div class="subhead {{deposit.status == 'deposit' ? 'warn' : ''}}" flex>{{deposit.name}}</div>
						</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Add a deposit" ng-click="addDeposit($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
</div>

