<md-dialog aria-label="Add an electricity bill" ng-cloak id="sangiorgio-add-income" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add an electricity Bill</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content">
			<div layout="column">
				<md-input-container >
					<label>Amount</label>
					<input ng-model="bill.amount"/>
				</md-input-container>
				<md-input-container >
					<label>Reference</label>
					<input ng-model="bill.reference"/>
				</md-input-container>
				<div layout="row">
					<md-input-container >
						<label>From (year)</label>
						<input ng-model="bill.periodFromYear"/>
					</md-input-container>
					<md-input-container >
						<label>From (month)</label>
						<md-select ng-model="bill.periodFromMonth">
							<md-option>January</md-option>
							<md-option>February</md-option>
							<md-option>March</md-option>
							<md-option>April</md-option>
							<md-option>May</md-option>
							<md-option>June</md-option>
							<md-option>July</md-option>
							<md-option>August</md-option>
							<md-option>September</md-option>
							<md-option>October</md-option>
							<md-option>November</md-option>
							<md-option>December</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container >
						<label>To (year)</label>
						<input ng-model="bill.periodToYear"/>
					</md-input-container>
					<md-input-container >
						<label>To (month)</label>
						<md-select ng-model="bill.periodToMonth">
							<md-option>January</md-option>
							<md-option>February</md-option>
							<md-option>March</md-option>
							<md-option>April</md-option>
							<md-option>May</md-option>
							<md-option>June</md-option>
							<md-option>July</md-option>
							<md-option>August</md-option>
							<md-option>September</md-option>
							<md-option>October</md-option>
							<md-option>November</md-option>
							<md-option>December</md-option>
						</md-select>
					</md-input-container>
				</div>
				
				<md-divider style="margin-top: 24px; margin-bottom: 12px;"></md-divider>
				
				<h3 style="margin-bottom: 24px;">Postal Info</h3>
				<div layout="row" style="margin-bottom: 24px;">
					<md-input-container>
						<label>Account</label>
						<input ng-model="bill.postalPaymentData.account"/>
					</md-input-container>
					<md-input-container>
						<label>Reference</label>
						<input ng-model="bill.postalPaymentData.reference"/>
					</md-input-container>
					<md-input-container>
						<label>Last digits</label>
						<md-select ng-model="bill.postalPaymentData.lastDigits">
							<md-option>896</md-option>
							<md-option>674</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
	</form>
	
	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(bill)">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
</md-dialog>
