<md-dialog aria-label="Show the details of a tax" ng-cloak id="sangiorgio-fine-details" class="theme-cyan">
	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
			</md-button>
			<span class="title" flex>Electricity Bill #{{bill.reference}}</span>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content toto-detail-dialog">
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Reference</div><div class="value">{{bill.reference}}</div></div>
				<div layout="row" class="row"><div class="label">Period</div><div class="value">{{bill.periodFrom.month}}.{{bill.periodFrom.year}} - {{bill.periodTo.month}}.{{bill.periodTo.year}}</div></div>
			</div>
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Amount</div><div class="value">&euro; {{bill.amount | number : 2}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Postal Account</div><div class="value">{{bill.postalPaymentData.account}}</div></div>
				<div layout="row" class="row"><div class="label">Postal Reference</div><div class="value">{{bill.postalPaymentData.reference}}</div></div>
				<div layout="row" class="row"><div class="label">Postal Digits</div><div class="value">{{bill.postalPaymentData.lastDigits}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" ng-if="bill.linkedPaymentId == null" >
			<div class="toto-action-box" layout="column">
				<md-button  aria-label="link to payment" ng-click="linkToExpense(bill, $event)">
					<md-icon class="right" md-svg-src="images/svg/share.svg" style="fill: #C62828;"></md-icon>
				</md-button>
			</div>
		</div>
	</md-dialog-content>
	
</md-dialog>