<md-dialog aria-label="Show the details of a tax" ng-cloak id="sangiorgio-fine-details" class="theme-cyan">
	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
			</md-button>
			<span class="title" flex>Tax {{tax.period}}</span>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content toto-detail-dialog">
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Period</div><div class="value">{{tax.period}}</div></div>
				<div layout="row" class="row"><div class="label">Year</div><div class="value">{{tax.year}}</div></div>
			</div>
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Amount</div><div class="value">&euro; {{tax.amount | number : 2}}</div></div>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" ng-if="fine.linkedPaymentId == null" >
			<div class="toto-action-box" layout="column">
				<md-button  aria-label="link to payment" ng-click="linkToExpense(tax, $event)">
					<md-icon class="right" md-svg-src="images/svg/share.svg" style="fill: #C62828;"></md-icon>
				</md-button>
			</div>
		</div>
	</md-dialog-content>
	
</md-dialog>