
<div ng-class="['toto-xs', 'center', 'toto-label']">{{label}}</div>
<div ng-if="type == 'number'" ng-class="[size, 'center', accent == 'true' ? 'text-accent' : '', bold ? 'bold' : '']">{{unit}} {{value | number : scale}}</div>
<div ng-if="type == 'string'" ng-class="[size, 'center', accent == 'true' ? 'text-accent' : '', bold ? 'bold' : '']">{{value}}</div>
<div ng-if="type == 'date'" ng-class="[size, 'center', accent == 'true' ? 'text-accent' : '', bold ? 'bold' : '']">{{value | date : 'dd MMM yyyy' }}</div>
