
<div id="{{widgetId}}" ng-class="['toto-bar-graph-container', showXAxis == 'true' ? '' : 'hide-x-axis']" layout="row" >
	<div ng-class="['bar-container']" ng-repeat="bar in bars" layout="column">
		<div id="{{$index}}-{{widgetId}}-value" class="value" ng-if="showValues != null || showExtremeValues != null">{{bar.value}}</div>
		<div id="{{$index}}-{{widgetId}}-bar" ng-class="['bar', barColor + '-primary-color']"></div>
		<div id="{{$index}}-{{widgetId}}-label" class="label" ng-if="showLabel == null || showLabel == 'true'">{{bar.label}}</div>
	</div>
</div>
