<div ng-class="['toto-info-circle', size, nofill ? 'nofill' : 'dark-primary-color']" layout="column">
	<div class="icon" flex>
		<md-icon md-svg-src="{{svg}}"></md-icon>
	</div>
	<div ng-class="['composite-value', nofill ? '' : 'text-primary-color']" ng-if="amount != null" layout="row">
		<div class="small" style="text-align: right;" flex>&euro;</div>
		<div class="normal">{{amount | number : 1}}</div>
		<div flex></div>
	</div>
	<div ng-class="['composite-value', nofill ? '' : 'text-primary-color']" ng-if="volume != null" layout="row">
		<div flex></div>
		<div class="normal">{{volume | number : 1}}</div>
		<div class="small">&#8467;</div>
		<div flex></div>
	</div>
	<div ng-class="['composite-value', nofill ? '' : 'text-primary-color']" ng-if="points != null" layout="row">
		<div flex></div>
		<div class="normal">{{points | number : 0}}</div>
		<div class="small">pts</div>
		<div flex></div>
	</div>
	<div flex></div>
	<div ng-show="actionSvg != null" ng-class="['toto-floating-button-sm', 'accent-color']" layout="column" md-whiteframe="3" ng-click="action($event)">
		<div flex></div>
		<md-icon md-svg-src="{{actionSvg}}"></md-icon>
		<div flex></div>
	</div>
</div>