<md-dialog aria-label="Add" ng-cloak id="gym" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a plan</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div>
				<div class="toto-input-container">
					<label>Measurement on date</label>
					<md-datepicker ng-model="pickedDate" ></md-datepicker>
				</div>
				<div class="toto-input-container">
					<label>Weight</label>
					<input type="text" ng-model="weight"/>
				</div>
				<button ng-click="answer()">Done</button>
			</div>

		</md-dialog-content>
	</form>
	
</md-dialog>
