<div id="gym">
	<div id="gym-dialog">
		<div id="name-container" ng-if="step == 1">
			<div layout="row" style="margin-bottom: 12px;">
				<input type="text" ng-init="exercice.name = 'Exercice name'" ng-model="exercice.name" ng-click="exercice.name = ''"/>
				<div layout="column">
					<div flex></div>
					<md-icon class="{{exercice.benchmark ? 'highlight' : ''}}" md-svg-src="images/svg/checked.svg" ng-click="setBenchmark(true)" style="margin: 0 12px;"></md-icon>
					<div flex></div>
				</div>
			</div>
			<div class="button-container" layout="row">
				<div flex></div>
				<div class="button" ng-click="nextStep()">
					<md-icon md-svg-src="images/svg/checked.svg"></md-icon>
				</div>
				<div flex></div>
			</div>
		</div>
		<div id="change-benchmark" ng-if="step == 2">
			<div layout="row">
				<div class="field" layout="column" flex>
					<div class="name">Series</div>
					<div class="control" layout="column">
						<div class="icon"><md-icon md-svg-src="images/svg/arrow-up.svg" ng-click="changeSeries(1)"></md-icon></div>
						<div class="text">{{exercice.sets}}</div>
						<div class="icon"><md-icon md-svg-src="images/svg/arrow-down.svg" ng-click="changeSeries(-1)"></md-icon></div>
					</div>
				</div>
				<div class="field" layout="column" flex>
					<div class="name">Reps</div>
					<div class="control" layout="column">
						<div class="icon"><md-icon md-svg-src="images/svg/arrow-up.svg" ng-click="changeReps(1)"></md-icon></div>
						<div class="text">{{exercice.reps}}</div>
						<div class="icon"><md-icon md-svg-src="images/svg/arrow-down.svg" ng-click="changeReps(-1)"></md-icon></div>
					</div>
				</div>
				<div class="field" layout="column" flex>
					<div class="name">Weight</div>
					<div class="control" layout="column">
						<div layout="row">
							<div flex></div>
							<div class="icon"><md-icon md-svg-src="images/svg/arrow-up.svg" ng-click="changeWeight(1, 0.25)"></md-icon></div>
							<div class="icon"><md-icon md-svg-src="images/svg/arrow-up-full.svg" ng-click="changeWeight(1, 1)" style="width: 16px;"></md-icon></div>
							<div flex></div>
						</div>
						<div class="text">{{exercice.weight}} kg</div>
						<div layout="row">
							<div flex></div>
							<div class="icon"><md-icon md-svg-src="images/svg/arrow-down.svg" ng-click="changeWeight(-1, 0.25)"></md-icon></div>
							<div class="icon"><md-icon md-svg-src="images/svg/arrow-down-full.svg" ng-click="changeWeight(-1, 1)" style="width: 16px;"></md-icon></div>
							<div flex></div>
						</div>
					</div>
				</div>
			</div>
			<div class="button-container" layout="row">
				<div flex></div>
				<div class="button" ng-click="answer(exercice)">
					<md-icon md-svg-src="images/svg/checked.svg"></md-icon>
				</div>
				<div flex></div>
			</div>
		</div>
	</div>
</div>