<md-dialog aria-label="Add" ng-cloak id="gym" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add an exercise</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			<div ng-if="currentStep == 1">
				<div class="toto-selector-container">
					<div class="title">Select the type of exercice</div>
					<div class="selections" layout="row">
						<div flex></div>
						<div class="selection" ng-repeat="selection in selections" ng-click="selectType(selection)">
							<md-icon md-svg-src="{{selection.svgPath}}"></md-icon>
						</div>
						<div flex></div>
					</div>
				</div>
			</div>
			<div ng-if="currentStep == 2">
				<md-grid-list md-cols="3" md-cols-gt-sm="3" md-gutter="4px" md-row-height="1:1">
					<md-grid-tile ng-repeat="muscle in muscleGroups" ng-click="selectMuscleGroup(muscle)">
						<div class="group-container" layout="column">
							<div class="image">
								<img src="images/gym/muscles/{{muscle.image}}"/>
							</div>
							<div class="overlay" layout="row">
								<div>{{muscle.name}}</div>
								<div flex></div>
								<div>{{muscle.count}}</div>
							</div>
						</div>
					</md-grid-tile>
				</md-grid-list>
			</div>
			<div ng-if="currentStep == 3">
				<div id="archive">
					<div class="exercices-container" layout="column">
						<div class="exercice-container" ng-repeat="exercice in exercices" layout="row" ng-click="selectExercise(exercice)">
							<div class="avatar" layout="column">
								<div flex></div>
								<md-icon md-svg-src="images/gym/tools/{{exercice.tool}}.svg"></md-icon>
								<div flex></div>
							</div>
							<div layout="row" class="text-container" flex style="{{$last ? 'border: none;' : ''}}">
								<div layout="column" flex>
									<div class="name" flex>{{exercice.name}}</div>
									<div layout="row" ng-click="changeBenchmark(exercice, $event)">
										<div class="value">{{exercice.sets}} x {{exercice.reps}}</div>
										<div class="value">{{exercice.weight}} kg</div>
									</div>
								</div>
								<div layout="column">
									<div flex></div>
									<div class="factor">{{exercice.difficultyFactor | number : 2}}</div>
									<div flex></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</md-dialog-content>
	</form>
	
</md-dialog>
