
<div id="gym" class="toto-central-area" flex>

	<div class="toto-card">
		<md-grid-list md-cols="3" md-cols-gt-sm="6" md-gutter="4px" md-row-height="1:1">
			<md-grid-tile ng-repeat="muscle in muscleGroups" ng-click="go('/gym/archive/' + muscle.id)">
				<div class="group-container" layout="column">
					<div class="image">
						<img src="images/gym/muscles/{{muscle.image}}"/>
					</div>
					<div class="overlay" layout="row">
						<div>{{muscle.name}}</div>
						<div flex></div>
						<div>{{muscle.count}}</div>
					</div>
				</div>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>

<div class="toto-right-area" >
	
	<div class="toto-card light-primary-color">
		<toto-app-navigator menus="gymMenus"></toto-app-navigator>
	</div>
	
</div>
