

<div id="gym" class="plan toto-central-area" flex>
	<div class="toto-card">
		<div id="info" layout="row">
			<div layout="column" flex>
				<div class="name">{{plan.name}}</div>
				<div class="duration">{{plan.weeks}} weeks</div>
			</div>
			<div layout="column">
				<div flex></div>
				<div layout="row">
					<div layout="column">
						<div class="day">{{plan.start | date : 'd'}}</div>
						<div class="month">{{plan.start | date : 'MMM'}}</div>
					</div>
					<div layout="column">
						<div flex></div>
						<div class="icon"><md-icon md-svg-src="images/svg/arrow-right.svg"></md-icon></div>
						<div flex></div>
					</div>
					<div layout="column">
						<div class="day">{{plan.end | date : 'd'}}</div>
						<div class="month">{{plan.end | date : 'MMM'}}</div>
					</div>
				</div>
				<div flex></div>
			</div>
		</div>
		
		<div id="score-container" layout="row">
			<div flex></div>
			<div class="score" layout="column">
				<div flex>
					<md-icon md-svg-src="images/svg/man-muscle.svg"></md-icon>
				</div>
				<div class="number">{{plan.score | number : 1}}</div>
				<div class="pt" flex>pt</div>
			</div>
			<div flex></div>
		</div>
		
		<div id="days-container" layout="column">
			<div class="day-container" ng-repeat="workout in workouts">
				<div layout="row">
					<div class="avatar" layout="column">
						<div flex></div>
						<md-icon md-svg-src="images/svg/gym.svg"></md-icon>
						<div flex></div>
					</div>
					<div layout="column" flex>
						<div flex></div>
						<div class="name">{{workout.name}}</div>
						<div class="amount">{{workout.exerciseCount}} exercises</div>
						<div flex></div>
					</div>
					<div layout="column">
						<div flex></div>
						<div layout="column" class="action" ng-click="startSession(workout)">
							<div flex></div>
							<md-icon md-svg-src="images/svg/play.svg"></md-icon>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="toto-right-area" >
	
	<div class="toto-card light-primary-color">
		<toto-app-navigator menus="gymMenus"></toto-app-navigator>
	</div>
	
</div>

<md-button class="md-fab floating" aria-label="Add" ng-click="addWorkout($event)">
	<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
</md-button>