<toto-app-menu menus="gymMenus"></toto-app-menu>

<div id="toto-dashboard" layout="column" flex>

	<toto-widget color="green" flex id="gym-archive" layout="column" unbounded="true">
		<md-grid-list md-cols="3" md-cols-gt-md="8" md-gutter="4px" md-row-height="1:1">
			<md-grid-tile ng-repeat="muscle in muscleGroups" ng-click="go('/gym/archive/' + muscle.id)">
				<div class="group-container" layout="column">
					<div flex></div>
					<div layout="row" class="muscle-container">
						<div flex></div>
						<div class="muscle" layout="column">
							<div flex></div>
							<div class="text">{{muscle.name}}</div>
							<div flex></div>
						</div>
						<div flex></div>
					</div>
					<div flex></div>
				</div>
			</md-grid-tile>
		</md-grid-list>
	</toto-widget>

</div>

