<home-link back="true"></home-link>

<div class="h1">
	Plans
</div>

<div id="gym" class="plans" flex>
	<div class="toto-card plans-container">
		<div class="plan-container" layout="row" ng-repeat="plan in plans">
			<div class="dates-container" layout="row" ng-click="go('/gym/plans/' + plan.id)">
				<div class="date-container" layout="column">
					<div class="day">{{plan.start | date : 'd'}}</div>
					<div class="month">{{plan.start | date : 'MMM'}}</div>
				</div>
				<div class="icon" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/arrow-right.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="date-container" layout="column">
					<div class="day">{{plan.end | date : 'd'}}</div>
					<div class="month">{{plan.end | date : 'MMM'}}</div>
				</div>
			</div>
			<div layout="column" flex ng-click="go('/gym/plans/' + plan.id)">
				<div class="name">{{plan.name}}</div>
				<div class="weeks">{{plan.weeks}} weeks</div>
			</div>
		</div>
	</div>
</div>

<md-button class="md-fab floating" aria-label="Add a plan" ng-click="addPlan($event)">
	<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
</md-button>
