

<div id="gym" class="archive toto-center-area" flex>
	<div class="toto-card exercices-container" layout="column">
		<div class="exercice-container" ng-repeat="exercice in exercices" layout="row">
			<div class="avatar" layout="column">
				<div flex></div>
				<md-icon md-svg-src="images/gym/tools/{{exercice.tool}}.svg"></md-icon>
				<div flex></div>
			</div>
			<div layout="row" class="text-container" flex style="{{$last ? 'border: none;' : ''}}">
				<div layout="column" flex>
					<div class="name" flex>{{exercice.name}}</div>
					<div layout="row" ng-click="changeBenchmark(exercice, $event)">
						<div class="value">{{exercice.sets}} x {{exercice.reps}}</div>
						<div class="value">{{exercice.weight}} kg</div>
					</div>
				</div>
				<div layout="column">
					<div flex></div>
					<div class="factor">{{exercice.difficultyFactor | number : 2}}</div>
					<div flex></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="toto-right-area" >
	
	<div class="toto-card light-primary-color">
		<toto-app-navigator menus="gymMenus"></toto-app-navigator>
	</div>
	
</div>

<md-button class="md-fab floating " aria-label="Add exercice" ng-click="addExercice($event)">
	<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
</md-button>
