<toto-app-menu menus="gymMenus"></toto-app-menu>

<div class="toto-left-area" ng-show="gtMd"></div>

<div id="gym" class="settings toto-central-area" flex>
	<div id="score-algorithm" class="toto-card" layout="column">
		<div class="label">Score Algorithm</div>
		<div class="picker" layout="row">
			<div flex></div>
			<div ng-click="changeScoreAlgorithm(algorithm)" ng-class="['algorithm', algorithm.id == settings.scoreAlgorithmId ? 'selected' : '', changingScoreAlgorithm ? 'changing' : '']" layout="column" ng-repeat="algorithm in algorithms">
				<div class="name">{{algorithm.name}}</div>
				<div class="description">{{algorithm.description}}</div>
				<div class="equation">{{algorithm.equation}}</div>
			</div>
			<div flex></div>
		</div>
	</div>
</div>

<div class="toto-right-area" ng-show="gtMd"></div>