
<toto-app-menu menus="gymMenus"></toto-app-menu>

<div class="toto-left-area" ng-show="gtMd"></div>

<div id="gym" class="toto-central-area" flex>

	<div class="toto-card">
		<div class="content">
			<div id="week" layout="row">
				<div class="timeline"></div>
				<div flex></div>
				<div class="week-container" layout="row">
					<div ng-class="['day-container', day.today ? 'today' : '', day.completed ? 'completed' : '']" layout="column" flex ng-repeat="day in currentWeek">
						<div class="day">{{day.date | date : 'EEE'}}</div>
						<div class="icon" flex ng-click="startOrResumeSession(day)" layout="column">
							<div flex></div>
							<md-icon md-svg-src="{{day.imageUrl}}"></md-icon>
							<div flex></div>
						</div>
					</div>
				</div>
				<div flex></div>
			</div>
		</div>
	</div>

	<div class="toto-card dark-primary-color">
		<div class="title">Muscle progression</div>
		<div class="content" layout="row">
			<div flex></div>
			<toto-gym-muscle-graph muscle="{{selectedMuscle.id}}" height="90" style="min-height: 90px;"></toto-gym-muscle-graph>			
			<div flex></div>
		</div>
	</div>

	<div class="toto-card" layout="column">
		<div class="title">Week goals & situation</div>
		<div class="content" layout="row">
			<div flex></div>
			<div layout="column" ng-repeat="goal in goals | limitTo : 3" >
				<div class="toto-progress-container" ng-click="weekMuscleSelected(goal.muscle)">
					<toto-progress color="#00BCD4" progress="goal.percentageOfGoalReached" id="gym-{{goal.muscle}}-progress" stroke-width="8" svg="images/gym/muscle-avatars/{{goal.muscle}}.svg"></toto-progress> 
				</div>
				<div class="goal-label" layout="row">
					<div flex></div>
					<div layout="column">
						<div flex></div>
						<div layout="row">
							<div ng-if="goal.actual == null" class="goal-value">{{goal.goal | number : 1}}</div>
							<div ng-if="goal.actual != null" class="goal-value">{{goal.actual | number : 1}}</div>
							<div class="pts">pts</div>
						</div>
						<div flex></div>
					</div>
					<div flex></div>
				</div>
			</div>
			<div flex></div>
		</div>
		<div layout="row">
			<div flex></div>
			<div layout="column" ng-repeat="goal in goals | limitTo: (3 - goals.length)" >
				<div class="toto-progress-container" ng-click="weekMuscleSelected(goal.muscle)">
					<toto-progress color="#00BCD4" progress="goal.percentageOfGoalReached" id="gym-{{goal.muscle}}-progress" stroke-width="8" svg="images/gym/muscle-avatars/{{goal.muscle}}.svg"></toto-progress> 
				</div>
				<div class="goal-label" layout="row">
					<div flex></div>
					<div layout="column">
						<div flex></div>
						<div layout="row">
							<div ng-if="goal.actual == null" class="goal-value">{{goal.goal | number : 1}}</div>
							<div ng-if="goal.actual != null" class="goal-value">{{goal.actual | number : 1}}</div>
							<div class="pts">pts</div>
						</div>
						<div flex></div>
					</div>
					<div flex></div>
				</div>
			</div>
			<div flex></div>
		</div>
	</div>
</div>

<div class="toto-right-area" ng-show="gtMd"></div>


