

<div id="gym" class="toto-central-area weights" flex>
	<div class="toto-card weights-container">
		<div class="weight-container" layout="row" ng-repeat="weight in weights">
			<div class="date-container" layout="column">
				<div class="week">{{weight.weekOfYear}}</div>
				<div class="year">{{weight.year}}</div>
			</div>
			<div layout="column" flex>
				<div flex></div>
				<div class="weight">{{weight.weight}} Kg</div>
				<div flex></div>
			</div>
		</div>
	</div>
</div>

<div class="toto-right-area">
	
</div>

<md-button class="md-fab floating" aria-label="Add a weight measurement" ng-click="addWeight($event)">
	<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
</md-button>
