
<div class="toto-card" layout="column">

	<div layout="row">
		<div class="title" flex>{{title}}</div>
		<div class="toto-button-sm accent-color" layout="column" ng-click="newMasterDeed()" md-whiteframe="3">
			<div flex></div>
			<md-icon md-svg-src="images/svg/add.svg"></md-icon>
			<div flex></div>
		</div>
	</div>	
	<div class="partner-deed-container" layout="row" ng-repeat="deed in masterDeeds" ng-click="onSelect(deed)">
		<div class="points-container" layout="column">
			<div class="points" layout="column"><div flex></div>{{deed.points}}</div>
			<div class="pts">pts</div>
		</div>
		<div class="text-container" layout="column">
			<div flex></div>
			<div class="text">{{deed.name}}</div>
			<div flex></div>
		</div>
	</div>

</div>
