<md-dialog aria-label="Google Maps" ng-cloak>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Google Maps</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="search">
			<div class="md-dialog-content">
				<div class="label">Enter the location</div>
				<div class="input-container" layout="row">
					<input id="googleSearchField" type="text" ng-click="showGoogleResults = false"/>
					<md-button class="md-icon-button" ng-click="googleMapSearch()">
						<md-icon md-svg-src="images/svg/location-search.svg" aria-label="Search Location"></md-icon>
					</md-button>
				</div>
				<div class="autocomplete-results" ng-show="showGoogleResults">
					<div class="searching" ng-show="searching" layout="column">
						<md-icon md-svg-src="images/svg/loading.svg" aria-label="Loading"></md-icon>
						<span>Searching</span>
					</div>
					<ul ng-show="!searching">
						<li ng-repeat="item in cities" class="{{$last ? 'last' : ''}}" ng-click="answer(item)">{{item.name}}</li>
					</ul>
				</div>
			</div>
		</md-dialog-content>
</md-dialog>
