
<div id="money" class="toto-card" layout="column">
	<div class="title" ng-if="gtXs">Economical situation</div>
	<div layout="row">
		<expenses-month-total size="small" currency="EUR" ng-click="go('/expenses')" flex></expenses-month-total>
		<div flex layout="row" style="margin-top: 12px;">
			<div flex></div>
			<toto-bar-graph height="80" bars="moneyBars" show-x-axis="false" bar-color="dark" widget-id="month-bars-money" show-label="true" bar-width="16" ></toto-bar-graph>
			<div flex></div>
		</div>
		<expenses-month-total size="small" currency="DKK" decimals="0" ng-click="go('/expenses')" flex></expenses-month-total>
	</div>
</div>
