
<div class="theme-cyan" id="jobsearch" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Home">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="go('/jobsearch')"></md-icon>
			</md-button>
			<span class="title" flex>Application at {{application.company}}</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
	
		<md-content flex>
		
			<div layout="row">

				<div class="applications-list-container left-area" layout="column" md-whiteframe="3">
					<div class="headline">Your applications</div>
					<div ng-class="['application-container', application.status]" layout="row" ng-repeat="application in applications" ng-click="go('/jobsearch/' + application.id)" flex>
						<div layout="column">
							<div flex></div>
							<div class="icon" layout="column"><div flex></div><md-icon md-svg-src="images/jobsearch/status/{{application.status}}.svg"></md-icon><div flex></div></div>
							<div flex></div>
						</div>
						<div layout="column" class="date-container">
							<div flex></div>
							<div class="day">{{application.date | date : 'dd'}}</div>
							<div class="month">{{application.date | date : 'MMM'}}</div>
							<div flex></div>
						</div>
						<div layout="column" flex class="company-container">
							<div flex></div>
							<div class="company">{{application.company}}</div>
							<div class="city">{{application.city}}, {{application.countryCode}}</div>
							<div flex></div>
						</div>
						<div layout="column">
							<div flex></div>
							<div class="job">{{application.jobPosition}}</div>
							<div flex></div>
						</div>
					</div>
				</div>
				
				<div layout="column">
					<div class="applications-list-container" layout="column">
						<div class="application-container" layout="row" flex>
							<div layout="column">
								<div flex></div>
								<div class="icon" layout="column"><div flex></div><md-icon md-svg-src="images/jobsearch/status/{{application.status}}.svg"></md-icon><div flex></div></div>
								<div flex></div>
							</div>
							<div layout="column" class="date-container">
								<div flex></div>
								<div class="day">{{application.date | date : 'dd'}}</div>
								<div class="month">{{application.date | date : 'MMM'}}</div>
								<div flex></div>
							</div>
							<div layout="column" flex>
								<div flex></div>
								<div class="company">{{application.company}}</div>
								<div class="city">{{application.city}}, {{application.countryCode}}</div>
								<div flex></div>
							</div>
							<div layout="column">
								<div flex></div>
								<div class="job">{{application.jobPosition}}</div>
								<div flex></div>
							</div>
						</div>
					</div>
					
					<div class="events-container" layout="column">
						<div class="timeline"></div>
						<div class="event-container" layout="row" ng-repeat="event in events">
							<div layout="column">
								<div flex></div>
								<div class="icon" layout="column"><div flex></div><md-icon md-svg-src="images/jobsearch/events/{{event.type}}.svg"></md-icon><div flex></div></div>
								<div flex></div>
							</div>
							<div layout="column" class="date-container">
								<div flex></div>
								<div class="day">{{event.eventDate | date : 'dd'}}</div>
								<div class="month">{{event.eventDate | date : 'MMM'}}</div>
								<div flex></div>
							</div>
							<div layout="column" flex>
								<div flex></div>
								<div class="title">{{event.title}}</div>
								<div flex></div>
							</div>
						</div>
					</div>
				</div>				
			
			</div>
		
		</md-content>
		
	</section>

	<md-button class="md-fab floating" aria-label="Add an application" ng-click="addEvent()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

