<md-dialog aria-label="Add an application" ng-cloak id="jobsearch" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>New job application</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			
			<div class="toto-input-container">
				<label>Title</label>
				<input type="text" ng-model="event.title"/>
			</div>
			<div class="toto-input-container">
				<label>Event date</label>
				<md-datepicker ng-model="event.date" ></md-datepicker>
			</div>
			<div class="toto-selector-container">
				<div class="title">What kind of event is it?</div>
				<div class="selections">
					<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
						<md-grid-tile ng-repeat="type in types" md-colspan="1" ng-click="selectEventType(type)">
							<div class="selection {{type.selected ? 'selected' : ''}}" layout="column">
								<div class="image" layout="row"><div flex></div><md-icon md-svg-src="images/jobsearch/events/{{type.id}}.svg" ></md-icon><div flex></div></div>
								<div class="title">{{type.description}}</div>
							</div>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</div>
			
			<button ng-click="answer(event)">Done</button>
			
		</md-dialog-content>
	</form>
	
</md-dialog>
