
<div class="partner-approve-deed-container">

	<div class="title">Your loved one asked you to approve this deed!</div>
	
	<div class="deed">{{deed.name}}</div>
	
	<div class="actions-container" layout="row">
		<div flex></div>
		<div class="toto-button accent-color" md-whiteframe="3" layout="colum" ng-click="answer(true)"><div flex></div><md-icon md-svg-src="images/svg/checked.svg"></md-icon><div flex></div></div>
		<div flex></div>
		<div class="toto-button greyed" md-whiteframe="3" layout="colum" ng-click="answer(false)"><div flex></div><md-icon md-svg-src="images/svg/close.svg"></md-icon><div flex></div></div>
		<div flex></div>
	</div>

</div>