
<div class="theme-cyan" id="travel">

	<md-toolbar class="" md-scroll-shrink="true" >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" >
				<md-icon md-svg-src="images/svg/back.svg" ng-click="go('/')"></md-icon>
			</md-button>
			<span class="title" flex>Travel</span>
	    	<md-button class="md-icon-button semi-transparent" ng-click="togglePrivateCategoriesVisibility()">
	    		<md-icon md-svg-src="images/svg/lock.svg"></md-icon>
	    	</md-button>
		</div>
	</md-toolbar>
	
	<div style="margin: 8px; margin-top: 57px;"></div>
	
	<div id="mapdiv" class="map-container" layout="row" flex>
	</div>
	
	<div style="margin: 8px; margin-top: 262px;"></div>
	
	<md-content class="thumbnails-container">
		<md-grid-list md-cols="3" md-row-height="1:1" md-gutter="4px">
			<md-grid-tile class="category" style="overflow: hidden;" md-ink-ripple="true" ng-click="go('/travel/cat/' + category.id)" ng-repeat="category in categories" ng-show="!category.private || unlockPrivateCategories">
				<img ng-src="images/travel/covers/{{category.thumbnail}}" style="height: 100%"/>
				<div class="footer" layout="row">
					<div flex layout="row">
						<div class="title" flex>{{category.title}}</div>
						<div class="number">{{category.numOfPhotos}}</div>
					</div>
				</div>
			</md-grid-tile> 
		</md-grid-list>
	</md-content>
	
	<md-fab-speed-dial class="md-scale md-fab-bottom-right" md-direction="up" md-open="false" >
		<md-fab-trigger>
			<md-button class="md-fab" aria-label="Add a photo" ng-click="">
				<md-icon md-svg-src="images/svg/bars.svg"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>	
			<md-button class="md-fab md-raised md-mini" aria-label="Add a photo" ng-click="go('/travel/add-photo')">
				<md-icon md-svg-src="images/svg/camera.svg" ></md-icon>
			</md-button>
			<md-button class="md-fab md-raised md-mini" aria-label="Add a category" ng-click="go('/travel/add-cat')">
				<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
			</md-button>
			<md-button class="md-fab md-raised md-mini" aria-label="Add a category" ng-click="go('/travel/settings')">
				<md-icon md-svg-src="images/svg/settings.svg" ></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
	
</div>

