
<div class="theme-cyan" id="travel">

	<md-toolbar class="" md-scroll-shrink="true" >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" >
				<md-icon md-svg-src="images/svg/back.svg" ng-click="go('/travel')"></md-icon>
			</md-button>
			<span class="title" flex>Travel</span>
		</div>
	</md-toolbar>
	
	<div style="margin: 8px; margin-top: 57px;"></div>
	
	<md-content class="">
		<md-card >
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Gallery settings</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-slider-container>
					<div style="max-width: 110px">Max Image Size (Kb)</div>
					<md-slider min="30" max="200" step="5" ng-model="galleryMaxThumbnailSize" aria-label="red" id="red-slider"></md-slider>
					<span>{{galleryMaxThumbnailSize}}</span>
				</md-slider-container>
				<md-slider-container>
					<div style="max-width: 110px">Scale step</div>
					<md-slider min="0.05" max="0.3" step="0.05" ng-model="galleryScaleIncrementStep" aria-label="red" id="red-slider"></md-slider>
					<span>{{galleryScaleIncrementStep}}</span>
				</md-slider-container>
			</md-card-content>
      </md-card>
	</md-content>
	
	<md-button class="md-fab md-fab-bottom-right" aria-label="Save" ng-click="saveSettings()">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
</div>

