
<div class="theme-cyan" id="travel-photo" style="background-color: black; height: 100%;">

	<div layout="row">
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon md-svg-src="images/svg/close.svg" ng-click="go('/travel/cat/' + categoryId)"></md-icon>
		</md-button>
	</div>

	<img ng-src="http://{{microservicesHost}}:{{microservicesPort}}/travel/photos/{{photoId}}" onload="angular.element(this).scope().calcStyle(this);" />

	<div layout="row" style="position: absolute; bottom: 0; width: 100%;">
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon md-svg-src="images/svg/trash.svg" ng-click="go('/travel/cat/' + categoryId)"></md-icon>
		</md-button>
	</div>
	
</div>

