<md-dialog aria-label="Add a hotel" ng-cloak id="trip-add-hotel" class="theme-indigo">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a hotel</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content" >
			<div layout="column">
				<md-input-container class="list" ng-show="hotel.selectedStep == null">
					<label>The hotel is located in: </label>
					<div>
						<ul>
							<li ng-repeat="step in steps" ng-click="selectStep(step)" ng-show="step.hotel == null">
								<h3>{{step.name}}</h3>
								<p class="small">{{step.dateFrom | date : 'dd/MM/yyyy'}} to {{step.dateTo | date : 'dd/MM/yyyy'}}</p>
							</li>
						</ul>
					</div>
				</md-input-container>
				<div id="selected-step" ng-show="hotel.selectedStep != null">
					<label>You're gonna choose a hotel for</label>
					<h3>{{hotel.selectedStep.name}}</h3>
					<p class="small">{{hotel.selectedStep.dateFrom | date : 'dd/MM/yyyy'}} to {{hotel.selectedStep.dateTo | date : 'dd/MM/yyyy'}}</p>
				</div>
			</div>
			<div style="margin-top: 24px" layout="column" ng-show="hotel.selectedStep != null">
				<md-input-container>
					<label>Hotel name</label>
					<input ng-model="hotel.name"/>
				</md-input-container>
				<md-input-container class="list">
					<label>How many stars?</label>
					<div class="stars">
						<span class="{{hotel.stars >= 1 ? 'selected' : ''}}" ng-click="selectStar(1)"></span>
						<span class="{{hotel.stars >= 2 ? 'selected' : ''}}" ng-click="selectStar(2)"></span>
						<span class="{{hotel.stars >= 3 ? 'selected' : ''}}" ng-click="selectStar(3)"></span>
						<span class="{{hotel.stars >= 4 ? 'selected' : ''}}" ng-click="selectStar(4)"></span>
						<span class="{{hotel.stars >= 5 ? 'selected' : ''}}" ng-click="selectStar(5)"></span>
					</div>
				</md-input-container>
				<md-input-container class="icon">
					<label>Address</label>
					<input class="position" ng-model="hotel.address"/>
				</md-input-container>
				<md-input-container class="icon">
					<label>Price</label>
					<input class="euro" ng-model="hotel.price"/>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	
	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(hotel)">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
</md-dialog>
