<md-dialog aria-label="Trip step details" ng-cloak>
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>{{step.name}}</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="trip-step-edit-dlg-content">
			<div class="md-dialog-content" layout="column">
				<label>Arriving in {{step.name}} from</label>
				<md-datepicker ng-model="step.dateFrom" md-placeholder="From"></md-datepicker>
				<label>Leaving {{step.name}} on</label>
				<md-datepicker ng-model="step.dateTo" md-placeholder="To"></md-datepicker>
				<label>Do you want to describe the step?</label>
				<textarea ng-model="step.notes">{{step.notes}}</textarea>
			</div>
		</md-dialog-content>
	</form>
	
	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(step)">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
	
</md-dialog>
