
<div class="theme-indigo trip">

	<md-toolbar md-scroll-shrink="true" >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="go('/')"></md-icon>
			</md-button>
			<span class="title" flex>Your trips</span>
		</div>
	</md-toolbar>
	
	<md-content class="content">
		<md-grid-list md-cols="3" md-cols-gt-sm="{{columnsGtSm}}" md-row-height="1:1" md-gutter="3px">
			<md-grid-tile md-ink-ripple="true" ng-click="go('/trip/' + trip.id)" ng-repeat="trip in trips" md-colspan="3">
				<img ng-src="http://{{imagesServerHost}}:{{imagesServerPort}}/{{trip.thumbnail}}" style="height: 100%" onload="angular.element(this).scope().adjustThumbnailSize(this)"/>
				<div class="info" layout="column">
					<span class="title" flex>{{trip.name}}</span>
					<span class="detail highlight">{{trip.period}}</span>
<!-- 					<span class="detail">Budget {{trip.budget}} &euro;</span> -->
				</div>
			</md-grid-tile> 
		</md-grid-list>
	</md-content>
	
	<md-button class="md-fab floating" aria-label="Add trip" ng-click="addTrip()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
	
</div>

