<md-dialog aria-label="Link to a plane ticket" ng-cloak id="ticket" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Link a plane ticket</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-inapp-dashboard" style="padding: 6px;">
			<md-grid-list md-cols-xs="1" md-cols-gt-sm="3" md-row-height-gt-sm="3:1" md-row-height="4:1" md-gutter="4px">
				<md-grid-tile class="ticket" layout="column" ng-repeat="ticket in tickets" ng-click="selectTicket(ticket)" >
					<md-icon md-svg-src="images/svg/ticket.svg"></md-icon>
					<div class="text" layout="column" >
						<div class="headline">{{ticket.name}}</div>
						<div class="subhead">{{ticket.tripDate | date : 'dd MMM yy'}}</div>
						<div ng-if="ticket.linkedFlights.length > 0" class="planes" layout="row"><md-icon md-svg-src="images/svg/airplane-oblique.svg"></md-icon><p>{{ticket.linkedFlights.length}}</p></div>
						<div ng-if="ticket.amount != null" class="floating-info">&euro; {{ticket.amount | number : 2}}</div>
						<md-icon class="floating-info" md-svg-src="images/svg/broken-link.svg" ng-if="ticket.amount == null"></md-icon>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-dialog-content>
	</form>
</md-dialog>
