<md-dialog aria-label="Show the details of a ticket" ng-cloak id="ticket-details" class="theme-cyan">
	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
			</md-button>
			<span class="title" flex>Ticket to {{ticket.name}}</span>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content toto-detail-dialog">
		<div layout-gt-sm="row" layout="column">
			<div class="toto-info-box" layout="column">
				<div layout="row" class="row"><div class="label">Ticket</div><div class="value">{{ticket.name}}</div></div>
				<div layout="row" class="row"><div class="label">Trip date</div><div class="value">{{ticket.tripDate | date : 'dd MMM yyyy'}}</div></div>
				<div layout="row" class="row"><div class="label">Bought on</div><div class="value">{{ticket.boughtOn | date : 'dd MMM yyyy'}}</div></div>
			</div>
		</div>
		<md-grid-list class="transport" md-cols="1" md-cols-gt-sm="3" md-row-height="4:1" md-gutter="4px">
			<md-grid-tile ng-repeat="flight in ticket.flights">
				<md-icon class="background" md-svg-src="images/weekend/transport/airplane.svg"></md-icon>
				<div flex class="schedule" layout="column">
					<div class="title">Departure</div>
					<div class="date">{{flight.takeoff.date | date : 'dd MMM'}}</div>
					<div layout="row">
						<div flex></div>
						<div class="airport">{{flight.takeoff.airport}}</div>
						<div class="time">{{flight.takeoff.time}}</div>
						<div flex></div>
					</div>
				</div>
				<div flex class="schedule" layout="column">
					<div class="title">Arrival</div>
					<div class="date">{{flight.landing.date | date : 'dd MMM'}}</div>
					<div layout="row">
						<div flex></div>
						<div class="airport">{{flight.landing.airport}}</div>
						<div class="time">{{flight.landing.time}}</div>
						<div flex></div>
					</div>
				</div>
			</md-grid-tile>
		</md-grid-list>
		
		<div layout-gt-sm="row" layout="column" ng-if="bill.linkedPaymentId == null" >
			<div class="toto-action-box" layout="row">
				<md-button flex aria-label="add flight" ng-click="addFlight(ticket, $event)">
					<md-icon class="right" md-svg-src="images/svg/airplane.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="Delete" ng-click="deleteTicket(ticket, $event)">
					<md-icon class="right" md-svg-src="images/svg/trash.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="Delete" ng-click="linkToExpense(ticket, $event)">
					<md-icon class="right" md-svg-src="images/svg/budget.svg"></md-icon>
				</md-button>
			</div>
		</div>
	</md-dialog-content>
	
</md-dialog>