
<div class="theme-cyan" id="ticket" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('car-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Plane tickets</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="car-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/flight')"><md-icon md-svg-src="images/svg/airplane.svg"></md-icon><p>Plane tickets</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content flex class="toto-inapp-dashboard">
			<md-grid-list md-cols-xs="1" md-cols-gt-sm="4" md-row-height-gt-sm="3:1" md-row-height="4:1" md-gutter="4px">
				<md-grid-tile class="ticket" layout="column" ng-repeat="ticket in tickets" ng-click="showDetail(ticket, $event)" >
					<md-icon md-svg-src="images/svg/ticket.svg"></md-icon>
					<div class="text" layout="column" >
						<div class="headline">{{ticket.name}}</div>
						<div class="subhead">{{ticket.tripDate | date : 'dd MMM yy'}}</div>
						<div ng-if="ticket.linkedFlights.length > 0" class="planes" layout="row"><md-icon md-svg-src="images/svg/airplane-oblique.svg"></md-icon><p>{{ticket.linkedFlights.length}}</p></div>
						<div ng-if="ticket.amount != null" class="floating-info">&euro; {{ticket.amount | number : 2}}</div>
						<md-icon class="floating-info" md-svg-src="images/svg/broken-link.svg" ng-if="ticket.amount == null"></md-icon>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
	</section>

	<md-button class="md-fab floating" aria-label="Add a ticket" ng-click="addTicket($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
	
</div>

