
<div class="theme-cyan" id="notes" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('notes-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Notes</span>
			<md-button class="md-icon-button" aria-label="Save">
				<md-icon md-svg-src="images/svg/checked.svg" ng-click="saveNote()"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="notes-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-class="[menu.selected ? 'selected' : '']" ng-repeat="menu in notesMenus" ng-click="goAndSelect(menu, notesMenus)"><md-icon md-svg-src="{{menu.imageUrl}}"></md-icon><p>{{menu.name}}</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
		
		<md-content id="notes-list" layout="column" flex>

			<div id="editor">
			</div>
			
		</md-content>
	</section>
	
</div>

