<md-toolbar md-scroll-shrink="true"  >
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Go Back">
			<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
		</md-button>
		<span class="title" flex>Add a meal</span>
	</div>
</md-toolbar>
<div class="toto-form" style="padding: 24px; margin-top: 38px;" flex layout="column">
	<div ng-if="currentStep == 1">
		<div class="toto-input-container">
			<label>Payment date</label>
			<md-datepicker ng-model="meal.date" ></md-datepicker>
		</div>
		<button ng-click="nextStep()">Next</button>
	</div>
	<div ng-if="currentStep == 2" class="toto-clock">
		<div id="clock"></div>
		<div id="selectedTimeDisplay"></div>
	</div>
	<div ng-if="currentStep == 3 && !hideAll" layout="column" flex class="aliments-container">
		<div class="aliment-container" ng-repeat="food in meal.aliments">
			<div class="diet-food" layout="row">
				<div layout="column">
					<div class="avatar" layout="column"><div flex></div><md-icon md-svg-src="images/diet/cat/{{food.category}}.svg"></md-icon><div flex></div></div>
					<div flex></div>
				</div>
				<div layout="column" flex>
					<div class="name">{{food.name}}</div>
					<div class="details">
						<span ng-if="food.amountGr != null">Amount: {{food.amountGr}} gr.</span>
						<span ng-if="food.amountMl != null">Amount: {{food.amountMl}} ml.</span>
						<span ng-if="food.amount != null">Amount: {{food.amount}}</span>
					</div>
				</div>
			</div>
		</div>
		<div layout="row">
			<div class="add-aliment" ng-click="addAliment()" layout="row" flex>
				<md-icon md-svg-src="images/svg/served-food.svg"></md-icon>
				<div layout="column" flex>
					<div flex></div>
					<div class="text">Add an aliment</div>
					<div flex></div>
				</div>
			</div>
		</div>
		<div flex></div>
		<button ng-click="answer(meal)">Done</button>
	</div>
	<div ng-if="showAliments">
		<diet-foods on-select="selectFood" background="dark" hide-add="true"></diet-foods>
	</div>
	<div ng-if="showAmountUnit">
		<div class="toto-alternatives-picker" layout="row">
			<div flex></div>
			<div ng-class="['alternative', 'first', newFoodUnit == 'gr' ? 'accent-color' : '']" ng-click="selectUnit('gr')">gr</div>
			<div ng-class="['alternative', newFoodUnit == 'ml' ? 'accent-color' : '']" ng-click="selectUnit('ml')">ml</div>
			<div ng-class="['alternative', 'last', newFoodUnit == 'perc' ? 'accent-color' : '']" ng-click="selectUnit(perc)">%</div>
			<div flex></div>
		</div>
	</div>
	<div ng-if="showAmount" flex layout="column">
		<div flex></div>
		<toto-numpad answer="selectAmount"></toto-numpad>
		<div flex></div>
	</div>
</div>
