<toto-form>

	<toto-toolbar title="Add a meal" on-cancel="cancel"></toto-toolbar>
	
	<toto-input-steps>
	
		<toto-step step="1">
			<toto-datepicker label="Select a date" model="mealDate"></toto-datepicker>
			<toto-timepicker label="Select a time" model="meal.time"></toto-timepicker>
			<div flex></div>
			<toto-next-step></toto-next-step>
		</toto-step>
		
		<toto-step step="2">
			<toto-list on-add="addAliment" ng-if="!hideAll" dataset="meal.aliments" extractor="alimentDataExtractor"></toto-list>
			<div ng-if="showAliments">
				<diet-foods on-select="selectFood" background="dark" hide-add="true"></diet-foods>
			</div>
			<div ng-if="showAmountUnit">
				<div class="toto-alternatives-picker" layout="row">
					<div flex></div>
					<div ng-class="['alternative', 'first', newFoodUnit == 'gr' ? 'accent-color' : '']" ng-click="selectUnit('gr')">gr</div>
					<div ng-class="['alternative', newFoodUnit == 'ml' ? 'accent-color' : '']" ng-click="selectUnit('ml')">ml</div>
					<div ng-class="['alternative', 'last', newFoodUnit == 'perc' ? 'accent-color' : '']" ng-click="selectUnit(perc)">%</div>
					<div flex></div>
				</div>
			</div>
			<div ng-if="showAmount" flex layout="column">
				<div flex></div>
				<toto-numpad answer="selectAmount"></toto-numpad>
				<div flex></div>
			</div>
			<toto-next-step last="true" ng-click="answer(meal)" ng-if="!showAliments && !showAmountUnit && !showAmount"></toto-next-step>
		</toto-step>
		
	</toto-input-steps>
	
</toto-form>

