<md-toolbar md-scroll-shrink="true"  >
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Go Back">
			<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
		</md-button>
		<span class="title" flex>New food</span>
	</div>
</md-toolbar>
<div class="toto-form" style="padding: 24px; margin-top: 38px;" >
	<div ng-if="currentStep == 1">
		<div class="toto-input-container">
			<label>Name</label>
			<input type="text" ng-model="food.name"/>
		</div>
		<div class="toto-input-container">
			<label>Calories</label>
			<input type="text" ng-model="food.calories"/>
		</div>
		<div class="toto-input-container">
			<label>Carbs</label>
			<input type="text" ng-model="food.carbs"/>
		</div>
		<div class="toto-input-container">
			<label>Sugars</label>
			<input type="text" ng-model="food.sugars"/>
		</div>
		<div class="toto-input-container">
			<label>Proteins</label>
			<input type="text" ng-model="food.proteins"/>
		</div>
		<div class="toto-input-container">
			<label>Fat</label>
			<input type="text" ng-model="food.fat"/>
		</div>
		<button ng-click="nextStep()">Next</button>
	</div>
	<div ng-if="currentStep == 2">
		<div class="title">What kind of food is it?</div>
		<div class="category-picker">
			<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
				<md-grid-tile ng-repeat="category in categories" md-colspan="1" ng-click="selectCategory(category)">
					<div class="category-container {{category.selected ? 'selected' : ''}}" layout="column">
						<div class="image" layout="row">
							<md-icon md-svg-src="images/diet/cat/{{category.id}}.svg" style="width: 40px; height: 40px;"></md-icon>
						</div>
						<div class="title">{{category.description}}</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
</div>
