
<home-link></home-link>

<div class="h1">
	Meals
	<div class="h3">{{currentDay | date : 'EEEE d MMM'}}</div>
</div>

<div class="meals-container" >
	<div class="meal-container" ng-repeat="meal in meals" layout="row">
		
		<div layout="column">
			<div flex></div>
			<div class="calories-container" layout="column">
				<div flex></div>
				<div class="amount">{{meal.calories}}</div>
				<div flex class="unit">cal</div>
			</div>
			<div flex></div>
		</div>
		
		<div layout="column">
			<div flex></div>
			<div class="time-container" layout="column">
				<div flex></div>
				<div class="hour">{{meal.time}}</div>
				<div flex></div>
			</div>
			<div flex></div>
		</div>
		
		<div layout="column">
			<div flex></div>
			<div class="aliments-container" layout="column">
				<div flex></div>
				<div class="aliments" layout="row">
					<div class="aliment" ng-repeat="aliment in meal.aliments" layout="column">
						<div class="name">{{aliment.name}}</div>
						<div class="amount" ng-if="aliment.amountGr != null">{{aliment.amountGr}} gr</div>
						<div class="amount" ng-if="aliment.amountMl != null">{{aliment.amountMl}} ml</div>
						<div class="amount" ng-if="aliment.amount != null">{{aliment.amount}}</div>
					</div>
				</div>
				<div flex></div>
			</div>
			<div flex></div>
		</div>
		
	</div>
	<!-- Add Meal -->
	<div class="meal-container" layout="row">
		
		<div layout="column">
			<div flex></div>
			<div class="calories-container" layout="column" ng-click="addMeal()">
				<div flex></div>
				<md-icon md-svg-src="images/svg/add.svg"></md-icon>
				<div flex></div>
			</div>
			<div flex></div>
		</div>
		
	</div>
</div>

<div flex></div>

<div class="main-apps-toolbar" layout="row">
	<div flex></div>
	<div class="app-link" layout="row" flex ng-click="go('/diet/foods')">
		<div flex></div>
		<div ng-class="['icon-container']">
			<md-icon md-svg-src="images/svg/groceries-bag.svg"></md-icon>
		</div>
		<div flex></div>
	</div>
	<div flex></div>
</div>
