
<div class="theme-cyan" id="subscriptions" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('subscriptions')"></md-icon>
			</md-button>
			<span class="title" flex>Subscriptions</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="subscriptions" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-orange">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/subscriptions')"><md-icon md-svg-src="images/svg/dashboard.svg"></md-icon><p>Subscriptions</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content id="content" flex>
			<div class="subscriptions-container" layout="column">
				<div class="subscription-container" layout="row" ng-repeat="subscription in subscriptions" ng-click="go('/subscriptions/' + subscription.id)">
					<div class="avatar" layout="column">
						<md-icon md-svg-src="images/subscriptions/avatars/{{subscription.type}}.svg"></md-icon>
						<div flex></div>
					</div>
					<div class="info-container" layout="row" flex>
						<div class="info" layout="column" flex>
							<div class="name">{{subscription.name}}</div>
							<div class="payment">{{subscription.paymentDesc}}</div>
							<div class="billing">{{subscription.billing}}</div>
						</div>
						<div class="cost" layout="column">
							<div class="box" ng-if="subscription.actualCost != null">
								<div class="expected">&euro; {{subscription.cost | number : 2}}</div>
								<div class="actual">&euro; {{subscription.actualCost | number : 2}}</div>
							</div>
							<div layout="column" ng-if="subscription.actualCost == null" flex>
								<div flex></div>
								<div class="amount">&euro; {{subscription.cost | number : 2}}</div>
								<div flex></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Add a subscription" ng-click="addSubscription($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
	
</div>

