<md-dialog aria-label="Add a project" ng-cloak id="project" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Create a new project</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			
			<div ng-if="currentStep == 1" class="toto-selector-container">
				<div class="title">What type of event is it?</div>
				<div class="selections">
					<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
						<md-grid-tile ng-repeat="type in types" md-colspan="1" ng-click="selectType(type)">
							<div class="selection {{type.selected ? 'selected' : ''}}" layout="column">
								<div class="image" layout="row"><div flex></div><md-icon md-svg-src="{{type.svgPath}}" ></md-icon><div flex></div></div>
								<div class="title">{{type.description}}</div>
							</div>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</div>
			
			<div ng-if="currentStep == 2">
				<div class="toto-input-container">
					<label>Event title</label>
					<input type="text" ng-model="event.title"/>
				</div>
				<div class="toto-input-container">
					<label>Event date (leave empty if today)</label>
					<md-datepicker ng-model="event.date" ></md-datepicker>
				</div>
				<div class="toto-input-container">
					<label>Relevant event</label>
					<div ng-class="['flag-icon', event.relevant ? 'selected' : '']" ng-click="toggleRelevance()"><md-icon md-svg-src="images/svg/star.svg"></md-icon></div>
				</div>
				
				<button ng-click="nextStep()">Next</button>
			</div>
			
			<div ng-if="currentStep == 3">
				<div class="toto-list-container" layout="column">
					<div class="list-item" layout="row" ng-repeat="block in blocks" ng-click="selectBlock(block)">
						<div layout="column">
							<div flex></div>
							<div class="checkbox"></div>
							<div flex></div>
						</div>
						<div layout="column">
							<div flex></div>
							<div class="title">{{block.title}}</div>
							<div flex></div>
						</div>
					</div>
				</div>
			</div>
			
		</md-dialog-content>
	</form>
	
</md-dialog>
