<md-dialog aria-label="Add a project" ng-cloak id="project" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Add a new document</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			
			<div ng-if="currentStep == 1">
				<div class="toto-input-container">
					<label>Title</label>
					<input type="text" ng-model="doc.title"/>
				</div>
				<div class="toto-input-container">
					<label>Filename</label>
					<input type="text" ng-model="doc.filename"/>
				</div>
				<div class="toto-input-container">
					<label>Document date</label>
					<md-datepicker ng-model="doc.date" ></md-datepicker>
				</div>
				
				<button ng-click="nextStep()">Next</button>
			</div>
			
			<div ng-if="currentStep == 2">
				<div class="toto-selector-container">
					<div class="title">Where is the document stored?</div>
					<div class="selections">
						<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
							<md-grid-tile ng-repeat="place in docPlaces" md-colspan="1" ng-click="selectPlace(place)">
								<div class="selection {{place.selected ? 'selected' : ''}}" layout="column">
									<div class="image" layout="row"><div flex></div><md-icon md-svg-src="{{place.svgPath}}" ></md-icon><div flex></div></div>
									<div class="title">{{place.description}}</div>
								</div>
							</md-grid-tile>
						</md-grid-list>
					</div>
				</div>
				<div class="toto-selector-container">
					<div class="title">On which drive?</div>
					<div class="selections">
						<md-grid-list md-cols="3" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="3px">
							<md-grid-tile ng-repeat="drive in docDrives" md-colspan="1" ng-click="selectDrive(drive)">
								<div class="selection {{drive.selected ? 'selected' : ''}}" layout="column">
									<div class="image" layout="row"><div flex></div><md-icon md-svg-src="{{drive.svgPath}}" ></md-icon><div flex></div></div>
									<div class="title">{{drive.description}}</div>
								</div>
							</md-grid-tile>
						</md-grid-list>
					</div>
				</div>
				<div class="toto-input-container">
					<label>File path</label>
					<input type="text" ng-model="doc.location.path"/>
				</div>
				
				<button ng-click="answer(doc)">Done</button>
			</div>
			
		</md-dialog-content>
	</form>
	
</md-dialog>
