<div class="theme-cyan">
	<md-toolbar md-scroll-shrink="true">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Go Back"> <md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon> </md-button>
			<span class="title" flex>New Note</span>
		</div>
	</md-toolbar>
	
	<section layout="column" flex>
		<md-content flex>
			<div id="editor" flex>
			</div>
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Save the note" ng-click="saveNote()">
		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon>
	</md-button>
			
</div>