<md-dialog aria-label="Add a project" ng-cloak class="theme-cyan">

	<div id="project" style="padding: 12px;">
		<div class="projects-container">
			<div class="project-container" ng-repeat="block in blocks" layout="row" ng-click="answer(block)">
				<div class="icon-container" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/project-blocks.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="name-container" layout="column" flex>
					<div flex></div>
					<div class="name">{{block.title}}</div>
					<div flex></div>
				</div>
			</div>
		</div>
	</div>
	
</md-dialog>
