
<div class="theme-cyan" id="project" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/back.svg" ng-click="go('/project/' + project.id)"></md-icon>
			</md-button>
			<span class="title" flex>Project blocks</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>

		<md-content flex style="padding: 12px;">
			
			<div class="projects-container">
				<div class="project-container" ng-repeat="block in blocks" layout="row">
					<div class="icon-container" layout="column">
						<div flex></div>
						<md-icon md-svg-src="images/svg/project-blocks.svg"></md-icon>
						<div flex></div>
					</div>
					<div class="name-container" layout="column" flex>
						<div flex></div>
						<div class="name">{{block.title}}</div>
						<div flex></div>
					</div>
				</div>
			</div>
			
		</md-content>
	</section>
	
	<md-button class="md-fab floating" aria-label="Add a block" ng-click="addBlock()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
</div>

