
<toto-app-menu menus="projectMenus"></toto-app-menu>

<div class="toto-left-area" ng-show="gtMd"></div>

<div class="toto-central-area" id="project" flex>
	
	<div class="toto-card">
		<div class="title">Project list</div>
		<div class="content projects-container">
			<div class="project-container" ng-repeat="project in projects" layout="row" ng-click="go('/project/' + project.id)">
				<div class="icon-container" layout="column">
					<div flex></div>
					<md-icon md-svg-src="images/svg/project.svg"></md-icon>
					<div flex></div>
				</div>
				<div class="name-container" layout="column" flex>
					<div flex></div>
					<div class="name">{{project.title}}</div>
					<div flex></div>
				</div>
			</div>
		</div>
	</div>
	
	<md-button class="md-fab floating" aria-label="Add a project" ng-click="addProject()">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
		
</div>

<div class="toto-right-area" ng-show="gtMd"></div>