<md-dialog aria-label="Add a weekend" ng-cloak id="weekend-add" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Plan your weekend</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			<div ng-if="currentStep == 1">
				<div class="toto-input-container">
					<label>Hotel name</label>
					<input type="text" ng-model="hotel.name"/>
				</div>
				<div class="toto-input-container">
					<label>Address</label>
					<input type="text" ng-model="hotel.address"/>
				</div>
				<button ng-click="answer(hotel)">Done</button>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>
