<md-dialog aria-label="Add a weekend" ng-cloak id="weekend-add" class="theme-cyan">
	<form>
		<md-toolbar md-scroll-shrink="true"  >
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Go Back">
					<md-icon md-svg-src="images/svg/back.svg" ng-click="cancel()"></md-icon>
				</md-button>
				<span class="title" flex>Plan your weekend</span>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content toto-form">
			<div class="step-tracker" layout="row">
				<div flex></div>
				<div ng-repeat="step in steps" class="step {{currentStep == step ? 'current' : ''}}">{{step}}</div>
				<div flex></div>
			</div>
			<div ng-if="currentStep == 1">
				<md-grid-list md-cols="4" md-cols-gt-sm="8" md-row-height="1:1" md-gutter="4px">
					<md-grid-tile ng-repeat="date in weekends" ng-click="selectDate(date)">
						{{date | date : 'dd MMM'}}
					</md-grid-tile>
				</md-grid-list>
			</div>
			<div ng-if="currentStep == 2">
				<div class="toto-input-container">
					<label>Destination</label>
					<input type="text" ng-model="we.destination"/>
				</div>
				<button ng-click="nextStep()">Next</button>
			</div>
			<div ng-if="currentStep == 3">
				<div class="title">What kind of trip is it?</div>
				<div class="location-container" layout="row" >
					<div flex></div>
					<md-icon class="location" ng-click="selectLocation(loc)" ng-repeat="loc in locations" md-svg-src="images/weekend/location/{{loc}}.svg"></md-icon>
					<div flex></div>
				</div>
			</div>
			<div ng-if="currentStep == 4">
				<div layout="column" layout-gt-sm="row">
					<div class="toto-input-container">
						<label>From</label>
						<md-datepicker ng-model="we.from" ></md-datepicker>
					</div>
					<div class="toto-input-container">
						<label>To</label>
						<md-datepicker ng-model="we.to" ></md-datepicker>
					</div>
				</div>
				<button ng-click="answer(we)">Done</button>
			</div>
		</md-dialog-content>
	</form>
	
<!-- 	<md-button class="md-fab floating" aria-label="Ok" ng-click="answer(we)"> -->
<!-- 		<md-icon md-svg-src="images/svg/checked.svg" ></md-icon> -->
<!-- 	</md-button> -->
</md-dialog>
