<div class="theme-cyan" id="weekend-details" layout="column" flex>

	<md-toolbar md-scroll-shrink="true"  >
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('we-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>{{we.destination}}</span>
		</div>
	</md-toolbar>
	
	<section layout="column" flex>
	
		<md-sidenav class="md-sidenav-left we-sidenav" md-component-id="we-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item ng-click="go('/weekend')"><md-icon md-svg-src="images/svg/palm-tree.svg"></md-icon><p>Upcoming weekends</p></md-list-item>
					<md-list-item ng-click="go('/weekend/archive')"><md-icon md-svg-src="images/svg/archived.svg"></md-icon><p>Past weekends</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
	
		<md-content flex style="padding: 12px;" layout="column">
			<div class="trip">Your trip to {{we.destination}}</div>
			<div class="dates">{{we.from | date : 'dd.MM.yy'}} - {{we.to | date : 'dd.MM.yy'}}</div>
			
			<div class="weekend-section" ng-if="section == 'we-flights'" flex>
				<div class="header" layout="row">
					<div flex></div>
					<div class="icon"><md-icon md-svg-src="images/svg/airplane.svg"></md-icon></div>
					<div class="title">Flight information</div>
					<div flex></div>
				</div>
				<div class="content">
					<div class="message" ng-if="tripDeparture.date == null">No flights for this trip</div>
					<div layout="row" ng-if="tripDeparture.date != null">
						<div class="not-mobile" flex></div>
						<div class="timeline" layout="row" flex>
							<div class="background"></div>
							<div class="moment">
								<div class="date">{{tripDeparture.date | date : 'd MMM'}}</div>
								<div class="icon"><md-icon md-svg-src="images/svg/airplane-takeoff.svg"></md-icon></div>
								<div class="time">{{tripDeparture.time}}</div>
							</div>
							<div flex></div>
							<div class="moment">
								<div class="date">{{tripReturn.date | date : 'd MMM'}}</div>
								<div class="icon"><md-icon md-svg-src="images/svg/airplane-land.svg"></md-icon></div>
								<div class="time">{{tripReturn.time}}</div>
							</div>
						</div>
						<div class="not-mobile" flex></div>
					</div>
					<div class="flight-info" ng-repeat="flight in flights" layout="row" ng-if="tripDeparture.date != null">
						<div class="icon"><md-icon md-svg-src="images/svg/airplane-takeoff.svg"></md-icon></div>
						<div class="date">{{flight.date | date : 'dd'}}<span>{{flight.date | date : 'MMM'}}</span></div>
						<div class="time">{{flight.time}}</div>
						<div class="airport"><span>{{flight.from}}</span> - <span>{{flight.to}}</span></div>
					</div>
				</div>
			</div>
			
			<div class="weekend-section hotels" ng-if="section == 'we-hotels'" flex>
				<div class="header" layout="row">
					<div flex></div>
					<div class="icon"><md-icon md-svg-src="images/svg/bed.svg"></md-icon></div>
					<div class="title">Hotel information</div>
					<div flex></div>
				</div>
				<div class="content">
					<div class="message" ng-if="hotels == null || hotels.length == 0">No hotels booked yet</div>
					<div layout="row" ng-if="hotels != null && hotels.length > 0">
						<div class="not-mobile" flex></div>
						<div class="hotel" layout="column">
							<div class="dates-info" layout="row">
								<div class="navigator {{hotelIndex == 0 ? 'disabled' : ''}}" layout="column" ng-click="previousHotel()">
									<div flex></div>
									<md-icon md-svg-src="images/svg/arrow-left.svg"></md-icon>
									<div flex></div>
								</div>
								<div class="date" layout="column">
									<div class="dayOfWeek">{{hotels[hotelIndex].from | date : 'EEE'}}</div>
									<div class="day">{{hotels[hotelIndex].from | date : 'd'}}</div>
									<div class="month">{{hotels[hotelIndex].from | date : 'MMM'}}</div>
								</div>
								<div class="timeline" flex></div>
								<div layout="column" style="height: 100%">
									<div flex></div>
									<div class="action" layout="column">
										<div flex></div>
										<div class="button" style="background-image: url('images/svg/trash-white.svg');" ng-click="unlinkHotel(hotels[hotelIndex])"></div>
										<div flex></div>
									</div>
									<div flex></div>
								</div>
								<div class="timeline" flex></div>
								<div class="date" layout="column">
									<div class="dayOfWeek">{{hotels[hotelIndex].to | date : 'EEE'}}</div>
									<div class="day">{{hotels[hotelIndex].to | date : 'd'}}</div>
									<div class="month">{{hotels[hotelIndex].to | date : 'MMM'}}</div>
								</div>
								<div class="navigator {{hotelIndex == (hotels.length - 1) ? 'disabled' : ''}}" layout="column" ng-click="nextHotel()">
									<div flex></div>
									<md-icon md-svg-src="images/svg/arrow-right.svg"></md-icon>
									<div flex></div>
								</div>
							</div>
							<div class="name">{{hotels[hotelIndex].name}}</div>
							<div class="address">{{hotels[hotelIndex].address}}</div>
							<div layout="row" style="position: relative;">
								<div flex></div>
								<div class="pin"><md-icon md-svg-src="images/svg/pin.svg" ng-click="openMaps(hotels[hotelIndex])"></md-icon></div>
								<div flex></div>
							</div>
						</div>
						<div class="not-mobile" flex></div>
					</div>
				</div>
			</div>
			
			<div class="weekend-section economics" ng-if="section == 'we-economics'" flex>
				<div class="header" layout="row">
					<div flex></div>
					<div class="icon"><md-icon md-svg-src="images/svg/budget.svg"></md-icon></div>
					<div class="title">Economics</div>
					<div flex></div>
				</div>
				<div class="content">
					<div class="message" ng-if="paymentsTotal == 0">No payments linked yet</div>
					<div layout="row" ng-if="paymentsTotal != 0">
						<div flex></div>
						<div class="total {{paymentsConsolidated ? '' : 'temporary'}}">&euro; {{paymentsTotal | number : 2}}</div>
						<div flex></div>
					</div>
					<div class="payments" layout="column">
						<div class="payment" layout="row" ng-repeat="payment in payments">
							<div class="icon" ng-click="payment.showMenu = true">
								<md-icon ng-if="payment.type == 'hotel'" md-svg-src="images/svg/bed.svg"></md-icon>
								<md-icon ng-if="payment.type == 'plane'" md-svg-src="images/svg/airplane.svg"></md-icon>
								<md-icon ng-if="payment.type == 'other'" md-svg-src="images/svg/bubble-money.svg"></md-icon>
							</div>
							<div class="description" flex ng-click="payment.showMenu = true">{{payment.description}}</div>
							<div class="euro {{payment.consolidated ? '' : 'temporary'}}" ng-click="payment.showMenu = true" ng-if="payment.type != 'other' || !payment.showMenu">&euro;</div>
							<div class="amount {{payment.consolidated ? '' : 'temporary'}}" ng-click="payment.showMenu = true" ng-if="payment.type != 'other' || !payment.showMenu">{{payment.amount | number : 2}}</div>
							<div class="menu" ng-if="payment.showMenu && payment.type == 'other'" layout="row">
								<div class="icon" style="background-image: url('images/svg/trash-white.svg');" ng-click="unlinkExpense(payment)"></div>
								<div class="icon" style="background-image: url('images/svg/close-white.svg');" ng-click="payment.showMenu = false"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
<!-- 			<div flex></div> -->
			<div class="navigator" layout="row">
				<div flex></div>
				<div flex layout="row">
					<div flex></div>
					<div class="item {{section == 'we-flights' ? 'selected' : ''}}" ng-click="loadSection('we-flights')"><md-icon md-svg-src="images/svg/circle.svg"></md-icon></div>
					<div class="item {{section == 'we-hotels' ? 'selected' : ''}}"><md-icon md-svg-src="images/svg/circle.svg" ng-click="loadSection('we-hotels')"></md-icon></div>
					<div class="item {{section == 'we-economics' ? 'selected' : ''}}"><md-icon md-svg-src="images/svg/circle.svg" ng-click="loadSection('we-economics')"></md-icon></div>
					<div flex></div>
				</div>
				<div flex></div>
			</div>
		
			<div class="action-box" layout="row">
				<md-button flex aria-label="add payment" ng-click="linkToExpense(we, $event)">
					<md-icon class="right" md-svg-src="images/svg/budget.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="add hotel" ng-click="addHotel(we, $event)">
					<md-icon class="right" md-svg-src="images/svg/bed.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="add flight" ng-click="addPlaneTicket(we, $event)">
					<md-icon class="right" md-svg-src="images/svg/airplane.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="close weekend" ng-click="closeWeekend(we, $event)">
					<md-icon class="right" md-svg-src="images/svg/archived.svg"></md-icon>
				</md-button>
				<md-button flex aria-label="delete weekend" ng-click="deleteWeekend(we, $event)">
					<md-icon class="right" md-svg-src="images/svg/trash.svg"></md-icon>
				</md-button>
			</div>
		</md-content>
	</section>
	
</div>
