
<div class="theme-cyan" id="weekend" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Back">
				<md-icon md-svg-src="images/svg/bars.svg" ng-click="toggleNavbar('we-sidenav')"></md-icon>
			</md-button>
			<span class="title" flex>Your Weekends Schedule</span>
		</div>
	</md-toolbar>
	
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left we-sidenav" md-component-id="we-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-toolbar class="md-theme-cyan">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-click="go('/')"><md-icon md-svg-src="images/svg/home.svg"></md-icon><p>Home</p></md-list-item>
					<md-list-item class="selected" ng-click="go('/weekend')"><md-icon md-svg-src="images/svg/palm-tree.svg"></md-icon><p>Upcoming weekends</p></md-list-item>
					<md-list-item ng-click="go('/weekend/archive')"><md-icon md-svg-src="images/svg/archived.svg"></md-icon><p>Past weekends</p></md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
		
		<md-content flex style="padding: 12px;">
			<md-grid-list md-cols="3" md-cols-gt-sm="10" md-row-height-gt-sm="1:1" md-row-height="1:1" md-gutter="4px">
				<md-grid-tile class="{{we.destination == null ? 'not-scheduled' : ''}}" ng-repeat="we in weekends" ng-click="go('/weekend/' + we.id)">
					<div class="tile-skin" layout="column">
						<div class="date">{{we.weekend | date : 'd'}}<span> {{we.weekend | date : 'MMM'}}</span></div>
						<div class="info" layout="row" flex-gt-sm>
							<md-icon ng-if="we.destination != null" md-svg-src="images/weekend/location/{{we.type}}.svg"></md-icon>
							<div class="details" layout="column" flex>
								<div class="dates" ng-if="we.destination != null">{{we.from | date : 'dd.MM'}} - {{we.to | date : 'dd.MM'}}</div>
								<div ng-if="we.linkedPlaneTickets.length > 0" class="planes" layout="row"><md-icon md-svg-src="images/svg/airplane-oblique.svg"></md-icon><span>{{we.linkedPlaneTickets.length}}</span></div>
							</div>
						</div>
						<div class="location" ng-if="we.destination != null">{{we.destination}}</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
	</section>

	<md-button class="md-fab floating" aria-label="Add a weekend" ng-click="addWeekend($event)">
		<md-icon md-svg-src="images/svg/add.svg" ></md-icon>
	</md-button>
</div>

